{"filename": "kconfig-6.28.0-1-x86_64.pkg.tar.zst", "name": "kconfig", "base": "kconfig", "version": "6.28.0-1", "desc": "Configuration system", "groups": "kf6", "csize": "542527", "isize": "2436778", "sha256sum": "24e11b0f894679b368158987123dfa8a6ed3619f130dcfd596b653688b45d26f", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCalZRQAAKCRAtoqzD7OTc5k78AQD4gKTlQCDUg6wD/veEmAyEr85/SUi3ZJ0Xa2tmpdgKiwD/Rmnp7oI/9lz87Y/cuMBTvDOzj8AHi6/Qhi46T76T8QA=", "url": "https://develop.kde.org/products/frameworks/", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1784031084", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["libstdc++", "glibc", "qt6-base", "qt6-declarative"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-tools"]}