%FILENAME%
kconfig-6.25.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.25.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
524621

%ISIZE%
2346256

%SHA256SUM%
18ee8517dd0fd5aad4108c46d1d7cf724d29d6bd0b19cbbf1b8e41c088f3b035

%PGPSIG%
iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCadkaagAKCRAtoqzD7OTc5tKRAP4/MWbVYoVJzmVDhqxCHlUkfn8DLDaI0x07q9BX4AzJtgEA3i1pb9VbsiMGg3Gm42EOXYHawD4Y2x8Or/7mcwaqrwk=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1775831971

%PACKAGER%
Tomaz Canabrava <tcanabrava@archlinux.org>

%DEPENDS%
libstdc++
glibc
qt6-base
qt6-declarative

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-tools

