{"filename": "kconfigwidgets-6.26.0-1-x86_64.pkg.tar.zst", "name": "kconfigwidgets", "base": "kconfigwidgets", "version": "6.26.0-1", "desc": "Widgets for KConfig", "groups": "kf6", "csize": "366314", "isize": "1422980", "sha256sum": "525abb4d74946fd5cf66b1e43b1e50492e30934a8f6866698d1fad11b509fb88", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaf8E3wAKCRAtoqzD7OTc5noXAP9hTAJWFBusyoVnapNqR+VFcL17ockMPJYRbV+upHi5qwEA7Gtx4FteOd/zH+/HqsMx5ExQzHSwvAyY5KqWAQ8etQo=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1778312480", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["libstdc++", "glibc", "kcodecs", "kcolorscheme", "kconfig", "kcoreaddons", "ki18n", "kwidgetsaddons", "qt6-base"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-tools"]}