{"filename": "kconfigwidgets-6.27.0-1-x86_64.pkg.tar.zst", "name": "kconfigwidgets", "base": "kconfigwidgets", "version": "6.27.0-1", "desc": "Widgets for KConfig", "groups": "kf6", "csize": "366680", "isize": "1423628", "sha256sum": "bd7906173a2f976d0b0c2c2ae08a907b1cf26e28173453210001981dd66efe7e", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCai2CCgAKCRAtoqzD7OTc5kRcAQDKry/vf9yIKZlK4VnY399Qqh/nuhz5G8E/oHzgp9u62gD8DdZqFV6bU180czhuvrP+LrnfYYo6kTcKZ36YmZOP6gE=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1781351251", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["libstdc++", "glibc", "kcodecs", "kcolorscheme", "kconfig", "kcoreaddons", "ki18n", "kwidgetsaddons", "qt6-base"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-tools"]}