%FILENAME%
kconfigwidgets-6.10.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.10.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
702639

%ISIZE%
2024728

%SHA256SUM%
5be2a5b8fbbc2ef458289327ff994553ba0a82b8866b0a32680dd821a18d7702

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmeAGboACgkQek52CV2KUuQUpgf/Q9LsheaqwPe9JFxzFpdSadgrDqLOAgYfLkB04U+VKw44LwxdK7EDmrLp+EMOZ6/MZv3lmA36AyLYN9fX3ecIeRnK3yxql3WV+PGAYf8bH/dpjAGZjCBTcEBLfHHgWIgbuubVDdp1r8yYIYkXRF2jRNt3n95cSfjmhCVI3hanTWRbrY8KQ+RnDsQy53ygBec9iMCokOD3l6C7Ma5PAskiUW8lydMNhlt9YFwdxId35KPSlLZcsvGWz812Fuz8E/xmbfYeoLV45tkvmWU00WP5jaIOsE8efH7dKtTfauDN0cySmvRaCiBJLF/aRpvRZ0Nd786GezOa0/nZNHofoYEfug==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1736444832

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
gcc-libs
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

