{"filename": "kconfig-6.4.0-1-x86_64.pkg.tar.zst", "name": "kconfig", "base": "kconfig", "version": "6.4.0-1", "desc": "Configuration system", "groups": "kf6", "csize": "1402924", "isize": "3747853", "sha256sum": "f848253326a927cce2fce2d86d996b62db39feaa4f2d037deeec057faf463059", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCZpF8RAAKCRAtoqzD7OTc5uUCAQCuCkMS46Zw4heo5g+62VHWk1esiNMbtcMb5my7bU3xMgEAwEP/ybY8+bsLnKTYaYNeKPcm2R52N98QgXXrNwqaMAw=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1720806681", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "qt6-base", "qt6-declarative"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-doc", "qt6-tools"]}