{"filename": "kconfigwidgets-6.9.0-1-x86_64.pkg.tar.zst", "name": "kconfigwidgets", "base": "kconfigwidgets", "version": "6.9.0-1", "desc": "Widgets for KConfig", "groups": "kf6", "csize": "684463", "isize": "1988560", "sha256sum": "7c9258f88d781bf35ee864a51fa948a60fdced604b641c755effd78b4fa2930b", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCZ11ixwAKCRAtoqzD7OTc5mO6AP91lCE6qImsZNirubV/QrHIoO2H6SaSEae/Z9i6TvrHrAD/WQqwWxAkTAhl2s6KLAZxTvEjewVtrSd+DoVuZ1jyhQo=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1734169629", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "kcodecs", "kcolorscheme", "kconfig", "kcoreaddons", "ki18n", "kwidgetsaddons", "qt6-base"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-doc", "qt6-tools"]}