%FILENAME%
kconfigwidgets5-5.116.0-2-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets5

%BASE%
kconfigwidgets5

%VERSION%
5.116.0-2

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
431553

%ISIZE%
1626203

%SHA256SUM%
7f15f3f123ac89eaf02ab15104c00bc1fd966308a8f84b882f416ea72f13284d

%PGPSIG%
iQEzBAABCgAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmkHLD8ACgkQek52CV2KUuQbggf/cNnr+RjdEdhvPgkyQ89KC567QIfosjuLnezaQHXSQP6z0b0Ok/Uf68hlzaGSigx4RdFVwXjLIdmVoNS/oP7EQUfqBBo85oqgk+MyhurWLI2cLBsYQ8M5eMYYwbZz4/OFSeMbUBONfTEZZlnuqELzo84M+9uaEzF5Tb9bwGuCNKL8WoTmx12/d8fvl9o3rmUPACyPhZeah9ybWwoLe2AfGkQwP4juJrEClSkDIBkrMBfGvJkLa3cznk6S6l7Jm5gF61UX5353bZA1w8svBG7RcbwmLyrLlTyvsTh4MGLEkRrnSButF7uHaXxW3pHEf7MjFuwELNJDkESwBFYphJuxzg==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1762077671

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%REPLACES%
kconfigwidgets<5.111

%CONFLICTS%
kconfigwidgets<5.111

%DEPENDS%
kauth5
kcodecs5
kconfig5
kguiaddons5
ki18n5
kwidgetsaddons5

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
extra-cmake-modules
kdoctools5
qt5-tools

