{"filename": "kconfigwidgets-6.28.0-1-x86_64.pkg.tar.zst", "name": "kconfigwidgets", "base": "kconfigwidgets", "version": "6.28.0-1", "desc": "Widgets for KConfig", "groups": "kf6", "csize": "371116", "isize": "1446491", "sha256sum": "fc8696e3921865266e26338c64e17f9a5764b8ccf28bd3938a802278ea71cb02", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCalZRewAKCRAtoqzD7OTc5h3fAP9K3SSiEAF1GeSgQbHp1SwiftYEongx6cYeIKCovxYArQD/VDZyX8dgMci1/ILQlXynEw1n/oNFOCwydtMEkAXcRA8=", "url": "https://develop.kde.org/products/frameworks/", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1784031592", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["libstdc++", "glibc", "kcodecs", "kcolorscheme", "kconfig", "kcoreaddons", "ki18n", "kwidgetsaddons", "qt6-base"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-tools"]}