%FILENAME%
kconfig5-5.116.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig5

%BASE%
kconfig5

%VERSION%
5.116.0-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1205818

%ISIZE%
3069438

%SHA256SUM%
70e0d49737e92ad3a6152101bea61b4ff44254b20fe3c4e03225fd1c6cb5ed69

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmZKK+EACgkQek52CV2KUuTX0wgAkD825Z2mVAysgzcjz7+GLseDOhUNt7RiWBpU1NPLMyvKG5spxwOaU3hUuBKV6i6EVrxzmUI81A9wKiFe6q2B447Rq+2Bb49CgK+NEgs/n+jVUjadsYD6CvAFHEGvMAqJyR38E+iXFEIgwVOk4mz1Nh1bg2yrtnttM6xdtQYDeunKtoLVVKddbzd7dHWLQOKZPxZ9qll+4NVUjUFpmxxGFhejopZ/IBxG9ACIPKgSvvAM9z5c18Fzp2kgBN6th6w+6oSh1fq9AYJVVrQsK5ODSJWTbEkbwnn42GllGtkszn5CdGtXazOUZyWMvAw2kx8mCMxkSVb0s7jvmfuRMKN6NQ==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1714840611

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%REPLACES%
kconfig<5.111

%CONFLICTS%
kconfig<5.111

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
extra-cmake-modules
qt5-declarative
qt5-tools
qt5-doc
doxygen

