{"filename": "kconfig-6.7.0-1-x86_64.pkg.tar.zst", "name": "kconfig", "base": "kconfig", "version": "6.7.0-1", "desc": "Configuration system", "groups": "kf6", "csize": "1416416", "isize": "3844982", "sha256sum": "e07ed68f89a245420be1b9419d9c71fb31ea80df2033577d115f527fba52e21f", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCZw1MfgAKCRAtoqzD7OTc5gcfAQCLsJBEH75E1o8TRQF0JhkOZWQJQuExf6VF31CfDdNd/wEA9WBQmD+C52t0Zu5iLNtEcafRnga0ITM5Ly0Q7MCzuQU=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1728876357", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "qt6-base", "qt6-declarative"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-doc", "qt6-tools"]}