%FILENAME%
kconfig-6.11.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.11.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
1466541

%ISIZE%
3962053

%SHA256SUM%
d204640bc72638d8467b3d62c070c4959498fa4354c32fc5cba02135d424980a

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmevX7AACgkQek52CV2KUuQJEgf9FhflR3X6CThXEcjS/r791deStJ48a9tb8y1PutIWIgDdRQVSswETHrFjClFFG7p6u+MrRqeFWSdY3Fvo+PJK2CW+xR1k192tqkmJCNRcmaUzZXHgh2GgSZyuPgBaxTF7f/XiR4fCwqAXpVYYmsYWe9nNKJO4Ce5ZjgxnSwNWqe6xNVEDr2R7VxLbkHFpjQL9fjJoV2aNvLoeKtlwuwB29s2nvCq8YHNXR0owl2J7WQKwR+N3GNcmpuNprjFZ05Jcn9TQImIeWdh5vRlRZdgpGxbWlsNLcIxIFiRtq/BuQIH+vTyw7m2VjbbJQNII+cUFugVTW5ZYWYCg7/TVazFrsA==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1739358771

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
gcc-libs
glibc
qt6-base
qt6-declarative

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

