{"filename": "kconfig-6.30.0-1-x86_64.pkg.tar.zst", "name": "kconfig", "base": "kconfig", "version": "6.30.0-1", "desc": "Configuration system", "groups": "kf6", "csize": "545503", "isize": "2454256", "sha256sum": "aadf76a6284a1b15d45be3f96699d564908cedeec5c0dad17cbdb8642ea8142b", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaqGfDAAKCRAtoqzD7OTc5ouCAQC0daxGV2T8RfjKEm9ZzlUGieSUVtuCPZaYCBU4PkKhDwD/R3qK/g1DqDTY0e7R9m21oy9EkxWnDjSNhsILUkCm2QE=", "url": "https://develop.kde.org/products/frameworks/", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1788972285", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["libstdc++", "glibc", "qt6-base", "qt6-declarative"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-tools"]}