%FILENAME%
kconfigwidgets-6.6.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.6.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
683410

%ISIZE%
1980075

%SHA256SUM%
5a9be132d384d2880eb35405f45b44ba34fb94e27bbdadecff3ae35cb16f0e2b

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmbnCokACgkQek52CV2KUuSYfQf9HVzUmw2QIAbZ5G04Y66wi2XZtAscXLTe4MAYDbYO/WjgLBcNfRKd/MkSbvhFHUDUvSgeiYhKJdBgK0cUF3iSvd4SXX3iQVGOHO0Gon2qJwbhAvljxM9mFCNPeGYYcalZTpbmtkW6ENVt+DLL9gRZrdYkuXPB3pgHJKp30zepn4Snkcq+2A/oV2LJe5SnTyn0pNQCqzUNvSxsZb3SieCrJmT22trt1czMuxiPU+Fx8SaPkn6v2pexKOtxMSGbuc+OO8Wld7p8zWcmTV+KM6JqNMpXOmrWz5bVszn0b/iIaolAR3XKXqXS5ZLY8v3PHEmwkuUIUyhr8u2r9wEzLcf+XA==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1725641520

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
gcc-libs
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

