{"filename": "kconfig-6.9.0-1-x86_64.pkg.tar.zst", "name": "kconfig", "base": "kconfig", "version": "6.9.0-1", "desc": "Configuration system", "groups": "kf6", "csize": "1421052", "isize": "3868861", "sha256sum": "f134c60bf7f427c09365f74bc5965c82ed669092bbbbb65f48ebb3a5d7ad5147", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCZ11iqQAKCRAtoqzD7OTc5njiAP9GHzSk56PsXkaj6DS3dt4A2xIAx1WeTLvTelE2C+w2qQEAn80i78MCQFqJ7NzXk3LP0CcYafMumvUL268Tc35scw8=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1734169963", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "qt6-base", "qt6-declarative"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-doc", "qt6-tools"]}