%FILENAME%
kconfig5-5.115.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig5

%BASE%
kconfig5

%VERSION%
5.115.0-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1212753

%ISIZE%
3083937

%MD5SUM%
c171bbfc6bd63b6ffc0188ec1a2a681a

%SHA256SUM%
01f4f5a670b6af8d7fefb74c441be279671fcce097272b979ca826de714479c3

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmXHZ8EACgkQek52CV2KUuRr3wgAjyhK8ixIUrZ0hUmhSd7x97DpcQ6zuv0Q2jqVxYAk/FCU6M3IOZQkwkOnIOwV6JgsfXD611aXV74XxiV9Wta6137trb75qZsLsehQN5TdKegdMsUNc72R/xZAkTJc/x7H14pG/5QOm4b4zEhRXaZDFDapihm2xS7wMzIdZED2kp2bmyK39Krrm/HxrA6cLTW+iXPrrxmerJbxiixpxDAIQQsDaXTy8q0wptUrrU1ClGsw4SvmNfL00kb7pC/aUJASi3hg3iIML2awskVhttbRVhvogOyUuKQtbQEWhBYwemL2BlsUcCA7K3Sfmzb1IDwbdixUUVBqFIM0C7CSC+tuGg==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1706980785

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%REPLACES%
kconfig<5.111

%CONFLICTS%
kconfig<5.111

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
extra-cmake-modules
qt5-declarative
qt5-tools
qt5-doc
doxygen

