%FILENAME%
kconfig-6.1.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.1.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
1277883

%ISIZE%
3277204

%SHA256SUM%
a2747ab7a538ec5c48409ca8efbaafe65fd14febdba592037651b5590a6338c0

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmYZYGQACgkQek52CV2KUuTfoQgAiMgIX61Z67x9ItjjaGSONYmqWKKRV2x2qYfCuVqhIJP8MlYYBjeVT6sw0Fo4OHtfszd0hVIaNl5kWCfXD1Z+/rSQH30RuyPlnu99MQhRV7+5MJLh8uBDMF8iZMNxVpNIxDRxUDhb0Xb+y/EVRUXUcchN+H2t3h3tPcRVGheQ0/qFLZWw7ck7uenqYrYRrGwIPInQ0Ds2qdh64lytOk8YBWp1jmmW1yxnWsshW9xa4eDJZEY3/E0hQJCjry/4kO+VeOCjoig029lvyipqd/+cGAYnM2zUkweybvJZNTtU7B8nZ/Bjov6l0HSSyDW/zx1afluFSMhyYTQWMwsUdNCTPQ==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1712494767

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
gcc-libs
glibc
qt6-base
qt6-declarative

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

