%FILENAME%
kconfigwidgets5-5.116.0-3-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets5

%BASE%
kconfigwidgets5

%VERSION%
5.116.0-3

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
416857

%ISIZE%
1612586

%SHA256SUM%
ef5f4748a0a354766edd9ba80c059cef2f65c19800e88a0d1679abd5b9f2ee87

%PGPSIG%
iQEzBAABCgAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmkHb+4ACgkQek52CV2KUuSoAwf9GPLVcxV/nTa/vuhhUA4c2CgZS1dS/TVpJ9RSy+QCOGdj53QKrSvDi0qKSRc0ZWAitm93UFE6GzLFJqX4cGQJt2PMVjvYBpVCSBMdQ+z2JhBw5FO+BTLTS3G1fzua60eCHdRxZj43veTyLlnB21O+TO+adx/TJzPVbg/6IKYvv6gALD8S8f9l5YWxqybNAwnKiJ7nkcw/dTb0PpgaqdPZK246aWh/lgEAKfNMsrtb6YcCAy0jPfAn5o12MIR4copyFk//45vJz/oNdJJgXYiz6uaZwvZMvD516I2uS4tq4L7esC9GteUcV9FMh7cCJ/UXYh+HeeZMv8g9Sx8DnI8uXg==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1762094831

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%REPLACES%
kconfigwidgets<5.111

%CONFLICTS%
kconfigwidgets<5.111

%DEPENDS%
kauth5
kcodecs5
kconfig5
kguiaddons5
ki18n5
kwidgetsaddons5

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
extra-cmake-modules
qt5-tools

