{"filename": "kconfigwidgets-6.7.0-1-x86_64.pkg.tar.zst", "name": "kconfigwidgets", "base": "kconfigwidgets", "version": "6.7.0-1", "desc": "Widgets for KConfig", "groups": "kf6", "csize": "683614", "isize": "1981644", "sha256sum": "278ef01e0d7cf333445d990cec017c3399aa502c7c980b11b2d63aff36b263d5", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCZw1NFgAKCRAtoqzD7OTc5kykAQDe9FrWbzJrqE1V+HcAaJ1Wg2vpuK5tfoAjkfsfW5jI4wD/Xj0g6PufaBTqdgdNba7IuFMC6g4pCKoj5dK2Ds2biAw=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1728876553", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "kcodecs", "kcolorscheme", "kconfig", "kcoreaddons", "ki18n", "kwidgetsaddons", "qt6-base"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-doc", "qt6-tools"]}