%FILENAME%
kconfigwidgets-6.9.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.9.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
684463

%ISIZE%
1988560

%SHA256SUM%
7c9258f88d781bf35ee864a51fa948a60fdced604b641c755effd78b4fa2930b

%PGPSIG%
iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCZ11ixwAKCRAtoqzD7OTc5mO6AP91lCE6qImsZNirubV/QrHIoO2H6SaSEae/Z9i6TvrHrAD/WQqwWxAkTAhl2s6KLAZxTvEjewVtrSd+DoVuZ1jyhQo=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1734169629

%PACKAGER%
Tomaz Canabrava <tcanabrava@archlinux.org>

%DEPENDS%
gcc-libs
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

