{"filename": "kconfigwidgets-6.18.0-1-x86_64.pkg.tar.zst", "name": "kconfigwidgets", "base": "kconfigwidgets", "version": "6.18.0-1", "desc": "Widgets for KConfig", "groups": "kf6", "csize": "361284", "isize": "1411519", "sha256sum": "49ad87413b955b635025d4558e555355ea4f7b28d96440186438d9bf78aae97b", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaMWEXgAKCRAtoqzD7OTc5uuxAP0cDxcE68UvOTskuPsnBqOPykzDBgU4JZx1+jHi+ei/9QEAngdtR4GJCUbXpOorGhmxEJwgkYcS12dPU3pS+2FKnAY=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1757769180", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "kcodecs", "kcolorscheme", "kconfig", "kcoreaddons", "ki18n", "kwidgetsaddons", "qt6-base"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-tools"]}