{"filename": "kconfigwidgets-6.5.0-1-x86_64.pkg.tar.zst", "name": "kconfigwidgets", "base": "kconfigwidgets", "version": "6.5.0-1", "desc": "Widgets for KConfig", "groups": "kf6", "csize": "683539", "isize": "1979794", "sha256sum": "4775401b80efce634a0045e821a2f6a802f86ed1a07110e7aa3c9e8cca3082b8", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCZrY/2wAKCRAtoqzD7OTc5tL1AP0SqsuI970eOR5Bj/Bh++7U690mGWKFsrf7b5S6c5bV7QD+MukEvgdKPMVIEePW7S8eq08l4E3qzWAlfwfwUxeA+QE=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1723212707", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "kcodecs", "kcolorscheme", "kconfig", "kcoreaddons", "ki18n", "kwidgetsaddons", "qt6-base"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-doc", "qt6-tools"]}