%FILENAME%
kconfigwidgets-6.4.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.4.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
682808

%ISIZE%
1979620

%SHA256SUM%
1d0ddf4fd44b821dd3f26eda0c400c1b9eab57f3b1f9919fa60a20485f5bc8f0

%PGPSIG%
iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCZpF8kwAKCRAtoqzD7OTc5rf/AP9HnT495EOY/jZKdHSOWn+bn0w4phL7pTZ78FgHyemhtgD8CEkeeFh6cJfQKod5hUvdR3MJAqtDhbuLDFcSApUsCgM=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1720806873

%PACKAGER%
Tomaz Canabrava <tcanabrava@archlinux.org>

%DEPENDS%
gcc-libs
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

