{"filename": "kconfigwidgets-6.19.0-1-x86_64.pkg.tar.zst", "name": "kconfigwidgets", "base": "kconfigwidgets", "version": "6.19.0-1", "desc": "Widgets for KConfig", "groups": "kf6", "csize": "361138", "isize": "1411517", "sha256sum": "d29c8f13b15199e9b0565db93cddd35a8920344a0db9bd90f4fee2d5a5f123a7", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaOvV6gAKCRAtoqzD7OTc5gjYAPwL9ep9gJFnFKGEqMtw66L/CwoDI3F1nK1BswawAye4QwEA+Tx3gS4ZPNzuwXRTXVGrYf8o//fZ2UBO0UfANL3xiwk=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1760282754", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "kcodecs", "kcolorscheme", "kconfig", "kcoreaddons", "ki18n", "kwidgetsaddons", "qt6-base"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-tools"]}