{"filename": "kconfigwidgets-6.23.0-1-x86_64.pkg.tar.zst", "name": "kconfigwidgets", "base": "kconfigwidgets", "version": "6.23.0-1", "desc": "Widgets for KConfig", "groups": "kf6", "csize": "361513", "isize": "1411662", "sha256sum": "0e0d0499a7ec39bc9f3f74a70d4db8037c7af02502003ec9d34c411ea0944735", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaZC7hAAKCRAtoqzD7OTc5jo4AP9aaqz1hSaeK2G/ikOL9PVTHgEAxU3VJiOybYpCCgarrAEA2oFVeq5lRj5aujm47hRq4XJtkHpQRgjoLTz8Ue9tzQM=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1771081154", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "kcodecs", "kcolorscheme", "kconfig", "kcoreaddons", "ki18n", "kwidgetsaddons", "qt6-base"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-tools"]}