%FILENAME%
kconfigwidgets-6.14.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.14.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
702858

%ISIZE%
2032375

%SHA256SUM%
dff3792bfa0470f4d86c91cd201b6fb78f8fb96097ee005aabc211cc76cd5d01

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmgfKWQACgkQek52CV2KUuStMgf7BqnGQOAzNgLeFY+Ufld6SJJEOsaRlSOldBQ5zJe1/iQQuB4KaywWWabsjveJpvYMPrYmPxhLsOy4ELCSSS7GUKRZaPT9IzRZbGsa2/glgmDumJBN5DhWMsvaYzInzTtF53uJA0pzc775qf1CHRujLk2daT+nof2WnvETLuKE+q3bajkGWIz9ijb8BeypYfKLGeBQclg8oPVgTIrriiEt8vvDB9leNEMnAuOWYxsIPKq8kddRICWgM8w444PtNJ6vlotAoC3T8nY/kUepG3SEBwWjpycHykrYnkMWgmKBVyXOseYVui+f9dhqlI9b7Rahne3Gtiw5AvpQq3gAOhsn/Q==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1746866125

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
gcc-libs
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

