%FILENAME%
kconfig-6.26.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.26.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
533503

%ISIZE%
2377158

%SHA256SUM%
2f2f9f68607f94cfb586843e3d9bd6ad2522b9d93bf24b05952162ccfc86f619

%PGPSIG%
iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaf8EugAKCRAtoqzD7OTc5tuOAP49GiQjQDC1rYw4hMU3zsHyfjvOjct9BQY9M2z8sP/KvgD/fofnufBTF3UcQbk5mbjQmHzFegk8mJBK6fZdpoHgsQo=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1778312223

%PACKAGER%
Tomaz Canabrava <tcanabrava@archlinux.org>

%DEPENDS%
libstdc++
glibc
qt6-base
qt6-declarative

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-tools

