%FILENAME%
kconfig-6.29.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.29.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
546393

%ISIZE%
2453386

%SHA256SUM%
7bf175d7ff15cc81041886844ca1d87b287c63f8272a263ba119866f0d812bc3

%PGPSIG%
iQEzBAABCgAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmqCx5gACgkQek52CV2KUuRnigf/cMRo9poSXsHGFisHi8T48LM3uFJW3E/xNd20f5j5zDcXATK9vvvlvFdUR5WVae7vtxZ8cEn3z32Ro1hZzpFYL09FJ6lMSNWiEebuyM/MJB86WH9gKWYyjhM50c4niPTHE48Y03N5KyTkN9vqsddzqgWih4qhaAzu5jSMnvFQ2u5MhD32EMtASpbMAFKXSlxY3AsMAnPb+o3WvfouXvJ+0G+sANNLsjWxbanuunKlW3+x2LGLJGj3ULeclGe8efbtFAt9aBy+9EnMSJxdXnV0ezV8zoAMPs5f5B3agCVoSKreqH+wLOmVHtFu6lJgSTfT0tBqVdV+mOac/9Z/gupOLw==

%URL%
https://develop.kde.org/products/frameworks/

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1786882318

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
libstdc++
glibc
qt6-base
qt6-declarative

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-tools

