%FILENAME%
kconfigwidgets5-5.116.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets5

%BASE%
kconfigwidgets5

%VERSION%
5.116.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1167060

%ISIZE%
2786121

%SHA256SUM%
9879a22d44cf7516d95a69d617441f20aa84fd35f644a4d618759b3338ee378f

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmZKK/oACgkQek52CV2KUuQzsAf9ESnkaigygoMKywSXQqn2APbqsGX7GJJkcQYEA5HKdJ0Y3J4gwOq/eqk4zjp65finkNrtTh+EmRG2mO0vmuXL7CuS/DXgUvO6NRYvv5YEN1J9UfkC6txW1d8BTvFB/aPtn2AtXyl4rYOstqbUEjeSz3PtSsDMwY5A/JM09fnpMLcJPshzG0rqJ33btuFniGyTTpos2vvzi8eMWhwxQDhc+z9+cBNQvsjIc56Bo/PBCSNRBxL12CrgXt4ChaLo5auS3KisOGTYpxtFfcQx/t4/5n5syyG1lVLhnocCSYHn8mG29n581t72+zeWbnKOECWC2OO5HpBzx92QStM3JHSceg==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1714840747

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%REPLACES%
kconfigwidgets<5.111

%CONFLICTS%
kconfigwidgets<5.111

%DEPENDS%
kauth5
kcodecs5
kconfig5
kguiaddons5
ki18n5
kwidgetsaddons5

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
extra-cmake-modules
kdoctools5
doxygen
qt5-tools
qt5-doc

