%FILENAME%
kconfigwidgets-6.15.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.15.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
361174

%ISIZE%
1410809

%SHA256SUM%
369b08f6b8255db8c3ae9cfe1998b7b39ce86c390d707def506cc0d73efd2dd2

%PGPSIG%
iQEzBAABCgAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmhMZUMACgkQek52CV2KUuSFsgf+NDIh4UD45+5VF/blpqvGogKb4Gs+Q+U5SmI/bpUrOZ36Zl1zGCRu/Q2v92hHhi/jl8CXYS5JEOpBZRoIF2j6CBcuw0V/wloOippPFQ74gAhuLstPIfn/72YWFTrtfoEmoiG1n+JOVwaC3cUavRRsCOWAeUoEIbxDW8jZHPJLch49+tyRGIBDuebnCRvykrOu5odjQAjfhcwI08yhQC6dXeGR+0XDBWnzmvsZnKdnagZ99GZTau0Gtrsjl0xWjH3Q3Q8ty7MVNJq+ih7oNWY+DjWOGFnezWF1BqbuvCuB7KoHurKcvQzO2GegtH+XCJNaw8wd+Vde2Jqv5Y0Fc/9ppg==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1749825487

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
gcc-libs
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-tools

