{"filename": "kconfigwidgets-6.16.0-1-x86_64.pkg.tar.zst", "name": "kconfigwidgets", "base": "kconfigwidgets", "version": "6.16.0-1", "desc": "Widgets for KConfig", "groups": "kf6", "csize": "361702", "isize": "1414012", "sha256sum": "26f72bf1a18bd4bdad0871e3a7cadce20c2db2f77b301e099c4b3641b2d6bb02", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaHFR4gAKCRAtoqzD7OTc5l89AQDAA7segwt0RORXsEEAUqM59cQrBtjcRvgzwaJ0dl+ZpwEAgYfwsH0tQ4Oxp73x+7cSEg9Di7rqRJic8Q2dvtKjBwk=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1752253393", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "kcodecs", "kcolorscheme", "kconfig", "kcoreaddons", "ki18n", "kwidgetsaddons", "qt6-base"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-tools"]}