{"filename": "kconfig-6.27.0-1-x86_64.pkg.tar.zst", "name": "kconfig", "base": "kconfig", "version": "6.27.0-1", "desc": "Configuration system", "groups": "kf6", "csize": "536710", "isize": "2398596", "sha256sum": "8d09f731d2749c00372ecee6956d569a315c5fba7b306ffec94347d581bfe956", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCai2B5wAKCRAtoqzD7OTc5ifLAQCh56tNJOj1U0XxWL+k7UNwhYGoRauW5Y/gvgsvsa5wFgD/VOlWVVVMx6qaTcxt/i62WX0FDN24tWgNg7qGC50G2wU=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1781351018", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["libstdc++", "glibc", "qt6-base", "qt6-declarative"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-tools"]}