{"filename": "kconfigwidgets-6.4.0-1-x86_64.pkg.tar.zst", "name": "kconfigwidgets", "base": "kconfigwidgets", "version": "6.4.0-1", "desc": "Widgets for KConfig", "groups": "kf6", "csize": "682808", "isize": "1979620", "sha256sum": "1d0ddf4fd44b821dd3f26eda0c400c1b9eab57f3b1f9919fa60a20485f5bc8f0", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCZpF8kwAKCRAtoqzD7OTc5rf/AP9HnT495EOY/jZKdHSOWn+bn0w4phL7pTZ78FgHyemhtgD8CEkeeFh6cJfQKod5hUvdR3MJAqtDhbuLDFcSApUsCgM=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1720806873", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "kcodecs", "kcolorscheme", "kconfig", "kcoreaddons", "ki18n", "kwidgetsaddons", "qt6-base"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-doc", "qt6-tools"]}