%FILENAME%
kconfigwidgets-6.29.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.29.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
371201

%ISIZE%
1446694

%SHA256SUM%
5d9b4dd90305e913505518149f974c65476cc567c9e1e7a807e043329979ddbf

%PGPSIG%
iQEzBAABCgAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmqCx7cACgkQek52CV2KUuQqBggAmnbfkzjtXKuoD12XgqpcjBQ8ioe4PGL12N2FPMxe1Jlsmxs8cebQBwVa1z5DkZk7vfhrsEBC4McT/eYBJqiQN8kIdGxUCyxflBCxitc5uA5NiKBdRPeceA8Yqe4qXuUW8uWOfiPnKKiJ31LFsL3DQHzoyiwSz3SuKfMnNcb9l1V2X3+fj9NNWvWpUzM2TYD7u+WXiOi3CvVhpYMfgNKxaLUlwE6jp2i1lX++Ar9OlGBoyatmvC4mYSUYbgy8MxQBlunU+5zjO+qjjEGp7OdUALIUl9HpMu1AKp/wcQzdvZbukxZOnT9AT57qEbwE37jHu4GFK8THTcdbjGBdJqc7Tg==

%URL%
https://develop.kde.org/products/frameworks/

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1786882556

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
libstdc++
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-tools

