%FILENAME%
kconfig-6.30.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.30.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
545503

%ISIZE%
2454256

%SHA256SUM%
aadf76a6284a1b15d45be3f96699d564908cedeec5c0dad17cbdb8642ea8142b

%PGPSIG%
iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaqGfDAAKCRAtoqzD7OTc5ouCAQC0daxGV2T8RfjKEm9ZzlUGieSUVtuCPZaYCBU4PkKhDwD/R3qK/g1DqDTY0e7R9m21oy9EkxWnDjSNhsILUkCm2QE=

%URL%
https://develop.kde.org/products/frameworks/

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1788972285

%PACKAGER%
Tomaz Canabrava <tcanabrava@archlinux.org>

%DEPENDS%
libstdc++
glibc
qt6-base
qt6-declarative

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-tools

