{"filename": "kconfigwidgets-6.20.0-1-x86_64.pkg.tar.zst", "name": "kconfigwidgets", "base": "kconfigwidgets", "version": "6.20.0-1", "desc": "Widgets for KConfig", "groups": "kf6", "csize": "361296", "isize": "1411644", "sha256sum": "48059159dc4525caaf49ac8265f26ab1f139f69472de4222dc693167d6b2c410", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaRtuowAKCRAtoqzD7OTc5qqOAQDE0Dl5ibfV7Np4t/cXuqIzo2b3OXNQKDcTmHGrjouysAEAhHcR7PmJhldrw98/uVWiFB6CUXW1BTLuwNYLLvQUPwY=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1763400255", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "kcodecs", "kcolorscheme", "kconfig", "kcoreaddons", "ki18n", "kwidgetsaddons", "qt6-base"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-tools"]}