%FILENAME%
kconfig-6.9.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.9.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
1421052

%ISIZE%
3868861

%SHA256SUM%
f134c60bf7f427c09365f74bc5965c82ed669092bbbbb65f48ebb3a5d7ad5147

%PGPSIG%
iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCZ11iqQAKCRAtoqzD7OTc5njiAP9GHzSk56PsXkaj6DS3dt4A2xIAx1WeTLvTelE2C+w2qQEAn80i78MCQFqJ7NzXk3LP0CcYafMumvUL268Tc35scw8=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1734169963

%PACKAGER%
Tomaz Canabrava <tcanabrava@archlinux.org>

%DEPENDS%
gcc-libs
glibc
qt6-base
qt6-declarative

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

