%FILENAME%
kconfig-6.24.0-2-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.24.0-2

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
517905

%ISIZE%
2314218

%SHA256SUM%
059338dfff155bdf96a6864ae3bcb8fed6a17b825f460f2e372050a635a1b103

%PGPSIG%
iQIzBAABCgAdFiEEtZcfLFwQqaCMYAMPeGxj8zDXy5IFAmnAQS8ACgkQeGxj8zDXy5JvEA/7BuE4UeaOY0rj0IJkwfQvPyB+oS67iEOL0ee3rcDjuoEZo+IfsoKk8lC7Y0yG4cteiTT5gyvRibA8YDep8M3tBsf2jh/9+z4GT8IbHEpp8q92jqRHpKKq4+k12wcUQJpKBNqhpp3B0cruXG9at852skr1CGNCw2xB//4sj7J5jNr+ItZxAOrk4L9xFkdKOOGleulRy2lkijFW3GTcwzqoazgw0IfFjc+yV2yQzojqlk54H4WP/s+qieMsaTzQLlJ5bJUGjgpVp6MXcHxSlRpwt6+px7OWfTb9CKRheBblphP0er23BHZbhioFtA3b0bdCMwG0/jRzVwG167n3ZACmQq4JEC0j/FllVnn5qqbdkB4r9bkjQtgoyBw/Y9ktJXoofldLmMMIxzv6gcIUZ7EpOvT6yJ1mjNRJOwE3V7WiUwYWcIyAr+Bhh6uyBOOtApcOCPVdMUvv4BzJ8LUaaVcU9+LvMsnkyBGORS7+/ulCof9E8YTg01gKAUrreVgYCZrhQCO7qyHWsuJn4k0pVuSFumShb0gc7PDuvgZUzt08sZh8viSrzrToyiZ1sw4ClQxexpbj3jciwqK3J21gcWXOHwA5cZaxDAJ8byV5A3PNO445d+dWw4jOP2C8b8AY4fY64K6hLFpCdOiOjZDFFk58PV34FOzuwEf6swH+wG/ts20=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1774207225

%PACKAGER%
Felix Yan <felixonmars@archlinux.org>

%DEPENDS%
libstdc++
glibc
qt6-base
qt6-declarative

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-tools

