%FILENAME%
kconfigwidgets-6.7.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.7.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
650212

%ISIZE%
2132638

%MD5SUM%
1879c446fdf2b2a0f16869d5d8dadce2

%SHA256SUM%
7c4dedaec6a56ad931feb5f7f16eff1414cf391978efa1690b3ba1cacfb8528e

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmcQiZcACgkQdxk/FSvb5qZrXRAAljYJ/C9jQy+0eyQipoY7WuJLI7LRGdBNO8+GGQCoEaal78P2Ug9oLIkdvjU2hpQ7dAYXprTxXdUGOGrPmKuVRBf8bMmXB7rSHRoBg4uiR7UgIr1w77d3osWfT+s+OEzU7uExTDFzawsYG7re2DWQucNriZ0tYnwDAw/6qmxhhcipv2NKl5PD64AKjM/6jL/27GdhlJabUf14wizeGYBlE0rqAGaTYgJzZtM7YSPzqXYRQSYGHbUBRnWrOUCVGDAEZOIjNbZiEA5bvVZiAZj3Pkj7BieB+bxn323QYH6QIU5DwczoLbRZfRQbWfLyR8H93W4n5yDHnFqubjkq4AL7wcar9jbEmaJqboKwo19sIQNKn4gISpovoA1QcI4QawzTQprw1QDfNTYs58JDp0gV905v+UUW1qVnmMJCbh4R0sxWtbosbBAPMEJQKkSw6aaGq5E6EiNCbIiK9jaNryyTS2N58Z5Aof7k/rJQ2aZxODM09m4MvYrUYwuBpYlYiu7NCDcM5wSzQxfcA3PtqeUW5s3oJ0Qye8lnRBOBWsOj7r5e7qLH2i+1Xy2tJJGr9+2GYZfHQXTHlwUCRVMSSbbeNK5A6eYixZlCsgC8hhOJar9qBF+/Cwd0MGGS6dogLrlUZdE5FXRDw0taB01N6rAzhjDCw1DvffOKEZCbrdiNvps=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1729136929

%PACKAGER%
Arch Linux ARM Build System <builder+n1@archlinuxarm.org>

%DEPENDS%
gcc-libs
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

