%FILENAME%
kconfig-6.15.0-1-aarch64.pkg.tar.xz

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.15.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
470436

%ISIZE%
2684776

%MD5SUM%
9260b7912366e3223bc6e8a29202637f

%SHA256SUM%
fa516f6cf98714177ed632e7108c6e0bdff876028508df166f008b858758657e

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmhOsTwACgkQdxk/FSvb5qbGkA//QXh5rwynD75ZTIPRCC6Zg+YUyRmQLcQ2TAJ2jaJNFykH5/+p1gJmdQWKZhfsYxRs6iPTo2wMoxTPcMbc1+M+vUyO0Mji8U5BIHtilx1gCRd2YdYq4BDAsfNCjJIHU13/W43MmELU/m822FDLJ8nieizjZziiw09nP+AvxJH4XKuPkXp1prKImULInLdWHHtJnheL2iWnbYmo3mRum5FXVn2LramC7zP5ho1Pscs2bTXmlU7JsF4eJtMNDqU1gEUkwAwu+y+9PPLZzMLWgEUklYLedxM9P7FBHY2NNO7fCVIFmi5UNgUiurSryp94Y7TlXm6BWZ1x4ePUPXhem/uA/hRxtlAqWPnFnKHkkNbkPfb7cEktN+HWJJkANfQwTKwI2tRQo12qFdbntFRBi4yIn9SYBie0SYWNlc1rNS4IWQY1BRlPkhh3ITuGF0de5kSPVQazoqd4uCtTykyAWudE2sf3KpFrAs+W3Y3jsy7YTWip+fzszRBM1P01ZvjWmdIdtpzxpeZHJAdtUCHjRRUSBH2/Z221WJNeNkL0R2EvvT/eqI8APImG8ENAEMiG8TVDLVIyCViXMS5k4qox7PlWdeXHFx62JYDVQaZWquD2qGw3rwZ2MqKmJzu1FjShutYgPJTXqDPVmJUUfk447bKGgtW87GDpgyB+b/jVUKX6Vbg=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1749987545

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

%DEPENDS%
gcc-libs
glibc
qt6-base
qt6-declarative

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-tools

