%FILENAME%
kconfig-5.109.0-1-aarch64.pkg.tar.xz

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.109.0-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1208268

%ISIZE%
3364441

%MD5SUM%
8e2c3df44aa782231a3da382f53efad9

%SHA256SUM%
a441b2c8b5b8d31c72142632440e7eb5631abb01a079e3dd4f0bedf076c83cef

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmTguYMACgkQdxk/FSvb5qbC9BAApCujakoQClwHO0kNvROzxnBdEtow8udlCumNadAbAe9ZG05HvvMEDy5NoyTWbbqRpLBMZoCI595YG0nbgcw/vdLVtK3ka3NkAyr5xSBJOo+oDDsu7Z6/URRn9YhhfM0gRvYRXYSG7xR3kotXxs32PtULNDZ5XlJqFvcrpNy8yFKPJoJLPod1D5CeI9j/P7FmhE6wwZuI0wCYX9gJCcKxf7AB6vfRyJmmBdNEWKpCeeLbq+ahk7fspGsp7FyRnk3dzFlvvGxbVdC2P+iGF2pbF1MjD05P72LU5G6SKI8LJnczz4hSnpziZzwJjJINuFiefMuMnPlJV+mMuxuUxJG0dEGGb+H0cgBYEGdumg3yNn7RWtd7EcGb+xygDgTx2eY4qdpqQhn0UHLq01ROdDYH1dg/m5BQ7lH1PdWiapm+l8lrLcQzm3YcQKNzFSbJbELNWkib/Sin9ozi+2ll+C2ShqnDEdQRkesENdYFEUAr6Fh/Q2QkcOp9/VPboUqKfQbF2JZKvRocVBOl3d/te9XkUx86dktTWoIYsGB0t/jhXx1VjbYTqJfiFlWXfsNd4b86vEMH5gjUSvzETqJIKRUhGEDl1GJWLjcLyZYqHHB7+QyniexRTXUVfhh6RGdNqfNmYbPbyjD4+Cgj3XEz2PUN6CDZj/s5A1gL1nbQjQaoi3Q=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1692449078

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
extra-cmake-modules
qt5-declarative
qt5-tools
qt5-doc
clang
doxygen

