%FILENAME%
kconfigwidgets-6.0.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.0.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
764084

%ISIZE%
2119998

%MD5SUM%
97dba127964de1118e1e5fedaa75857d

%SHA256SUM%
aaa713c1f6635a6e2b3dee82c558373bb1fa9570732c5e55f9baa543a2aaf0fa

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmXq3kcACgkQdxk/FSvb5qYPmRAAlxqEg8EdBuQKDVgkYmQidFEyFuOlp2PGt3H1x31Mjyiyu2lcPAcQbmEaQ7iPkzlqcyOGvBs13lfSiwca56byFuFSZA7bjlQgGuyf4w9kLxd9S20CEBZMVRZYsIGu76lO6j64rh9kSaL1CivSvqFPSVh++BbyFTQkJtPIx6uoa15+ndrksT6909ZnaZHpkWc5RBcmJQNLRH+bri7JGpjRc6/E+wri8ZyTFQg5H3HG8B60BNNeKZ9M2g3pF9sjni8aTgQXph7CxYcsx3gwFEI4WJIt4RS302yBjkFcMa942hCgdv9Y9d15miNwVp9ZjpzoapGcLiuV2wbThCfOmd8ZTBcAKukUFPk5zSJLawr/xx+r8OKugLYb/nW/6ZJ2EYqXDORj4XBGnLFEv05vfUgYoH46XLA+xHOLbNuxmUL/EdG8xIL8l393Sh8T/qSbeMB+UF3AMrzN8t+Vuu7v3gDrHoY3SxvDjDp6JTpWcsW+s7S0qz+F/ksTziakzzWH96QFgt3qeuXwA1LuPM6AKghRP9FmZvjp21IKjJzg+r6M2CuSB+nz4AIM6v2LiNNdeg+JVSWY8v1Tm2QD8P25HEdKEDBiK8q540ME5ToVo0BBFiUqRXgtr/ir/7BJEARI85FCkkdQeEN0VOVDu/psszPdocn99QLbZuFv85hXeun1hdE=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1709891048

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

%DEPENDS%
gcc-libs
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

