%FILENAME%
kconfig-5.102.0.r1047.g518a3956-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.102.0.r1047.g518a3956-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
1467860

%ISIZE%
3567331

%MD5SUM%
f0036cd2bc4f557bb80be64907910f4d

%SHA256SUM%
0d147bbb7582802f14838a71fd33a098d9f6c9addece8b5701f699a44c7e486f

%PGPSIG%
iQGzBAABCgAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmPiQyQACgkQJ5589djVbsh9HgwAvqH7pq+TkhL8fyvfB0hliML0tymi07WsoApnRTJ75ZomPFJOw4F7qYP+z2wWi8hDtPwW/W9IFtE3HbtmNrPLhObPv5HBxhNzdj0UCC9kex1Y6/B8K7N5D6vGa1Uqd+TIpUVxb38BuPdhySyBDmnDUm+v+rqfx6AUIqF/C7eAbDPY89nIZAC2xCTFivVoKGRb05QcS3q151tly+qFFdZB2yngAalpfKfb0OVlrffoK1z7wfAU/yjfWrJa6ImaUfhmgCoj7bR0JJY67876m4eAW2oYpfG9HjMKaspRf5qCVJOXsq8qdVjI84n9kz8ciM2+tGJSZhMHkeYRljL/14y52ej6wwTlYkglfDpf9U896a16l2HCNEV+AePRw+P24CwbZEqn/O5xKMUZGw1KEkj7ilgiLDHyukjngH7+zx7sc6GhlB/jco3twruzpxoEfDAiHY6Fu5Xn9rOiYgs2qxnHBiAZtzBvXS0G70kVk7LT4Eue2DwVj4DEjVVdqU5k1hqT

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1675764615

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfig-git

%DEPENDS%
qt6-base

%OPTDEPENDS%
qt6-declarative: QML bindings

%MAKEDEPENDS%
git
extra-cmake-modules
qt6-tools
qt6-declarative
qt6-doc
clang
doxygen

