%FILENAME%
kconfigwidgets-5.103.0.r869.gba74d11f-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.103.0.r869.gba74d11f-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1312851

%ISIZE%
3026290

%MD5SUM%
a77ea44195e8c17b63fa7db66b237513

%SHA256SUM%
02b241009fabd387f8b6fcea867a1713133ad96023006b8f6abb3fc4acb217c1

%PGPSIG%
iQGzBAABCgAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmQDxOQACgkQJ5589djVbsjFbQv+LNhbqSTSGKwDcUWkdniB2bkvNmgRnr6VwwU23uHIn1z+eMW8Abl2rVlmGLmrzAPbW+Ah87H3feKlW9+iCgOUryGBRVirnmbdjAeBtPzBWTOVqHmv1UMqBQ8CNWWMAWosTSWb/5tDT02BevyCPN56DTUIkrn4vx5TBw5v5cTur04VymxEOdI/gmFc87o5zvEosU0Y/8ailZO4/ezVzJHO7Ulv0VmCmYg0b1CfyV8nMc9SPasH1YGJmCBRufRf0Do8F6UYmLM+w+opSFQ0odiec8if8j0aItRL2CHdKf7RRAtsCXVZniIQVBjaiPQOrfIQJifUoFTn5u4/KIunUDMq5yZ1JQQcWPPV+xM4hJWZ3tIdo2MPbu6gaqqykwceBFu3LTHufJzBrTicTvo6VpCY+6OWDWlSFjv5vN9EdmWeYRy67YXs8IRXAgSjgoEk3yFgPYATb0igpEG2FJVrhTB2bD4f7XO779a9HV1boTNqcTD2qJi/MRipNuQfly3v0F1f

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1677947040

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfigwidgets-git

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
git
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

