%FILENAME%
kconfigwidgets-5.103.0.r873.g290d883d-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.103.0.r873.g290d883d-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1314036

%ISIZE%
3027265

%MD5SUM%
6e1bb2c4bd82e383464bcc98908c1012

%SHA256SUM%
79d931993bdcaf40d4062d050bf59f2a8cdf292b8392aecc9353aa3e5298ad8d

%PGPSIG%
iQGzBAABCgAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmQLaO4ACgkQJ5589djVbshnagv/dJmzkbeP0WLeaeCBUBm/sylGjlcoaa+7XiJg1Dec4GQYiyRvzuHuvsMbwU+NWt23PAwSZqytE8ocppuu1jw2yjfc+qVjyPm54u6rKofG17fxFeldsc7+Yu1XmqKG2cUnDFVYcEt8Qj4BbQpxW5tW7q3JfUmoOX1TJdLLbcboP/CfmSc9uLECm56cRguqhSa0XshK5MAXBKnM5c1KgLYfLxk3xt0c/6tRXNRramIDY9by+nRXBLUCQQbLpQzI/1cU0hjlWbGBdQrSbelHEMPiKEXdtGCzikC7/tk+DqBo4izvEIKj69El6+X+KxfFrTu1GCD7i1AeEEXYmH3mVmzlKIhqIZruuSSnwA6RSumeCm+m+LCv94eCMQXlQc8Oanr0uEGXy2laONIuFgbPOBXwU8YwqjnzoViXvAdFdqrfq6GlDeb6DbhdORcvo0sYpGRxD7xupqMqo1lQh4XRZ+ndulNN844pvHFF5eql3PohXQih5Viok1LJTx+E8vsuNB/d

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1678428379

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfigwidgets-git

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
git
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

