%FILENAME%
kconfig-5.102.0.r1049.g64d21919-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.102.0.r1049.g64d21919-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
1467549

%ISIZE%
3567331

%MD5SUM%
c7434ac3b95cc62cffb88e1d72ead080

%SHA256SUM%
68bb70f6b7454bb5c78ac345f94270cad5ddd21e696e11ebe12dd386f1ce863f

%PGPSIG%
iQGzBAABCgAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmPm3WkACgkQJ5589djVbsiXVwv+O/HRQG4Ew9x2jb3N3qkioQQUkm4I8kz0LWxAUpC7+Jyb6VieDeia1umijVgdodQirX+E1gXdrUBl7AxzXb/K5S9L1GR1suk0Ire4rrPuDGRKARLloC3hiyOyNQCrDT0eTQ5EWDpMwY+pc3LO3jTUMIcGPERKZK7NHrGIWYaRnNUm389SdQQPnRQLmiQbOJkY8kjXBflcLOeQm+DdVn/6z2PzHWYq3ajzHdf/KJeYiFGIM4UWY5Qfuftb0U62r94TWbqGybdgkLxX1Bodgg6XSjz/HSFEHFw3aaJUQTjLXJcPYA5g9Dv11Jl7KXbQEqbRI2CkWes37mCmEglfiIPt3kBJCHVcwRJTotX4sJ4/qy76Z/wbJjrUn6zgfLuoKVOOx7PAAhfynHIRg0yHKpP+mO5utKVsSOZ/dU+mhoFPtSqbTCvXb9NuMTFuYiuhdQuxjc92bYFZKXJsEvhBaqcBKydY6tj5190Qp3Kg9pzEWJTS3atU18x3A2BUkb45WPBH

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1676067003

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfig-git

%DEPENDS%
qt6-base

%OPTDEPENDS%
qt6-declarative: QML bindings

%MAKEDEPENDS%
git
extra-cmake-modules
qt6-tools
qt6-declarative
qt6-doc
clang
doxygen

