%FILENAME%
kconfigwidgets-5.106.0.r905.gdaacda73-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.106.0.r905.gdaacda73-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1324118

%ISIZE%
3045638

%MD5SUM%
b62e824c6e5cd71c14d690f074f50dbb

%SHA256SUM%
372e08837e6ce5f1e251ec34a9404a9d9d2f3088c42fba0824ca4d6abc334a7d

%PGPSIG%
iQGzBAABCgAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmRkiwAACgkQJ5589djVbsg6tgwAk5VKJgzR+esbH21kKYKYqvhBFZF7X/LqhTgNMIcXo7QXpjKx5/s8+QA6pImIC0BTYBSeflarBBqxJ1NAWkzijAVZy1199YROYD+7xWj7DqmDseO1d2+8r+AAOu6HXZwlT1CDWdLE3P/gs5ZncQIZVts0XAnPJCIX0b0jmc/1UYAxzqLKAJF+0JuNm3ogY2biciJRy+dVYwRGTVC51d/Jk7JxPJQNKYtvkyg1nSyvqoaR0Qc3nDciVrYj3LYbi0Ta8cVgqODKDPeT6RcfYnhpSEaAvwjn9FGnrVs0F71+PL4S+fp8FtI8JjA9NX+NIzDKk0uz/HAd9/kCKjYTa4PcJuEAj76RFAMHVgohgfIZ+khEIDdNFY9oKYV1UEFuMUdEhqWCEhuXbLWYvzYHNQp/SBDF55hnPUCQbTFC5bCwYxL/RM4ffikGrZUtADwD7LeISe2dvwx5ZEYzYMijs50elecSRTupG0qhqqeaQirFQ0ZrfVSwpn13O8yIAePFbdwD

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1684286279

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfigwidgets-git

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
git
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

