%FILENAME%
kconfig-5.102.0.r1050.g3f84ef82-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.102.0.r1050.g3f84ef82-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
1467208

%ISIZE%
3567331

%MD5SUM%
5c922a0f25dacc1d4ed1b03eb71dff14

%SHA256SUM%
ef227cb3f14250740ae05591750da8bada1e611ccb3b79c43a0902061ee59397

%PGPSIG%
iQGzBAABCgAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmPr6CUACgkQJ5589djVbsj6WQwApGOk/dPpz6wr1FzOqNEcqBy0bqssvveUebpkX3tn1Pn2CFywaMIxDQzrIykJYyA+DjA86aCyQU6qlK5A51rlMgwk5SGp2HM5kQVzWo3ejc/k/saIVpE7pJjBVaPGOakbYJR7gTBeQSpg4V4jJqrAytcoFyGk6+PLakDDHiJu9t1j68KIAp8TvOCrAGkvu427p8lV5fY86oWb2oWhHa7Sr946BKmetPzv5qL3dZCjrvcWx1fj/GK2dSApA4Rp5fMY7Ebt0LVVqlS+/Xo/UUf9JHEx/CWsNBh1NHlqEwh1wXht+ffqQJBi0X6rPvsEO88UZ0pGuZODu7G854W2+//EKCNEgBm9KxU940e/oKgEvK5oYwlEvAqk1AvsPftJTMVuYfvhMqfBn91Bl030iykHIHXPShUYXlpPgH09JHHLfkimFz573pP4eTpdTdpIk8Ka5NoMWdYouhd4Y7eLiB/9ZRcwBOdIda4LZGbBnSVbP3fm2bcwEQStvjyPnlEDTwOv

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1676398051

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfig-git

%DEPENDS%
qt6-base

%OPTDEPENDS%
qt6-declarative: QML bindings

%MAKEDEPENDS%
git
extra-cmake-modules
qt6-tools
qt6-declarative
qt6-doc
clang
doxygen

