%FILENAME%
kconfigwidgets-5.103.0.r867.g09cb5c18-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.103.0.r867.g09cb5c18-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1312831

%ISIZE%
3026255

%MD5SUM%
178873f0b0f943ae4dc58cdb18a91120

%SHA256SUM%
7137b0a5e13bd6bfe8d4803f38fc7a37df42b1aa1000e232c0adf43d3485c0a1

%PGPSIG%
iQGzBAABCgAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmP6mYAACgkQJ5589djVbsiMcgv+IY9KBNhiICGyw9HMiMyr4KRdVOxfwMguw5hWVU+o0qwjFol3A20/lgYyeUf9b6OG7GoBdD/JphdX0Dc9UX+ohaZYJaTzt673kaAo3sINQXa1AqKYIe89rA0QTNy9Ef7N0BOUDrVxlMJe8AK0MOTwASspwaAQe0P3SuQb5S8bbmvlSBUyGTbdZ6GAsQriqhsQAnZSSCTiRzALo064nCoFXGZBOhIXQ/xbGaRccCq/m24PDhpk7Z1a1AoTeZOoAf97VlGQY9f+StK5UnKpsI8XREz1CYhourc5zszpEAEccxFcrbaz227Kcma1gjHi8d/3BhdWyRk+2YyhsMxHCq/Smu1oXRAsbvXjWpaOo5SAaK7x2QLB/QHgCOKyLqHDyQJj95g2hbyiXK5i5RM2GAXhb3D1Yd/TtuEuj3ROFC6ZD1EAfrnPtKQEmA1r8SeQy3LdIJYaSAUjuPC/UEUlHVT2yNPE7JMAa3c2U0ReIN/WjDpS7V9oE+b0cHnl5Cz5kGYq

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1677342230

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfigwidgets-git

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
git
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

