%FILENAME%
kconfig-5.106.0.r1077.g82ff64e5-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.106.0.r1077.g82ff64e5-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1411750

%ISIZE%
3388929

%MD5SUM%
6e2645303c5bf88e933eca0fd20e3a3b

%SHA256SUM%
4fdbcd8b38fe7ca8acc7b2d13bb89c25a0608afdef435f3e7e24d7cb1679fd83

%PGPSIG%
iQGzBAABCgAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmRkivwACgkQJ5589djVbshLfwv/RWFsG/8pCsRlbiGScXxbOqnq5Ss3KaMwJZRYK8IKHI+on5pmZJCBlOLUWtEwuX8wrz0WDc/kQu4shNWkz/nbsumxGpyQLAyQixesX4RWM2F5cDeOpqQsHZLz5F61Nd/A5imuhYxQyLv9Lyn2KsvWq5iZyDcrcryK+Y83FbqW3VSpHPYGi9s8M2JjvKhdFm/SMDd2d+UFSYKRfR6G77M/dw2fBXkJbow8DMByAHkht+d9LAZHrlFU5LtWe5NdX1eoZaDHTubA4GJg7X//d0RFxzfde7IXRF5RmppgS9UVhJGxJ81PZyVVt7GfK0HIOYdPM6grKvDQ55N6Tu7AXsSP0JVHKwRjJp3hksU+zDG2VKWMPz9FzFQuHFpSqa5yXbkbSj/rt8XylA7IOum2ITrQbr4kLmn1yL7j0IBg5onM6wL+O04jvr2VJJPUc1dGUmz7NgJcBp3VIj3S/t6mnWFbktw7Bzrlt9Pz3F/QjDlBtnmvHz37jId2Bu0KjkQ23ISw

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1684285916

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfig-git

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
git
extra-cmake-modules
qt5-tools
qt5-declarative
qt5-doc
clang
doxygen

