%FILENAME%
kconfig-hardened-check-0.6.1-2-any.pkg.tar.xz

%NAME%
kconfig-hardened-check

%BASE%
kconfig-hardened-check

%VERSION%
0.6.1-2

%DESC%
Tool for checking the security hardening options of the Linux kernel

%CSIZE%
373068

%ISIZE%
11889836

%MD5SUM%
a29c6aa1fbdc8c00b13a10ba83fec79c

%SHA256SUM%
20faf9a9832aca3850524f54db36736a1ad91bed6e1af3e4b2d6fb05774c8be6

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmRWoDgACgkQdxk/FSvb5qZhVw//ZFbnB+x5oZI8PCNbQ4XM2CFWmXFFooqTA6qHhP7p7f68MsEV/+fC08K4qHLzFnFtFodDTQ5FYlA+fbYLB5Zu6uvEPOFPdSMPnd0XXjHwCw1GIbdXP8uD4pFQ5aSoN9J/DA8RwitTm2HOvovtslxnbl7xma7128LYyyA0Q5NYIXx+Qb5+ruGBAngse3ayccOC1QMUCUt/9Qz97xCHPA6bNyf5QLYYalRQn7ka6zB0cbOZBwmrFDF4wn058Tyj1kTib5szqNi6Frg0hk1nenqsHb8Tlln4WC4dU03HbKKHgF13hE6CTcQ8As7mhqEizi6it2E5FC221rgST4wphqm1imlrjuPNxoQGpe1YV41XjG8uZSb7ltMYcYxue6/9JeEMIWGgpRwbjM9wdxh+q4PxKiF7KVE0CB+N/WU69QtuWFKS2LhrKR6UUoNaslcT9W7jVsSc1LPY7CcDq7j8PH6H/NXGSzxuj9//kQmpDeISQ4gKFwzoGaZIp0wFPR8vQuq04Z0QNGkLn+2F8ifg27cuYVyfBZ4/mJqct9P6JCAUg6zHtm5V+tnCb4mvMp+jnLCX2saOaILvRJ+jCk2ozdtNeh8N5RiuWfoNhjWlsD+p9GHMn8riZdU8ghCbmEiKN1VPHe3XTz9O3F5gaGjUr9WQGupZtGlBLNk307YZWDYCye0=

%URL%
https://github.com/a13xp0p0v/kconfig-hardened-check

%LICENSE%
GPL3

%ARCH%
any

%BUILDDATE%
1683398692

%PACKAGER%
Arch Linux ARM Build System <builder+n1@archlinuxarm.org>

%DEPENDS%
python

%MAKEDEPENDS%
python-setuptools
python-build
python-installer
python-wheel

