%FILENAME%
kconfig-5.110.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.110.0-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1209206

%ISIZE%
3066003

%MD5SUM%
8b40db42e5d39485d3a5a6bf7ffee9cb

%SHA256SUM%
407cb4ffd8d23e6ef9d1fb6b23e4af06aa212ff184313586909e40bdb246b5ec

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmT9fqgACgkQek52CV2KUuT3WAf/ZgiFrvfuQcRg+kAwjftMqNHWeKW1i6ObCsd0Hr7xW5RjE5olWqYl948VsPCbldlx3NRTsrt7f5SJkqXoRnD9ldQx4ZbSQpbY1zdlYRmF+9+yQS6pfqcJL4P8d8u4XURv/pWyos0lStS6dz5p6z4HEPA1vuxA+uNs0wzN7HCVg97jL7VfkTrx0o9kqoBCPJsD4HJbKHGk34WIHTxJWMNQELU/Cmcn7q1qkwTe57i9hCT+XNktC+dk+6oJLjjokEKAov4fAGvcs/g64zPuA1Bm/xF1sB2l2pqME/9F6VaN0VCsCDduRuF0RXMrDSgzAbViT3LnvGcUqusqXMKrMEjIog==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1693776547

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
extra-cmake-modules
qt5-declarative
qt5-tools
qt5-doc
clang
doxygen

