%FILENAME%
kconfig-6.18.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.18.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
513113

%ISIZE%
2290499

%MD5SUM%
6398a019fdcc7810006a8fd4699417b6

%SHA256SUM%
fe2ed79250d2c5383442aeaf726281520dc9c907c20a001777cf9fb81248d1ce

%PGPSIG%
iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaMWEPwAKCRAtoqzD7OTc5p//AQCUL/Ii3VQmbLWXlCrQtibtWvL6QmVc77n4TZ+jSGQ3FAD+M6EBCocjLjvBe3ApiEDcrQSIcOSg2daQmLeGK59Ujgk=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1757768952

%PACKAGER%
Tomaz Canabrava <tcanabrava@archlinux.org>

%DEPENDS%
gcc-libs
glibc
qt6-base
qt6-declarative

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-tools

