{"filename": "kconfigwidgets-6.30.0-1-x86_64.pkg.tar.zst", "name": "kconfigwidgets", "base": "kconfigwidgets", "version": "6.30.0-1", "desc": "Widgets for KConfig", "groups": "kf6", "csize": "371614", "isize": "1451494", "md5sum": "7c90b036120cc17be0b140ab92319159", "sha256sum": "9dfe55285f329a033c2dedaeacc650c8d18f6b22547157a8d568fd54cc8431ea", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaqGfMwAKCRAtoqzD7OTc5ixyAQDx2bK05C0F4vDc6kGl+L1qbDTuO2JUI6hUqfe6b+dSSwEAuwfGa6SBcf9fCyFM7Bvb22Cw68GH/cRJBycru98dIwc=", "url": "https://develop.kde.org/products/frameworks/", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1788972526", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["libstdc++", "glibc", "kcodecs", "kcolorscheme", "kconfig", "kcoreaddons", "ki18n", "kwidgetsaddons", "qt6-base"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-tools"]}