{"filename": "kconfig-6.22.0-1-x86_64.pkg.tar.zst", "name": "kconfig", "base": "kconfig", "version": "6.22.0-1", "desc": "Configuration system", "groups": "kf6", "csize": "513168", "isize": "2299318", "md5sum": "c0411bc54dec7ba27e8b04cb65e2836b", "sha256sum": "ca43848f81196e0132e1591543212edb3c30234284619714f3189b052387122a", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaWOvIgAKCRAtoqzD7OTc5u/cAP9yhIDVq9GHW01fpgD9dW7Mn4W0fYtSge4ZdhbSVae5LQEAsZF+e5qn5Bn957xwBeaTTtwxJs8536k2sTtoD8UzJQ0=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1768127165", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "qt6-base", "qt6-declarative"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-tools"]}