{"filename": "kconfigwidgets-6.25.0-1-x86_64.pkg.tar.zst", "name": "kconfigwidgets", "base": "kconfigwidgets", "version": "6.25.0-1", "desc": "Widgets for KConfig", "groups": "kf6", "csize": "362349", "isize": "1414630", "md5sum": "595c2b5c81d95e2f8d453a8724fc8c9d", "sha256sum": "a578d576dc7f84bb3603edefff0c9830fd11c7dd2eb8ee0d3751ebb9d1720419", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCadkaiwAKCRAtoqzD7OTc5q/1AP0ROGXNF8G/EeTMzdATbrLUezkL9sXD/aje49WgYPA30gD/SJL9YSxH+97wCkee2uki2uVydsZAbIqnlTBHwfzVygw=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1775832202", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["libstdc++", "glibc", "kcodecs", "kcolorscheme", "kconfig", "kcoreaddons", "ki18n", "kwidgetsaddons", "qt6-base"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-tools"]}