%FILENAME%
kconfig-5.102.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.102.0-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1221208

%ISIZE%
3169558

%MD5SUM%
92d24febb0cc2a6879d4a537f7ab83e0

%SHA256SUM%
b3c10fe6b5cd52bcce63768f8771df0b1431152b310518c610a402109c1c5aa4

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmPCr/AACgkQek52CV2KUuSJQQf/RAMQwgTJytvRm2MZ4US0CnzCLdW7YXWmr64K/PDKuZ4v21bAM8Pwvp066Y5wd2OAWe8aPcqFgua/T4vgvKgIWtdRyqAemvq/1nD30hs+xFuKssZ8Gpf3IE7DQKuDZlyIDPiUFv84C4QcSlqAvisOLTCWrFT2lXfpcj1Jxw7qVYcRuNFOCYjelN076nMXYNBZM4LoLO1HW+WfRNlXYPUAUPMVKFiU20W9Ksgq5hclumT42S+GJXgsif5i4bUn9WReW6Le0JngLfS+q6LSqcMuxcts/2aRG5tZHs8hcORfKnpCLXi2Hmm6rxhrOfuuLyku60YKAOZTU4sbRx42vZUnCg==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1673088832

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
extra-cmake-modules
qt5-declarative
qt5-tools
qt5-doc
clang
doxygen

