%FILENAME%
kconfigwidgets-6.11.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.11.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
702677

%ISIZE%
2030151

%MD5SUM%
590399997c9c4b0d28cdbcac511dac4e

%SHA256SUM%
3468fe6efda2c59d6f69e58da0114bff89aa23d5efd7eac6ecdaa87dd85c756e

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmevX88ACgkQek52CV2KUuSL0ggAo7RCLI41IrFoWoQBEezef74TTINsDwcoq8e/nMdD+x8UHRuDXa44liQTv3SLayivp97mGvkMeOOWSr5xGSqwrNKXVE/kj23DDx0IUW6SKdd/VV/kIU/Ddw0Ko5NJ2g9+Z+ICQonCAySpb6uU9CMXT3bYM2Vi9fSnUXAiBFh/2RIEvEsmki6pzcrxv65TfBaKmXP+t26QYUF+J06Zifsdc12tQX5eLnjnqmqDzU33cL90fUoUNRLK38JZxcNurAn9LfYwKC1mpxWxXV2w+7U/i0w8kHHqN+/XrRQA9jh6s5taCNVXBeMihRc2oBUjXQJ1V2SETPsFkpglGIEn5PF1GA==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1739359227

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
gcc-libs
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

