{"filename": "kconfig-6.23.0-1-x86_64.pkg.tar.zst", "name": "kconfig", "base": "kconfig", "version": "6.23.0-1", "desc": "Configuration system", "groups": "kf6", "csize": "517508", "isize": "2314208", "md5sum": "54c5d5d608d47b985f17da09b63ff39a", "sha256sum": "2821e126a68196d65035cd27058b26e68c1f0636bec9cee9a2ee30f2f417fd8c", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaZC7YQAKCRAtoqzD7OTc5nbaAP93ZhyfCAI1aMmXmLiZpv2l+5XE420AnQDpBBDEZ74F5wEA92BpUKHaRERyq21DWbbq/qMC/zAEXmAKLa6Co6SI8Q0=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1771080914", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "qt6-base", "qt6-declarative"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-tools"]}