%FILENAME%
kconfigwidgets-6.5.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.5.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
683539

%ISIZE%
1979794

%MD5SUM%
3035de18fa18b2c0203e77b7335a3f33

%SHA256SUM%
4775401b80efce634a0045e821a2f6a802f86ed1a07110e7aa3c9e8cca3082b8

%PGPSIG%
iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCZrY/2wAKCRAtoqzD7OTc5tL1AP0SqsuI970eOR5Bj/Bh++7U690mGWKFsrf7b5S6c5bV7QD+MukEvgdKPMVIEePW7S8eq08l4E3qzWAlfwfwUxeA+QE=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1723212707

%PACKAGER%
Tomaz Canabrava <tcanabrava@archlinux.org>

%DEPENDS%
gcc-libs
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

