%FILENAME%
kconfig-6.23.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.23.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
517508

%ISIZE%
2314208

%MD5SUM%
54c5d5d608d47b985f17da09b63ff39a

%SHA256SUM%
2821e126a68196d65035cd27058b26e68c1f0636bec9cee9a2ee30f2f417fd8c

%PGPSIG%
iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaZC7YQAKCRAtoqzD7OTc5nbaAP93ZhyfCAI1aMmXmLiZpv2l+5XE420AnQDpBBDEZ74F5wEA92BpUKHaRERyq21DWbbq/qMC/zAEXmAKLa6Co6SI8Q0=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1771080914

%PACKAGER%
Tomaz Canabrava <tcanabrava@archlinux.org>

%DEPENDS%
gcc-libs
glibc
qt6-base
qt6-declarative

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-tools

