%FILENAME%
kconfigwidgets-6.8.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.8.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
684129

%ISIZE%
1983475

%MD5SUM%
c5570e25b25e84598187c86d982bfb60

%SHA256SUM%
f30038b21cb368c06989d6422880840a397cc8bd5a322baf275b8bcadafcbd46

%PGPSIG%
iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCZy8WIwAKCRAtoqzD7OTc5n/qAP9GoZWNE0U7oxsjtqxfSWFsAtRhdX+vMLD7wGyOzDhvYQD+OUmjZNL78WJNObr9u+Vw6tCl+gl3WuWIV5Rsfo3chAo=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1731079099

%PACKAGER%
Tomaz Canabrava <tcanabrava@archlinux.org>

%DEPENDS%
gcc-libs
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

