%FILENAME%
kconfigwidgets-6.30.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.30.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
371614

%ISIZE%
1451494

%MD5SUM%
7c90b036120cc17be0b140ab92319159

%SHA256SUM%
9dfe55285f329a033c2dedaeacc650c8d18f6b22547157a8d568fd54cc8431ea

%PGPSIG%
iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaqGfMwAKCRAtoqzD7OTc5ixyAQDx2bK05C0F4vDc6kGl+L1qbDTuO2JUI6hUqfe6b+dSSwEAuwfGa6SBcf9fCyFM7Bvb22Cw68GH/cRJBycru98dIwc=

%URL%
https://develop.kde.org/products/frameworks/

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1788972526

%PACKAGER%
Tomaz Canabrava <tcanabrava@archlinux.org>

%DEPENDS%
libstdc++
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-tools

