%FILENAME%
kconfigwidgets-6.19.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.19.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
361138

%ISIZE%
1411517

%MD5SUM%
ced8a5b24cf6c6c8d96256fa766d0cdb

%SHA256SUM%
d29c8f13b15199e9b0565db93cddd35a8920344a0db9bd90f4fee2d5a5f123a7

%PGPSIG%
iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaOvV6gAKCRAtoqzD7OTc5gjYAPwL9ep9gJFnFKGEqMtw66L/CwoDI3F1nK1BswawAye4QwEA+Tx3gS4ZPNzuwXRTXVGrYf8o//fZ2UBO0UfANL3xiwk=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1760282754

%PACKAGER%
Tomaz Canabrava <tcanabrava@archlinux.org>

%DEPENDS%
gcc-libs
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-tools

