%FILENAME%
kconfigwidgets-6.7.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.7.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
683614

%ISIZE%
1981644

%MD5SUM%
c4d76340b40b794068dd2f0e9d180c88

%SHA256SUM%
278ef01e0d7cf333445d990cec017c3399aa502c7c980b11b2d63aff36b263d5

%PGPSIG%
iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCZw1NFgAKCRAtoqzD7OTc5kykAQDe9FrWbzJrqE1V+HcAaJ1Wg2vpuK5tfoAjkfsfW5jI4wD/Xj0g6PufaBTqdgdNba7IuFMC6g4pCKoj5dK2Ds2biAw=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1728876553

%PACKAGER%
Tomaz Canabrava <tcanabrava@archlinux.org>

%DEPENDS%
gcc-libs
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

