%FILENAME%
kconfig5-5.114.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig5

%BASE%
kconfig5

%VERSION%
5.114.0-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1212219

%ISIZE%
3083937

%MD5SUM%
18786fa1f2578574b80fa51eb3bf3f17

%SHA256SUM%
5e2b995f634bda39ba1881de4a05204b7003ce6dee216cfa750b0fc38bb7c8f7

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmWiXmMACgkQek52CV2KUuSwwwf/SurQtW9hI2RgIWKTivlt2kSF/twInh4erD1rTVz3Y0EU3OZ5R5QjXPJykkHy0C68hSAs7jwYAdtvPE4xcVbLYE0kAyLKOSZecCj3SrEEddMXQYrGeCYq0rTTka+nB1Qp+aokU6bggtclnYS5RTI6LEKHwPnCGRyqvohMDmHi4m7ZNCN95TViUSsmTODoos91ncYfJipss5Dah1DehVKTKUDUUZ7LSEyHdi+srmC4r+OEs6E8gv63WuecRYd3ehzPHzOE2lzQnHjWUu5mA+exSKLqFdQxLX7ZtyGjw8IVjm3VsQjQu6Ad2TC7fqPvAY8Kv7Sc2OLnStKjgVnQ7grV6A==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1704548098

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%REPLACES%
kconfig<5.111

%CONFLICTS%
kconfig<5.111

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
extra-cmake-modules
qt5-declarative
qt5-tools
qt5-doc
doxygen

