%FILENAME%
kconfig-6.10.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.10.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
1468694

%ISIZE%
3945510

%MD5SUM%
a1d8487c3fba5affde62fd75e960ff22

%SHA256SUM%
3e810c317ef1485c876121a6266387746e339bdbd3d5c131cc1e5a553707dc9d

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmeAGZwACgkQek52CV2KUuS/pgf+K+WOs7wLu2P/ZLQRiu5JAiyjIGspQwHa4p+ogCYQxtm9NNxim8ICJKiIDRpKeChnVoFxJkEcieLr3YsztrHm6FF+RtMXDYOQc6EpRfkZE+bizotIM3nq7XwhCHyhq2Fh6GhoeUs5SLQr5SSvZbJ+WQhWnWaLr2C4T3NPppgcZZ1nw3rMzIfQQjJvClhJ4CPEpuYLlAB/HL7sRpVgtPZKL0cY+wRvc+5vCDLrACAiAw8yxZo8w9e3xgOfNGKbhTNKB7IekWIM6tl7ytWAgYhgrgVQJuU+khm8czidSe7oryDbah+XzY9qfDdMpbSaxjOEtuh2opvdehFan9B20OHAaQ==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1736444584

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
gcc-libs
glibc
qt6-base
qt6-declarative

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

