{"filename": "kconfig-6.8.0-1-x86_64.pkg.tar.zst", "name": "kconfig", "base": "kconfig", "version": "6.8.0-1", "desc": "Configuration system", "groups": "kf6", "csize": "1418417", "isize": "3855066", "md5sum": "c90a8323505f95d883d839e9bf3d8a8a", "sha256sum": "dff43e1c6303d00d004ed8a4afe8d291b9ad94c566db0a9938606d2a8149cc18", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCZy8V+AAKCRAtoqzD7OTc5s9HAP4nwGL+odQoHkRUZCkHVq1qFwqTTkBFwzvWmlO6afrnlAD/f1ugFbeE2ZD6sgP1PhnoQVMrR3Y8KRhgYmPDxRAK2gI=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1731078713", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "qt6-base", "qt6-declarative"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-doc", "qt6-tools"]}