%FILENAME%
kconfigwidgets-5.103.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.103.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1193433

%ISIZE%
2985391

%MD5SUM%
8581a2bc286522f14c1dc1a72efe6280

%SHA256SUM%
0c364f3c615859a7db63c910e05cad92ef5dbcc1af19550e7131bf92c988347a

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmPovr8ACgkQek52CV2KUuRMIQf+Nim2gSBdX0V0DP5Qhx0NTCW57Wxd0efmkvuNfZu8BcCA+l/qHQY1httTY6wF6znN77ue5oWkCB+6oExJM/IhofOz+ijs+K+8Zxgq6LPcaU2WthGYID6QxJC7PAPEeLDMb2k0k+xAZlo+NRGvME1MmgSuv176x30oKyx5xVhtVhALZ3/EEW0ZAoAs5bV/NvJxrPKvLJoHoVBQSJw4QYN9eXrKloDmM8YS9rYg0P9YGh+Xy6rod8lNIoUDzCfxum5aXx6cBDyY90dhVNqTLs2e+YFRah0hXT9WvBVF3iGY0r31BDc3/ziG7/1Qq87iV/WwetRB9FnOZ/eFj/q/3NB2vw==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1675611506

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

