%FILENAME%
kconfigwidgets-6.0.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.0.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
796503

%ISIZE%
2067334

%MD5SUM%
2725338337600dc5659fbf5abd9056d1

%SHA256SUM%
eb7dde1416e5c6f96104543bb7e8319a3c5d0ccef57019ecd9869bd64a10bb25

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmXWC6cACgkQek52CV2KUuSy0Af+LOHhm0OkiPTIJVXpUS4TpEFcYjYQMxqou0F3k+aSTfxFwELzx4baIw91Cs05/5IRn2QWjjcPygkcWuhnZrQOHw9DvgWf1htVxngy2e/oFR9x66+VzIqTN9TunvrD65EcRatQgEn9VyGMDlHx1yUQljZcz1WDv9PkTdVuZ7qpQtGV3gma5Y8FSo6ur/EvIA8SQMf0qpwI5yP+ptjUxRD8zlFvRJ5495jcqq0Jja7Fie5NqyIYhQoTwWwby1J9krOlMAbp2joQxOz2y/kIeJEznHbugzItO8NlGAXKCcTFgxz083TNRrU+odOdk+VH12ANTAiQrdw47nfYe41gJKkaxg==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1708521911

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
gcc-libs
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

