%FILENAME%
kconfigwidgets-5.106.0.r913.gfa023e3b-1-aarch64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.106.0.r913.gfa023e3b-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1332020

%ISIZE%
3093302

%MD5SUM%
f3047f235844d68b00b8e9c1a1450f2d

%SHA256SUM%
f7739096b04633400e515aefc221498e3b95741721619e636b1e5d8f70c9e800

%PGPSIG%
iQGzBAABCAAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmSFFLcACgkQJ5589djVbsgdAgwAm4TL/UVpsoDlzCQKt/SX9f8amuVLAovss2GmcZgiecYV/moCodNNSozZmP/WSgalQGkZq+DskmPEwtYUkt3Qa+rm1e3VqFXgBEHEoyH/4o+FHnWk8gEFw3W7AknggC3yCWjT+she/6R3qD4RoLqDEKQ4DvI/FWSw29xjjsDgEt2WX2kqIcAQSXMcJdYTfYBYt/9D2TuhjE6webx9jGtgnRwzNyfiTihMIe244f/PoV70u49OWxp1o64lrosj+h0emxbxftZKLPhzsKycHur1ngUtDrthpARqTjcoeAQtYIX8lGMhvUceOWpR/tOxz5zpGZH2TchDaSkY1ZF5wh+1JiQJNBoB2VRubKJpYjC6nsaXObJfX+xMs6JGqyi7Uw1YlYol0GSr4ZWvbjzj6fKFp5Wx0HUmnp9DNxQeqi17A6kFchpwGZUKH4jHitlXE8aDY6/vGjsvjhxmShU2FMqVqc+RxfkCP+pi8kUsep9hdfySbYLwszGa8FLNgANR89Yx

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1686428570

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfigwidgets-git

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
git
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

