%FILENAME%
kconfig-5.103.0.r1046.g64ce1b2e-1-aarch64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.103.0.r1046.g64ce1b2e-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1421625

%ISIZE%
3456915

%MD5SUM%
e67462f51df0dc5fe36a70278c379279

%SHA256SUM%
edda0caf94c0295623468fb2d79fb9e64142ac036dbedc684bc56ca78604bd16

%PGPSIG%
iQEzBAABCAAdFiEEOfDsGuULN+XzGW8J2tOyEWY8omgFAmP9JFEACgkQ2tOyEWY8omhWeAgAydHzaFN2+5fAqPn3OjVETSqyyGef815hVJC8EtNLmZMYKbcCfaRJgBRZuA+G4IGjkGO+OLVppJuFehWvVUQWX1tyN3ScQUEIrOidF1HoRtwfqjm5bD3z/aW0vVt50U+MoWsk0Lb+dDd/xPekM8v5Y4Q1qsuuc6qKborNceeWkFQuzLMuwVzcNKRD/fP7Tr1mlSbVMxJQGPgywo7LxTSO2jwq7jss9xT3aKdtUkdq1fxFOWc5dVCqJ9QDuUCdYXqIU7PH+lZ7t1wpVR8Z6gvfh9zyTkVfAu9YraaoEGUhBY3/UZZGAXYUyZ+uu3zCwWHiSzATX0keJgJ7Un1zn5Kp4w==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1677533262

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfig-git

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
git
extra-cmake-modules
qt5-tools
qt5-declarative
qt5-doc
clang
doxygen

