%FILENAME%
kconfigwidgets-5.103.0.r873.g290d883d-1-aarch64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.103.0.r873.g290d883d-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1323347

%ISIZE%
3072265

%MD5SUM%
31da37cb38690e3b48beae295a71c7aa

%SHA256SUM%
5ad0d85f7c6ce2a5033e08b5fd81b34f3ceb03a1909828fc791bc14260527870

%PGPSIG%
iQGzBAABCAAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmQMDU8ACgkQJ5589djVbsh1QAwAgHOgb6xx11RP73z5EC5aiiBgsCwWGgBiguWfobv1nfF6vU2m5/eNinF6sZRT1aicGAwbszjuLlirIJ7g5Cg9tAmoQaxV75VhUtLcBWWdKpj/VeOGvf7qSWzOkBl5cweAqqteMyQ7FxJMu9w/VTAGpDR4F8omqYiLwaAENd3b4Bp021QYTOHgsmDm/2k2svPgUkSW8mbCZ1SZ1PWhWrc1QPU6bh3tw3eIfRc01SNw5URuHk66kLoaU+xiQhq2l58Jj1TqI8vxnlyycFDpsC0SFTqYmMK2scR/p0k9jGImu7HnKvMZ0rc0n32fv0COcjMe+vASv1A83dpNrC6aDLhjYRsniw6h/6PWLBIdkYl18k7feG8RxQ2K3BXgHFLbxc/frXX/kVNltySe9QkS3Fr8Vu+RmBe0DKCpRGGRGLHIWY4mvzcaViefRSu66jULevfc0+3v+vOmQZAlFp5eK7WXgwrWRE4SCChn2DGkoXhBGU+QciNdTEEWYhxz1/VZ/7do

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1678485905

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfigwidgets-git

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
git
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

