%FILENAME%
kconfigwidgets-5.103.0.r870.g47c2c7a9-1-aarch64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.103.0.r870.g47c2c7a9-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1323499

%ISIZE%
3076361

%MD5SUM%
4adb55ee2d529a16cf6ffe15ecc783c1

%SHA256SUM%
4c04217222bba4c7969c3b67a6d40079499b8793716388c7e78637981a0b06f2

%PGPSIG%
iQGzBAABCAAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmQI1EMACgkQJ5589djVbsjD0Qv9Hpcn9psq0ticoJNKQaxhF0dNItC+8ARjHgu0V2h4YwVixTmBbmCFjfQ+uFQXLa05SQ8SpymLwfhEgg44fHNSd7UpyE1Dm0Wfj7Rv1xtOvizJiqmrnE2TJlKoapRpUwXKzbQJx4S3pOeVZHFPlfejV6XdvO9eAzmJYKrezlwU+Fccr1nKC6OK8in5OS15sXsCOv2YfnKDzr+WUMw3gPT+3NgLXSsWL3YQw4E3UIKm17SPtDFuimOYbusUgqkNl0h/EhalEnnXNt8uGZC8Tg75qxTiOZYcZAP8y0hELlKWWVYgfM+9/8K34FVtVk8gEFKWQVyNriP9B8fjxl7nbaXu2kI6POoeuAfTrKeGc7M7OsB8L3Y1T25V1OSnkwbThteD6AXgs6pBIiObBisiEN1sNODarlWMtDYbkwE2Y8Gnvffu+zjZSwVCrDs0jOk7pKv9wdpQa+z2y9uVQfpWuljKg0X8Tf688onjnJ+mtpiJl5woCXGC5Cf4xPJfX089MRSH

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1678292613

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfigwidgets-git

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
git
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

