%FILENAME%
kconfig-5.102.0.r1049.g64d21919-1-aarch64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.102.0.r1049.g64d21919-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
1463022

%ISIZE%
3583627

%MD5SUM%
f352ca75a0a2cc116c962fdff29220a8

%SHA256SUM%
579251affb451d2487bfbf99bcd2bc95cabf7e4ea2805d67b162994aae6f96c2

%PGPSIG%
iQGzBAABCAAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmPmgPAACgkQJ5589djVbsilJQv/VcsPgUNDLpwhifDX9oSuLDaXQwFiwHgUlSusKlVy8REdNak4AKD7HkMIWfmwwAtAkPWhPaiYYA1HFvzW9cEbNpPCKFvy18s0wR3DaT7m+b3otZyTP2iVB3R5kkXAL3N9lzOhGCAUyKtGXERXN3LcGorOeU6NA7hdL7adraeAdrQFYP2fb/ziQNN9sPhIau0F2sRw/lwTOrPZIeOpbB3G+dFLyPWj8yFQns417P68JrG+M1zetimF2uurqPVLYYswRmn/P7HQs3vrN7LNn6CGVRzyQrc4xNweSjhQcaEyq9lNZEwmSqrJF8/5aNxj9K63xlj3mmsXSBBIXFCn8TrzyaeksxnXg1VwcmH288VHEDfKXgcbM/Ns4VEF+csJ5MCdALX2HbBn28/U2caSQW/22en2QvLZ+iaa445v8UpHFeN1DIDHtfBgYngzFY4vRgyjv1P60VbYVb918UM+fNrFNPZq1PZVwls71eSdXvnt/+7biJ70zvYg4mEUhfyrYIwD

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1676041626

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfig-git

%DEPENDS%
qt6-base

%OPTDEPENDS%
qt6-declarative: QML bindings

%MAKEDEPENDS%
git
extra-cmake-modules
qt6-tools
qt6-declarative
qt6-doc
clang
doxygen

