%FILENAME%
kconfigwidgets-5.103.0.r872.gb093cd13-1-aarch64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.103.0.r872.gb093cd13-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1323284

%ISIZE%
3072265

%MD5SUM%
0fb2ce6c36b12260b8ca6edd6c2e8924

%SHA256SUM%
cdab0a1f2a2d001a8beb053e57725a27ec51eb89280b949eb59a20282ad4f248

%PGPSIG%
iQGzBAABCAAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmQKjz8ACgkQJ5589djVbsgunwv+J9m1GcaJokz/9hmKWy1mR7sYUcxU1UhBsZT6xdPS/IowVFhKl2AV8lexuKW/U3aWwO4n6QaVTN/j4ry0WnfODeFN1lOLFeISB6fRp7jei/v0mWXqLldqVVAankMOn/lQZFmaKis0ijF1BU8iXLz6fv6DOIMmHb45kfrEUghThu7FttUffD8pJWMXNI9025oOrfoBcujaM37zWuXVny+F2hsZB/rjc+J/ULc04Hog5w2bxfjhdepv0YGAsPwz//63iUVQ5F7WrT7AT51htdyxZK6wsx0xgce5JppDxUwTsiPHWYg60TXaFxmvGNMnePO+/obep2b3gY0owkc6Yf/uj4vNH6SoxgEBT/h33nteB8arPL7nezI8TWrAGK1mHa4bZ4Jc8nO32KnPEGt9spEdsYYedzrLq8i4psXG3mEmE4p2ksv2i2Q1ai+k6FspdV7iFFvG/A4fz0kH6Xx/DgEc+amVpPny18i5rkngGlrUp0l6s4pUv/ScryhC/9GVpvrQ

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1678399400

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfigwidgets-git

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
git
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

