%FILENAME%
kconfig-5.103.0.r1049.g52ff3e01-1-aarch64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.103.0.r1049.g52ff3e01-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1421894

%ISIZE%
3456927

%MD5SUM%
b7017f0b153e2259f2dab62480f124ea

%SHA256SUM%
e6ee9cc3a0bd44618ff0baaa4a12bb5a6aa4fb9335fb870d17c9144bf07f9ee9

%PGPSIG%
iQGzBAABCAAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmQNew0ACgkQJ5589djVbsgoRQv/QZFRT0mS/9y6H4DV/u9kTu4UBoPSKCcsEW0w2a4sd2pctQUHktszaJghU5gWH/dxV2el+WgmgbPevs3+J5aKj9EhxKGv/wN7bIeiYite+NsGCE+6u0zev2pdulUC6tTvEkAs4o6jIAi4CBNwBBt5flKogGQz/Y0kPLUpeiBibcyzIEJYKyCUkTyS6ypnfH8NtglkQghVqbf2nnwTuZzt47WdHhDglJ87KiSSNns9lcVRECwJcnSE/fjefj/7lUIICG6VUa9Eee1OLo9ckbuqSlYweXYJJpjNufcD1ASdOuI/R+ZAo1cMYq5RJ4tqM97ePrbp/gNxLje7kJDtjLU0WKaz8BvVhpCMOQRyKR+FIxl0x+xc7H6Aq1JcPMb4/B5b2oOLWxJuEwohkbk8u2nGDHYq96b43OfPUbnIGxa2o0WO8vYalEJKGTmS26RwoaRkTnVzgiflTw0lufXubCMdk0VOfZf+GnUG13XJgCxL964NH3qQU3mx/opOWHXDGOrk

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1678572536

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfig-git

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
git
extra-cmake-modules
qt5-tools
qt5-declarative
qt5-doc
clang
doxygen

