%FILENAME%
kconfigwidgets-5.103.0.r865.gea3846a6-1-aarch64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.103.0.r865.gea3846a6-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
1134695

%ISIZE%
2810140

%MD5SUM%
39760e7e7f0107cdb721fee5419f4452

%SHA256SUM%
677be911ee42abdd54d932c24dbcb130dbcd4243fc93755ff8651168588b699c

%PGPSIG%
iQGzBAABCAAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmPzreYACgkQJ5589djVbsh2Ogv+IhFzoeATj1M4Rv+8AdAtu+1i1eKM8XScUY/BA4OUpwPze018PqR75F0GtPaNnyzVST8WaYjEfLTsPsgVBVPJYd5DVsPOSdmFP8ZvRrjkSwEPL5sAPHtebZxZMKdriSbZoN6yC4bU02LXynVOoUSVKH7zW0B2eo+tW09ASaG/vrX9GyO096OL8BTpFrqJhTa+932bnrXZI2r5JpR5oNPOw6gaGUXl6oPScjwN/Fk7Gw0IxDPCmDb9b9jc8uvfTcClaOiQ7vsCuUoX3FMfO7X2D50225qM/Jul/HEXP5n4xFVhOxd8MbeJewng3hbe5f+tiwDtrjLMjM677PHBOP06hzbE6EyBzm32bN7NMZSH1T+yVnpzf4W+Q7uuKmvT8uD98KDMFlWkT+YBKOuTfTWfTF4bx0QxyaTTZCpA4+BoLb4Wl/D0g1K9fs4OvliiZ68VUs0FTXXqVQuugeChtAZDKzbbtKYwePMyUVO5O/lwZiX9QT1LBvqPNRb7TGqPkXnC

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1676905510

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfigwidgets-git

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
git
extra-cmake-modules
kdoctools
clang
doxygen
qt6-tools
qt6-doc

