%FILENAME%
kconfigwidgets-5.103.0.r875.g2886a187-1-aarch64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.103.0.r875.g2886a187-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1323854

%ISIZE%
3072286

%MD5SUM%
33ae9983d6021344d69204b5a8bab77d

%SHA256SUM%
3afbd9fb2125defb852d479a749de9db68bd0bd45d70c9ad3cd51f00b0de648b

%PGPSIG%
iQGzBAABCAAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmQNew8ACgkQJ5589djVbsjlvwv+LoT9LICu0bqdz6LiBCrLvpBZ/uSfrkbWVPwcOhtY2ek+4QIpDKdscAdtRt0nkPcCNtJZQGJOLk7d2o56BN4znR+KCuwJIGFZZVgS6pslMWEM1WJWioXzuedduue0mT7IvzFCH1Jwg/lYSoqI8TL5TslinWKLW269xG4F4H86vvLbiRpW4ZG8sqOXvq/2NZR89qLajjV/tz/0LGNXCSYxu8VVwoDoMZcx5qgvamurCK1ssYzj3SOtjqy1RJ3jBTo0Mz6BNgzMLk5iH0wea0KfTa9i2GCUnCQqHmgiw65hZOsjQJ6kx4XD5ms5mxFall/KPZjm1o/SC8CQvt3h9RvADS6tViGUi1+5fuoW1sW6iC3IBplpVk3BPzheuGe/ikivE00T/2fD07H/q4lS3bG91dKjbj/Noo45T2ffAvV4I51lGAguNDOFYH46Isxqk4bTzXBfGtZnZkgO7ylnpydDSyf+8yh9lh5rUbbEJqWU7uDpJXsRdYQRntUngXDoRlqN

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1678572801

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfigwidgets-git

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
git
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

