%FILENAME%
kconfigwidgets5-5.114.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets5

%BASE%
kconfigwidgets5

%VERSION%
5.114.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1145832

%ISIZE%
2869181

%MD5SUM%
44bf5a73672c186c0bdfbdce5813eb17

%SHA256SUM%
23a8aa03bf7f07db48feb3d4d88170ab24d35af90cceb6f42c330421685c3ee9

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmWiiAYACgkQdxk/FSvb5qZOTA/+KjvIYaNJasc5sb4LfMAJnVcGqkIRTS7HBi0ALwbwHiJ8VXopviu3DqMgbT0tUk0y0OQtNH46MpGq9X2T99uL6xOCfzrwXQxhd6P0sUbfzym3RauvxILIlwSDGS3fcQ91ob2EpnTnoVFcj8bkOVhMoNSMglKkl0mzsdQOMaZ5vfNGTP9GtXTa+MDj79Y8WamKoZt4IluCfgp+4w328J2VW8BvfcAq0LcyFcjehNz4RwWNaJUs/ipl/Pu3XvP6CDZk5zF6FZYXVUMbFEQlAmt0SNRstWNLlNScZm7W1Vfm50O2beVfosNMXVt5fiJGktOuQ796CankMmGZRG6AHedrnN2vg6rz0NSrC2+hf2ei2lKwijrr05vzRartYo7Mw5Emz6CEQCb9yIpB9/s+xHjxQQaqPDjFA+eeUEh4ID90ah7n8YVRX4iy9k9zIQFPsxaT1uAxUyACYQW4NWmQM2hsgcUdEMKT9NcdLOC2npUUX8m+sMFM5R1IgQhsQVblZ0b46LFi4JoRwZe4fSQacfQY9G76ZZBLMWO6pHfisN26JN6+m50Y1Pt8rz1J4XsijTxB7JIO7lgFEl1XZahwGGKEGUlC2nKqcwzjZ8N/A3EflBMYHErGG/GRcRyvjiZSGsoO9YU2B8tk9msozk9eC+MaRBPc7ySSNQwkrGhPGInn74c=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1705150391

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

%REPLACES%
kconfigwidgets<5.111

%CONFLICTS%
kconfigwidgets<5.111

%DEPENDS%
kauth5
kcodecs5
kconfig5
kguiaddons5
ki18n5
kwidgetsaddons5

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
extra-cmake-modules
kdoctools5
doxygen
qt5-tools
qt5-doc

