%FILENAME%
kconfigwidgets-6.9.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.9.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
650172

%ISIZE%
2135448

%MD5SUM%
bec60d469771cfb557c1bc1fd68660ab

%SHA256SUM%
d91b584592e239c77338beb84631b38fc9840f94fbc200fbf27de256297c9ff2

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmddnRIACgkQdxk/FSvb5qZq3w/+KAUPwDXadilA7MWhJoOOxejEKgH1TOX7H/9IwaGLSnaI5a4k9jlzbOQcXTDQjp8YYJ62F8qAwu6U7e8oRRPFbs24VJyWk3azY9aSFgD5By5cQXveTZXXTtBVDg7rDfpfOhEqAAvvfrhxan6Hb90nZkaW/7qzm/SzwsJTz0hNLiWLUUyAIaGS0auVU1K/SAKypoOeYCTXL+fkRMYVci7AB93aVd+yqpRaQOItcV7EBXqMGspqx08DF4bdp7Ng92nm8iAMb1okr9NgO0SShC7ZcUhMRXpis5qHXaDNYcD+8Kd/+jVOzC/KcTCv0h7u+UIdiDOMIP1vQr0HAsJCUXrJLc9OwRVI9wgMjqyrulSvl80DFcyKO7KbpC++CmPSKBD5Omz8P/oEYvaNznPE6WLo9tzU7N4CTz7pkkAfpZ9YCkYeY4Rgy+6z8+EHBqeM/E+gEqUqZPXaWE/7VYmuBlP9+uF3KrZmqFrWK/edDtbRWDf6+j6PTDBrBPS9Merdo4cjIZIdWCqxahEzeL6mPVF5z4tm0rMXRSTThLer22T0Y4GODkwGoUCuBvgb85kMQUkDyeYo6YMr6wZhIzMBoOoJGJVmofokJMIi9u2jTK2T0ePZZ2toTjuxUv+zya5Qd7d/wpc7grRNosvM4FdyrjE7OfoSDf3nPM1Kl8gISyAfgSQ=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1734188192

%PACKAGER%
Arch Linux ARM Build System <builder+n1@archlinuxarm.org>

%DEPENDS%
gcc-libs
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

