%FILENAME%
kconfig5-5.113.0-1-aarch64.pkg.tar.xz

%NAME%
kconfig5

%BASE%
kconfig5

%VERSION%
5.113.0-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1201000

%ISIZE%
3266504

%MD5SUM%
88fc99f65e1238327e92c314b5e7cea0

%SHA256SUM%
1276417077e102f8b0d2fd3ed149ca48b4e96e1ba20d2cf5b98e841bb3d0b247

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmV893EACgkQdxk/FSvb5qboNg/9FHfgW6xwscd7m1jMN2yz2m2Smu/2zUPnOg0/+p885hlWRq7d901ADfzDfNrLHSYW6RDWIhDwlqgb1zZoOwGaEWMoT40w0sblL6ZnWXKcD7ACnepnKlL6v/3SQ9Uy+LTo7W18jmkG30MQtwkZo91RmIr8PkDnybWxrUazLr983LZOoIYxG/arqcL3clWhga5iS9qoFdU4gSSKkCgD6OnXWdbGXiEn+yE1n2a9FJFZWPW3un/9fpEe6rMbAKy8HmxabHKlbDHGQddlGultHGwXsPjmH3MHELPl1jUr2PbgFhYPweew+Wp5pA+/2UbQNG4824BD8R1ZYfD3fdX3KKEzsQOA3BY/pZt0eElyOhRvJV3kFiCyRr2mElrW9afXo+qOrglKwM0X6hlOCvBTlMoaIVKvLktpJKeGNVU5J3ZzysSjCVpP0rlTcSKV1Eqx9okmkOdMsaE9j42uqXLG1WDgrAX/Ex04O+UJQzOtqR6VyXc7Ug34PSP7paklIi9zoKOa7QGN0no4LmGsS59QNqTifgAXL3Cfja1QCIqoDKGfCmPSWsP+1MP8CDGaS5pbg1ORRx3ay60XBlwTVQCpebDQ0m9DGEGamRvTwGXo2QrA84f7nN8epwAUj3XRGBSThCXrSngHYytQwMS9ovLjfdO1rdBNlVzxdEt2+YcR2GEIr1o=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1702688555

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

%REPLACES%
kconfig<5.111

%CONFLICTS%
kconfig<5.111

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
extra-cmake-modules
qt5-declarative
qt5-tools
qt5-doc
doxygen

