%FILENAME%
kconfig5-5.110.0-1-aarch64.pkg.tar.xz

%NAME%
kconfig5

%BASE%
kconfig5

%VERSION%
5.110.0-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1198076

%ISIZE%
3257844

%MD5SUM%
62802c6360b255633e988ca1d34832a5

%SHA256SUM%
5ae2b9a2f26d16ee4b5136dc4353cfe8a7a5652662987ee0215da5cb5e3ab273

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmUX5eQACgkQdxk/FSvb5qahchAAt5mG02kuiKCI1jlCDJ+P9iuLikS7tIwefdc5IraCTkco9H+RfeNuRO8PX78Fvo0nuK5c4NP4p8KekMC46KnZlhBeUqnrriTskaczKpQys0Q0gBfgXMniNsKuJOPe9Jzzm3UasVyMwN7GRyLoERfiBdmrq9FNJkgicW3q4KB/nUz8nGbNCxE14KPM3crLYb9IGRkhuQiFNHya045FtqN5jp1o5r5N8xUUJwCcM/CC9KLJU2RH+fTYiS72xLY++3vxNnTUzMPS6Jciwh7VGx1LSUQXoWSTs584jEU8SVKs6U1t+tzpe/CRZMDlp799HvITgMa/gXfIzoYZTrKS9x1hY7iJHXRm0kXeI9BhwIRgGUaLaeiiSNy4TPu6XDImH5VWWKEQOOsjv/kTvgLTfUNfyuAsNVvEwxEL+H4eMwwtGCbgjMXVMENY9sVlqyyhpCU++mn4rpW/PU9DcicQZv1fiI8C5y0Pflxi+2Op2fbui+J0nMnd1BgRJiGGsZ9X+U5K9XXSakXUAwCl2LkZBm21oGba5I622PVnTXofG9RPho8MarMTlV3nsB30ePBIrd3lU406gO18tjkrjd+BlRti/jovmcpmaM0/8gcGeIV8jOidGyYZqe+UhVkAKt5xRRfrP5mDcMRjPQ1/5RX5C8ICaQLGYCEAmpFWbcdUIVdT7d0=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1696064909

%PACKAGER%
Arch Linux ARM Build System <builder+n1@archlinuxarm.org>

%REPLACES%
kconfig<5.111

%CONFLICTS%
kconfig<5.111

%PROVIDES%
kconfig=5.110.0

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
extra-cmake-modules
qt5-declarative
qt5-tools
qt5-doc
clang
doxygen

