%FILENAME%
kconfig-5.104.0-1-aarch64.pkg.tar.xz

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.104.0-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1211728

%ISIZE%
3371192

%MD5SUM%
3db576e7390e73de4507c078e663b467

%SHA256SUM%
295177d0d8300fdfad857adbf764bf4a3f01837c1e26853cb9fcbd02cff8037b

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmQO49EACgkQdxk/FSvb5qalFg//Qk9bLaCJ96ZvHnPELM8zIWV7ulnVv1tnRDFP6wbFIxV1VbBRko7D2rSrMTj9tfyWIcqyBrGQNZK/B43PxrZI5H8FOq0ARwPTsXjHoSdZenE99L8tH6quO0broxTcc6sWvX1/0Vm5mZcVK4jQdyMll7M5QLcE4im3/37ybXUCHBMTDuhY9fkZT/lSzWQigu36zfDoVL9jNztteB5wnJcn4AogFBM5uNCneUw1LILCZV9v/4l/e6DFPPaMVy3LrZaO6rBlZS2PRWCprv4XlIcljt8s4ipLERbQZtvaYVWBrW2mWWdYnL3YjUjPhBfsnumoFLe6pRygHV2Mx8czkVa3ekJqFjTyrZAvbdC5MSw8C7z9mGqiJrgVdsy8C4GTT0N4NYDirni+yWfX1Pt5Su/u+MGzXOElAqCsTQE6G4z2y22f2Grg7MEJxqn84Pi24Y1OKZDeR8/oVPIawbmQDS1r604Js30gnIf7fxL2o3BlqGYsqNHv8G90KFWQZIPLpABXRV+0IRBfu0rs0Ka7e0eTpIzDjfa6r4bYbb1ynE9yF9/JhRkhXC3n4j/i06n8WC8mPGdIlwnMpL+yO/mYB5/bRRKSMQH3grwg/NPN27QKoIb1+m26qWNIaBaBKOqigaoctKNYJrCEB/uykE4PQZBWhc9WCqz9qTNuND0Ql3gxpwM=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1678697350

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
extra-cmake-modules
qt5-declarative
qt5-tools
qt5-doc
clang
doxygen

