%FILENAME%
kconfig-6.0.0-1-aarch64.pkg.tar.xz

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.0.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
1238228

%ISIZE%
3408920

%MD5SUM%
edc8fdf3fc45295f9dd26008f3d0093a

%SHA256SUM%
84de87c940f6d9c495438773e44dac3de81d5228f28bee201a397ba5e4b55e1f

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmXpK1sACgkQdxk/FSvb5qZVCQ//bVFkMczVt9MYgKYAoph5IL7J1LU5nHiYyzNe+GUO3j4RnG5K2LFci28AOZdTvwxcsRxPUlNAOulfat5mCPDcJHctxEZE2fwQsj2BysrYscnu63HexOrzYqn5StTNQ8HgMlyoDHyfowzrjtKOs+UbmfBBQbW9R/UkwI1ULsqCziMECZTEooi7dAv41RuBzo2aP2y2mm2RwGg6gYvFoNwIglP8ImN7skxJBXZCVnnrP6DW7qVm4BocVZ8EAAurcQDABjKPaMdt8jf/sHxd/e4k3QSYhCVtxs5/c5UBYsF0TJfHMYvRDf4YY57meLw2I9UmKgj01nktXac7a1R1fJHZfaHYWV1wPCFBZyxA+Jm9KasZPoalKXIO3FCecYa6z0vjP0tB582yvQLnzkYWaU+Pej+z7iJPLJpLYiIAILZFPVaAgza+6nv8JPghJl15Cm3w3nP+SAlZbrIKDLYFB/agCU9JKOwJG91pE9UbXrjfteoP55GO0R2lgtV52q8C3OxI50ExbKIDLCbjN1R9HjVUkgnWla/AqSNzfVcDZXck3fXnOiqRiLWot8Xw/QIYYELxPruw/PFRbeN940rqIvmtcWsE7w12VqaoiAmfssnJbCDmNCSh9m7HRaXvFNDljDCBlOY7ERu8PWSn5ezhXP2+P2mKvAlyXgSZH3zoWp1fq1s=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1709779695

%PACKAGER%
Arch Linux ARM Build System <builder+n1@archlinuxarm.org>

%DEPENDS%
gcc-libs
glibc
qt6-base
qt6-declarative

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

