%FILENAME%
kconfig-6.5.0-1-aarch64.pkg.tar.xz

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.5.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
1367388

%ISIZE%
4234811

%MD5SUM%
187d083f0d63b74e41c1e40b0e6e56a7

%SHA256SUM%
be434d37d387fe9c7f3b5a0adf68b246ead588ee86849f9d71f06f9b7c842d4e

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAma962UACgkQdxk/FSvb5qazpA/9FD5lJtnixl7OhfGLYazexZtc8Ls/EkQXLN5ZRPVbGV5Pf4cXTBtyfSTrY4CgUlZl2ZePVzaA4s/ztcJxb11M6LZDHRFraanhpHyV86+k8+b6LhR4ikIT7lTjqxbHYgCGWK/+ZmDBFz+KbxXcJdc+mL8T6Hv4Fw00Y1FaiijBqeWFqtB+Vw/jzjiPv8DOnoi9R3fztpUKtufTEA7970tTQ0EHS9HBy1S13/1UrXgA3aVAoq/c/GXXhn787JfTZFk648hMy88FtQQ1veIfKRQ6w3/Ts1Krao3GoqTJRb/m8XHrLJLOP7mStLgTdVfcVtEhwVjA6taT8RmRECoS1HA5hrcu/9fpfGt5gIIxHNF+4rWyjYBe3FqJclPSx9/OmofFAXcm1egvN5XRec9uUqEeyGODX8zXN0WVCDX1IgnVidOjNWNCS+et4PRBh/Hu9ppnS6fR0hNg3/xC62b55uoejiIOBZQqq12RAdtlunKPbKOj2/Uzaqrf2Jw2aBLUrzkmC8QPdANKiYbhveI0YnIv4DSW+iWhty2Y+0514YKgH1k/2cWCNCbu2ZXyOZdxtOomIuDPJ1uPjz1AL6nK9yzWDBxwiiHLCpXcTNApQRa4V+r34mWhNKEV+/Wtrx1CF45rBv9vpUhnhxPJeUX5P0MNWJgjHuiPdcFQMLV4Y9a/4JM=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1723722468

%PACKAGER%
Arch Linux ARM Build System <builder+n1@archlinuxarm.org>

%DEPENDS%
gcc-libs
glibc
qt6-base
qt6-declarative

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

