%FILENAME%
kconfig-6.4.0-1-aarch64.pkg.tar.xz

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.4.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
1359176

%ISIZE%
4213909

%MD5SUM%
60dadf211c190049c98224220c4451e0

%SHA256SUM%
0943cad4b5675d884c42c6eae93e689591cee22669f8d1dd9878ba9a8cb23fe5

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmaVt1wACgkQdxk/FSvb5qYL5BAAlz2LXrY6tPkZzWQs6/s0zloWR94lQxW5NMlpOM2ocSrK/xZ/f1aeZpg7q1qYhM8TH9dbLbIMD65LWiXRtvX/6t6LJSujBTo5ci3tyqUK5X2j9zuCMeOw2QDDaevJB6QsolfLhVvqmqGOEy60+PwZ3m1Zb1SKYTB6v62Mm8ZaF7wKRzxi8grMrSjMzULLR+kO+Tj6z+VTCSAutBvF7lPEbm5YT9GlVqlr0zaKxLyAHIUIb4CHTzPi2uXnqdxWDzyk9iCusueUaACd77u0j1P8aYtSseehAzbdcsRmi5owbFmhk9l94s1VmRzwbp4H7qd7EB1VeYdTp9pLLzvD7QkU6f8YRB2rF5wH5Ud3i8Edh+PGWOQu61R5Y8TZr6Xw7TlQJmlbnCbNrxJ0qAIdfJSgoKquWLxjbBZ14ewctJV2xWTPIVj1UGHKyc0xmvJ9Nsuf8kiB1bPfO29Yr8KSfJZCbHiFbbxPnZYRI/WjlNa2gr8aY6Y0rzBx2RuqePZgYUFY91jn3ISJQrgb/N3NYcVz4CrfNKTZQDZPtJNtaX9fW6IG/NsgviDTaXVc1w5JHC5iGNbvxSYQCLFinsIqRIQiZ7GkVqEbJ/j33fke9xWD/pmunZXr/U+Y9HD5JcepymJdqkoNis+3tLFvxHTMHH6aOXsh2Gjul17kOwYN93RBUio=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1721087735

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

%DEPENDS%
gcc-libs
glibc
qt6-base
qt6-declarative

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

