%FILENAME%
kconfigwidgets-6.14.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.14.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
668884

%ISIZE%
2179271

%MD5SUM%
3d370c6f4ea542c00061ac2da134e918

%SHA256SUM%
0f3f601a150b8aed0e1a1b9e586ff5f70f13ea8544fc9d3c1453b336f1b2b21c

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmggvDEACgkQdxk/FSvb5qbBjw//XxpbOB6ryf6F2+9xMQq56tjRE7U5vk/9rhboCvAf+r49ulAYUpH9AGPN+A6lGeKAYr86ri10o+J3bGKQqh79/h1/zJJilbLYvHHyhHCDhyv611hbh//zIvIyKBWEYM5cOAGCScOCW1tEtVV+WsnBhcPhgvxZqXd5sKG/NbE4X4EKykFuXzcnjxmIacAxAZ+eXT+NSV+3QhEBbHvsaWKt6JjOQXFkOM1X/j5fsxkXRocHZ1fdHm1SUR9r1Io2W/2aXCuuTdtT9n2wMs9ZRDfi94O6S8K8kWr9Kou2uPhYmShZsUJk2KzzzErhF1cnGIy0uPkXKZ/q2/wp8endZMEZlGRAICj7feEH5PPChQcofoc9OQvGOTQDhuQLQFdOyrHaI9p2wwrzUSnuXIL2IFFsATo1gqSEO2/O88qusBDi1EkrWjgOdPzQRikICUiCTVASV2ikyGPMlvWnS8klN8v8KupMPXSQn2ss0tnEqL+zO5ZU4hVxVjIrZ4fdRIYtdxx8WZbSai14E9oA7+SRc+CxHTgLBkga+cF7VnHDfvZn6teFzLA6S4YoL4AfNkn+Ce5URO4ny64aUQ+VC2hIY5Nb+5OH1DVf+BHZ3+0CYVcQ9LTEzvl9/d2YNHiJuuwKEKhBC9g465fQBoCx12u4V3lD+2ljlnl7H68lKnSHkdHFGnM=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1746975691

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

%DEPENDS%
gcc-libs
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

