%FILENAME%
kconfigwidgets-6.15.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.15.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
327996

%ISIZE%
1553609

%MD5SUM%
2e6791a5bbe7c82104e2566abf95360b

%SHA256SUM%
298e2306fe14623821e238b78428e080d9c44a332b822f6e72b657ab18529a2c

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmhO5QUACgkQdxk/FSvb5qapVxAAmwaFbYPTZS3sH82SH3Xt92KtWaXsYIXHyU/gtXHXlQqYgoRJAmOd9/JE+Bw1NTOxJpRkDZ88ZW4hvrlX8wo+k/xlsCKLvJYpdbHIBwg+5QnSns2STeoS5iTnk1dIJce6jtt/Px2g+KnyxHObxlr1fOLKzUMtyNEklolMa+F7SjPtrrck1l8QmWXF7KuEMFsqFsJHgdFlOCLHa+mD2dGwNg7CNIxI1WjRWmoGWlkUF/j6yaN7MTDbVEO0ZTKsmuEP5i2xlOIteKTSzYKwx7arLJFJn/L8Crx+h5deZA9xiKbwGNxzNy1GIEkGgpzFTKo1dvO35kh87GW8DF9HiD6nbHeKwjYvS6HEHR5tl424+AenJd9HwweWA1Q37Q80UNKhO3QSbT1JgYzQt5Yf1rqQZ25uLzY2ZmsSPmluNo6ZvQYhQBfWvcqBzvmHBZ9HZyiY7X84+vEJRRjUdq3+wTPNsTei7Df8m81b0nz6soHRZUp7iB4h3LAOT06pbEClG44IsUIUOON/YD4TREqZeFchlqyrT3nCW7QPCjkwWqsiaBD8kkN/jS1zM65u54z9eXIgckUQyKxFNQatGNJrD0sLXvhYXRftNdH+xrZqZe0H7nTQVPqzU6G9mCg0Tbi0EXuqAY1sN+/ZIdP8EBWOEEEdda/NqLQZaeguOEW0mFJwz14=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1750000756

%PACKAGER%
Arch Linux ARM Build System <builder+n1@archlinuxarm.org>

%DEPENDS%
gcc-libs
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-tools

