%FILENAME%
kconfig-6.1.0-1-aarch64.pkg.tar.xz

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.1.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
1239424

%ISIZE%
3406976

%MD5SUM%
cb614213ae322b6b7e63c7b7cf9ae5d4

%SHA256SUM%
7f6d3c1701f85f0366e380c74f13bf68d36f615c702db1a1db9169490f02381d

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmYbsXcACgkQdxk/FSvb5qZO9g//dma4ZywyDtefQlDjs2tuGjGAMtkxL7NeoeoNPDpvXS8gdxCKyqsWKMu+En48PHMLPkqBG+Wjw+Ps7L0xbLIVQM3RmD3NTE/3UoXIqeVIyNjb8ZsDFepA3S7BHQYXGpWqOcgRmVfSdHRVEe56cF5asjP7iUzQztNLgOR7lLZFxvDYpRPI+M+qwvlfEqjzxPs6wmd2iDK7+wAtV/pbP0Ycq1AT9ylT4IUvIweUvQCUCfNRw+uW3L307pgJK8RjyzCONStZI3do4TAdaehJ7zJBNjZp9CsHYPQLmamKqYTRE4J9iNBNDfe4rNk2rF9ODCeEigClomxtQmvZ2aU1sKse/Egi6A4bKlLHh7h/WXS1C+iHgCl0qjHAhYCoHyDM44I0xSez3bbGcTye9OrZ8J+9+fmKov0tVlw8oAnSHr3d6AZ3SceVa5QzdMlvOVol5zaeNPgtJn3o+4fyfoG6icvNhCDP9CSu753cW2eE7TPiN0P5O2uFvu46OtZ84chwHv3NUL5b9jtk5R0UlcbBrM60jbldv93kNWpuCGELownmH/9eXefbsCG3tQ6oL8oR5DVnEbLRWLiR4r48lrI30dr1SuVrqZcehjkzSf4ACt7+FYKn3nwNdf1sukrgPkaR3mkj4j9pWzhqrBQfh9Zg0a+tuf1d9kmnYasyaFkBS7Kn04I=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1713090835

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

%DEPENDS%
gcc-libs
glibc
qt6-base
qt6-declarative

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

