%FILENAME%
kconfig-5.102.0-1-aarch64.pkg.tar.xz

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.102.0-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1209036

%ISIZE%
3370430

%MD5SUM%
72e52f24892bfabb3c771cd9d0cd3af6

%SHA256SUM%
eef498e8d84960bbcbfef360710ea5314e660392aec15400e403fd167fb6543a

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmPFcegACgkQdxk/FSvb5qaEgw//Q8pNMTmpbOdoh4tuOqDxhtEurgiYkC5Ur7/kz7AJ2IRAY6+sfmwN/xqu8iCcEtlBwhUOmmNsJG4rcu76GiFfsHfkgd4LIAD/KKCXd5KExJngY3xOkDHQd/hB/XO/QLUZfB71NDchbB1QW7TlJrPX4542LbP7dv+7UHMQKf01C4001g6XHBVtQxIawWyz4XKR4us4w9d8eEcumKPb9+VFeKuZFxVkG0I2cTDN6CsCA/bNfjYBuliCL0d5wsHvK7XhtRJoqBdGDkr4ontohFRyijl0a7U7liA2aeyUmKugRI8TYv9r/gXHFnggYJfJLv6SV3/Bhflq78FjfZoypMZ/+4p/MwOjtuiH6A8ky/HlPfe2MDeCIXTAvPi6NxzX6K8iBDi5dEreAzzVoa5CPvih20J8Iaif1CHUKuoKbSEXoeC7Lg8n33A9XS++y1IB4FbTIpXum26t8XzjRltHEcE8cFskhZEMAY7KN83ICbYSs/eR2amxvZWnuKKVP75fReKVawia/tQndUEofg8gVUMqIgU0Kk8gBJIhi1MsLPpJmfCNj6yJjywtdd39xUueeIUn/nRU6xMnt3nqytqI0wdOz21ylEArIY/QdnE8uQqhrnk85yNh/ra7Cud2iTZ04jh17xjNFbca+6RqlkujU5k/+12v6tjEOZBImkH5S9h3DSY=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1673884043

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
extra-cmake-modules
qt5-declarative
qt5-tools
qt5-doc
clang
doxygen

