%FILENAME%
kconfigwidgets-5.104.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.104.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1157780

%ISIZE%
3042695

%MD5SUM%
9ea512efc0fccefc87ae12c28168f263

%SHA256SUM%
92ee2e95e40af93206db2dfc11f633be97ff1a5c261ccb4aababf960dfc60712

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmQO7hkACgkQdxk/FSvb5qYm+Q/9F1RM9UojgXPvrc7mw/wIylAhbs5W8wHx52pT6DpIDxNqKw1EChNQ+Lo6ApSxmNvnCvWMgwoFOBWOd9GS3MwakKYArPU5qfigif13AKZfNwEnR2kDl9JZTn8MjmdiVvPrStKmM7CPDDOsYQVe3Gr9dgspLyEV0BsPziMRZBI3O4Sw3mAeTAcJABzYbX2MYh5iPW1sK3d47+QgNRrmkRegIh0IekaPctPFyAld9yqdYaFfrI9ahTQ4V5vR//+Fzosy4KNJzCl/fxFJHypT8vX6ZSI/gYyn76MTgl6jMHaab8jMAQf+M6LmgBTYT02r8MVTVV8Iy2Ke5FE4XpGh6kktHCB7xtJvSdHvh4ucJcXefR6qKAyAovDw6rhwiLX5hNDOuM6MOf7OXl8Z5cmgqZnB5T6Shcv9AdgKW2gRjdvC40ZWBqGYtmhk2h/okhYgiNwUAaYiC7irSkKmN5nhE2s/EKBJbnV6ywx4zt5K5x4+drGSuXk3ERmuguE76fDNkk5OViH5/rGjHBRKm5yZXJS+W5bSJY5K5GAJNiF8zdh0oy5Vf957AcR6oT+9yevxJwKdkWMsXr8Wzm4aAdW2gEaJ+dqtOvAxSqVTCfMclyuPH8ZM5148KGZ3gNxoD6gi2DwGDmCaYFR3fugFIhKqTINtarOccPz+Y1EuFbMFm9lkqFI=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1678699965

%PACKAGER%
Arch Linux ARM Build System <builder+n1@archlinuxarm.org>

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

