%FILENAME%
kconfigwidgets-6.10.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.10.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
668824

%ISIZE%
2171616

%MD5SUM%
e060cbe4889ecedfdd65407ac5eefab7

%SHA256SUM%
6a432f5dd32fced43692086afce810fb9e9564bfc82015b66d96b94260961e08

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmeCkKIACgkQdxk/FSvb5qb4qA//fecU7DAbMe5yeZtpk/5+91N7DWmRoV74qzZxHaXKIKmvXebr90sxWCXS8vmu30w92IHyNYvzo8bOhRwYZpVqsrFsfpc83GCry9My9mw7z5coBbP2jdrQHVYCOoHTDzD1j0iF7sp+ZjCpFyUyjzzOO228SGcu9Wb0aez3AeeR6Es6xZU/Chntf01ZH+8o2k2gIS3oCU/+LcPuXbJBcaG3M32cX2yiTidOFhGfpRP8i4jUYiDYhkFo7L+qumXw9NLvYnEhNzchEajIzqmvSD0/azt5XvBNZQ8aRaHrE69GShzkeq9D12n1MyWooMsRjULYqpxR99RwNm3J6sqnR3r+dneE0vJHsUApG8Lqb47eWnkNW+ULkFirx1oCSaaTntL3AuKujxbTs+Ym+94AfIya7ALl3QPnG49W1pL0CvjvLOabrdS4yXrDIrLa8wglk6CZfGr3iDEKuofxdKGhN+n3kONOgT/HHkKac5h8yF+0Kmqu4t4/6tYdYuTgY28+3uIqPzUgBJVUZOFG/oDVFEOmBAyDHsjNOftdWinAzRyvtDo5g27C9ckptU/XmH4/jcn9wiwQRoFDKhpsZwsA8rjtY3ZIBup1Vz6Ty/O/j4hpj6iLiNISEbdnvieoQJYDrl/O22SPoBQvNUo8g/WLNLFSbQpWpJ82EaxY3gjM4VaWq/Q=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1736609838

%PACKAGER%
Arch Linux ARM Build System <builder+n1@archlinuxarm.org>

%DEPENDS%
gcc-libs
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

