%FILENAME%
kconfigwidgets-6.6.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.6.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
649536

%ISIZE%
2131059

%MD5SUM%
a8813d9944ff42e705747dea8ff1c96c

%SHA256SUM%
ceaa3157ff1c66501218d7c0d3c795cc9a761fea68bc605fca149843a500f8f3

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmbosvcACgkQdxk/FSvb5qb/ZRAAtTf8oHEJJeA/DHJ7FgEGxSVfj3P2ROzQnmaHDYYUgHn+ToshHp4orRud/1gy9UqTaCuYM/Pew9RjsLfgmFPc/OH2AGUBEcUuS2ucBa59A7iXtfhc2azntKqvZBEJPKh9AxxPTZFH4FTfrIor7ewM51iOpLmwj5z/IvSVPnX5PhW6K5/tR+BXtSd8X+U4QrcXNxrvmRRfL2Mo+hQNLoIduU9IvoJsWs3qSKg1OD1MxL7NLb4v6aWb0uS0BPkImRGne9nyMzGhm5UYXmFtoszuBDI7VRs92kpF3XI8hd6a9Tu0kVlLZblGPZWL/3YFA5BsenBY3LnBiHFitsFvf+Xn2Kl5WRvYbCs2RPMKuWxK26/qCFP3EFdRsy9ujIdO9L9Y9Yq6MgBWUaXAlqMXvkN+4+VL5Aq03Zh/UR/FPAXJ4eXqCZEZknf2T9LAaa2ZsLPTGxzh6dNrINhf1Zdb0oJcKVViFfMHfO+2IjC8cnmpBAIVxoYU/tn2Yo8E3YOGeH4a2kXLR47dOb7rNvcD4bM3IHzJhhEjC2PkwHSJnG4OJkUj8b7oCqp8kDn8DhWfVxF6nl0tqJzvOlS7eAz72q6G7An5HnxCLUEXjnrwFCosPqRgShKfHTs8R0cHZKTmgPf9Yd2CDEIG84mJwLEUAxawOKpzjxOamfb2mZFPtqILvYA=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1726526084

%PACKAGER%
Arch Linux ARM Build System <builder+n1@archlinuxarm.org>

