%FILENAME%
kconfig-6.20.0-1-aarch64.pkg.tar.xz

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.20.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
469464

%ISIZE%
2696824

%MD5SUM%
57ebbb2ca722775916e128254af38f40

%SHA256SUM%
03f4de31569cf491c8a494fa40b7c4b7da5228cbe581f1270a53d9150943c084

%PGPSIG%
iQIzBAABCgAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmkbk88ACgkQdxk/FSvb5qZIfw//W71A7AtMK4FttA9Lixmb4B9vy9CT14Bt9CEBlVg/0pUVVCdQQjsa9T9diPC5ACo/V+l9fYY5ypHTCs15Bvkrze4UXUrLcqmqvfQarSxzxASf5pqFumkOUa9lKLs0PbLnLZe/PMWLKT8gAe2x6/uTDOdndBhhftngf6IUyAAOeGjTdMgjYLroO5CSe+U5j1olAYqkDHg9okYG7zFg45aEmShZMHsaEe7I2Si8fyVlzCETjo6HvepUki2HjqcihQbu06W6MTE0znPYv9GXzR1fkYcbqfnev0Ycqb+wLxGQgMS10zAvACGjgRyDLrlZuHhaKTvs3fO06q93Fj8508WMdfpTxSHg98G6TSC3ZG+MZxBDw8pPYs7TLxeg1JkDMXC9tswEgI1PkI18MRtN9aLidtCk+acFDWkkFmHEC0EnIfDet1kHjLWDh+Aiw2TTuJgKaumuWLsFprm8OEqL6FVR0PHNerMdnm58pfvxpGU5YXbyo5ldrrbP//+4eatYIz5xuA3tXiJdUHV2bHUbjY5OJSmndURrMEV9auAwLsZIzga6heGnE5WMYdQA/2R23HloUfWGzzCp3/zli4GoQlo95FAnhwlOiIbWVtPDq0FFtrNwktR+KpSRAxqodvVRPHvKbmC04sX8l7OMDk6kKJ4UlhdAr7QTNC9YLhoQyKl8zbE=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1763414921

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

