%FILENAME%
kconfigwidgets-6.26.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.26.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
329384

%ISIZE%
1553684

%MD5SUM%
d91d82e8fdc68003b7a7c910471c6c4d

%SHA256SUM%
bf80ef5fad8abdd2028ccc0083130d984deea9b4296b21817804bbfefd628f08

%PGPSIG%
iQIzBAABCgAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmn/a/kACgkQdxk/FSvb5qawqw/9FTk3hr7TjEMsQzK1FQLqjYdhsAcy/WelKolalm3LwSy4BtCInTbuVFTQPf9TdDEdJ5HkF+OMMG6LcPmzzo2pQtm2satSOLTYcCJyr8J+xzcO7hF0FuL0GwAWoXuEf4+EzfwFVMOPGBCwV+6W6eZtSRzsg9LHtqoi7FEDY+uUReAMrl9oh7z6ZsdWhh/OlSpICNXpcxMzQAqFkpJ11KRtEEnwZLq7BKQGA1gmaooS8y+ByKV7y2wcksquUrjlRpJr/ntxY4K9Vzw2RgtfehwJxvBvp9sfHd0i9qS30NyB8G99jxSZ1aRuCcMaYhAdOL+RL6THroJx90OYV5eQHZXGykHubxWQLWPFKlx2bh06ekWfZasIr78gtkIO/mxqwT7TH0+tuKWn4LXUa4QZq7f4FGjOYJs4FifoxTgEvqIMBZfg91NwKJy1gCULFnop9E4B14a3X5rTriyTINb92MXwcXh4WgwcjOXYaTeSE8CUTq/dKd5b+O3UOKaDRuJfHErpgpfMSyFmy/M6k6qpHIhu8z3OkUsQGzm1Yt8wVPU3bD0akJKCgYHiJGxBfYvE/tKvd3THb5f6qV1H4+IG9JqAVKvb+uA9WC4TQVut1Sniw5bKBOvMl0ZvsZaGrGWRwMGcx6CNjvg4aXRvEP0Ynw5i2vp+jQrv2sargkLAc4LV9+M=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1778346947

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

