%FILENAME%
kconfigwidgets-6.30.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.30.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
333632

%ISIZE%
1582190

%MD5SUM%
afa284de2c51680c62fff7f5f03bde20

%SHA256SUM%
99be668e40c27bbc4a6dc9970f5aa9b633dfeb6394e1fb45010f0ac687734766

%PGPSIG%
iQIzBAABCgAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmqh1UUACgkQdxk/FSvb5qZ51hAAqHCFmA0BG6kyoasPp5re2BjcF0PHypagELwDckDtsvaQWtopATwGhPpnVvvkRjuDM32wmPdJr2KQavu7U+2utmSbT77DXLyxAASZrZqPxveGwSsqqW7iTyKBZFzXOi/QoP3qdGCcyMKGVzYf0GZd6FFfPHr+LmpncuVR+soJZUXNMeW8FchnLZRO4JzbLAqvCvEadGzuDrjY+xoacVIFym0aV7qqFau3+UVDvuHYsnQFh9xgN4lXX/86IRuK4zhg3+nGR4U9K8/64OYbhZW1R8feoQXdepPajjcGOPmgXgPKco9mhzqmpU7i4PSj2fNStQr5HoKn8umkPOOie2t4QbZil4kF4Co2v6DDG8h4GtXWDUOx7cVgXtPP/c0lbkFpKySUoTFdW0H9JvYE9A7z+ukv/Iji8964gi1BZYrFKZJ+OL5kSrTxA+o0hjYRidvVJFqUmQXN0sC1gokFEQMARdjqey3sC118xr6P/SMW6VPqH8t4TrlddA3sGezWP3SbtpdKS8MLduntRrQ8tpLfWpDza54li3631G7rSrTRhDXivwM/AEqnkEIOIeuZT7tMoh8XNw41uaHcB2xYLLOqseTxAFtjcupvaYWV9fqIgTVdk+mt6I29ZlQzHJPu+1rLFE5wtUcGrLBeoWeXzlDB/LR9zIF9sRsBG1BMl1xTalg=

%URL%
https://develop.kde.org/products/frameworks/

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1788990708

%PACKAGER%
Arch Linux ARM Build System <builder+n0@archlinuxarm.org>

