%FILENAME%
kconfigwidgets-6.4.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.4.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
648788

%ISIZE%
2130604

%MD5SUM%
41d2a52e1a2ecc9ad573e13ebbc8e602

%SHA256SUM%
c8a2bcde893066a0cc653db152387e07f2ce948879235d1fbd4a0d13829887a9

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmaVyM8ACgkQdxk/FSvb5qa4SBAAynyjZjYCLQFD4SHUUnEOEkvtr6uB/XF4rcd1Tw7QCm8Fsze1QMyMkFoOQ5qRcAfQTNaR6H24rKcjyZ7AgSjbKGfFQsjZMs9sCTNIy9yk9BCZaJyEpQD8ZjOI2EFaUzY1R/d9X1SMXvRcMu79woWrO21aaURFc4cgnnAKUNMnu6iE6btZdFStdycpo7nkif1N/A7/V/hssXzSRaZmCiJMRQL0qINLQbAHlN2cQ5Cqt4wzvb6dmA+LrPoSE2gO46mhlMCC1hRps7ZLCWrirXi4pGvtf4kTGyRAFnLS6NNYtcHfPbD7nAkMXu5qEhhAh2Xr4dhDYxC3MYU27bQifd6FJpUYSz5XkEd1EwGctkk7xg+W4KlkQJaKH87kCXo5vB4d4XB2J3HRaHi9gVT6B883WTJ20W9zNS8WnAUnq/s3kHm7oyqpazTLL9B4jQkxvPgcS+bSJfO5rrIiYhZ2d4HlhCOcqHbxxQ6PMGpovKDtx0zcwY3recVTn0QNFxPhNMuhsMZ6I2LsJNOY7Fq+jZNrwAg6aIg61G9LLABn/MddK57QKd5S69WFaNhn61gk7QkBmyh6vZ5C3v36FHM/ZdDCPf6JGOPWqepY1pOesmNZYqkWPCO7uxuqx4sfeMGG++CWaSUJHptSEfJOUfUeuugIk7IgqwUt4khFnELcJ7rPpUs=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1721092189

%PACKAGER%
Arch Linux ARM Build System <builder+n1@archlinuxarm.org>

