%FILENAME%
kconfig-6.21.0-1-aarch64.pkg.tar.xz

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.21.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
468292

%ISIZE%
2697300

%MD5SUM%
e62219ba123f47cd1eb657097bfef291

%SHA256SUM%
04c5ad14f7ded74ae701c5a009ffbd47723ffb97e4aeaca896e89a210c8e1e62

%PGPSIG%
iQIzBAABCgAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmk9VBUACgkQdxk/FSvb5qav7Q//ZRj7uhsQf2g+teUZoD980a5kl8HmNmwn0uykcydakMRg4AcTXc1KDFMNsxZKXQQrWzaGy9J+C86wTekEtKQ/IFHvdI5U4xGCVJnmUyfBFNBaqMwBNkavBZgEKwRg1qFVUCgpMZiRjBiX6P3A5M27TVFoQy6ngC2Mj4EN2ZsY3C9H6RfC7jMWMPftMupGF7CwM3F1QMDy2UfEG7He4oIrfUG8ui4KGk50oSCzKzEYLTmaaCLfFXgtnnuKYvK9ZUP/kOkobw+Njlmrp8cwDD8csm5yFHI3lgNYNP6Efvg3HO39Wd4SBCCRSWLzeGi2qNEWmDQfZvYV/KftIPjqZoB4SrbpdbS9/1Lxh9rpIUvjYB4eW1FZZTY56J8tSEhyKJqZBpZn7CBvzNFL8yrASjzpJTgoHy/jhORN1qfXZzou9PUhft323P4euYCUNY3mRTsV/cVC6XakOfwK9haSYtb2EMQR8RZr5cyclpg/EMDxcKJ5NfIhfX3AyJ3ZM5/0PzF1rUU97aqR6E0n2ValTEf7DljkSfK+jrWjdiTMxdtW04R/70PVjBsskdG3NKSFA1yiN0poEqmXXkoIWUxpr4+qFWqzWVoyLv8nTUPsPBdO3ZB+OiQrp9GhEVIJknvv1aq0ZmfU7mfF51N4ZU0y3xITBHge0gI4dq6vJiS1LA1qiOY=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1765626828

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

