%FILENAME%
kconfig-6.29.0-1-aarch64.pkg.tar.xz

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.29.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
488308

%ISIZE%
2862986

%MD5SUM%
dfd46b012342649efe2bdb0b5f67f487

%SHA256SUM%
9c79c40fa8876f7be482531f8cf0f4be05f2093b391de27821407b1bdbf79659

%PGPSIG%
iQIzBAABCgAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmqEIQcACgkQdxk/FSvb5qZHRA//Q5xFuuqKhz+z2+Rdtll3U2YQ5N4bKR0Z8913Gc2rJqCzYet0Cz7Dzn9KniMcui8lXUAfwVjYSWO+rZP0tJLEkwjryQjtyQyGjxc53KQ+2+oNdC4OckG3Lf/E28Vg2zB95Noz1ZbuvvBlu7pgCuBfepGxdr104X9ipLJuwB1bNjHdCYx071K94K7SbjhJb/Cd+zMDBqS5oY2dcZZQR286VvEzeBfUpNivd2OnfYLEW1ZtrnIh+PQNPVwkn2xneYeMh1t0Ul/LkgnMUKl32poPtJEC++zGU2JJIq9vFoUzu5dtZeIBTd3kqIqkMeazvieIPWq0QZNFaxs3NjYjkuKkvjC36KfkC70ti/NY0cb2+KN6IEablnrUE/z2kKW77PcLfSSECFjhI4snxbyhlkCNjoJR2QZh+9w7YqaI40fGBLoU6S49GiyiMHaBGxyiw9mT5Rhct+KwdvMP0NPjN0t0VXy0/iltFoNCrlDhv8dxb06F0ox93OGXWN6JANj50qhgL3pv287dKq1nmtzX3oU15PiCtFk0KpZ6WTmbYTWCPF5J9fbkvqQaFWc3TPiQGq+qEUxaLlhVCsWKHEpUuvOHINjqQ8oUjY8T6+gxtyvfN+T202178rzZHWSlcLMolIvq1ccqMikOWq6nsKTOfe0Xfm8rUK8ur9cGbFMPVjlX5d4=

%URL%
https://develop.kde.org/products/frameworks/

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1787043995

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

