%FILENAME%
kconfigwidgets-6.2.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.2.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
761028

%ISIZE%
2230783

%MD5SUM%
609d28856bd9a8d3ada231fd0469cfeb

%SHA256SUM%
40e95d50eb56f47537b8577d0da49f6be02dcc871e2ef723062602b5a2e241fe

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmZC0MIACgkQdxk/FSvb5qbm5w//S5BzMTbXuUDsk/N9zLzBxSXdvcz6zU1Au/aQ6S++r2pr+0N08EUbVdj5BMIehO/Q1Tugvtc88dWrDW/a0mfjHhFEMrBdPzwav8KUocPopAgStCHg4PvDyijT+UgikxowEFql+GxbifbWY9kbC1ghBYPWmdS2ZlIdyg2drGHc3DpUiARL5bgnWmVvLbzQWix0pdymnyYO7iQ4d4E9iYG+8cFgA7iQ0JoXe21lPlMxvPNNCPs3EENbUKq2L4gUA0Zgz2j/kK3cIWhyydhuzZ+t44uOzWxezAGplRh5xUYXBHpdJSotMC/Hsjeitd0+CDMya1X0DegSZGzfZiUHvnZRpoTZBEqZ2YjQAqjGH9ewBdKw/qdtQk6NXPULbIpJpoHsWsg80JtbhoGFTT7rsMC/Ussfxuzud8WKfBpDJNY4fkg/xThRt+Ll9vXb95K3zzHrbbKFPo2ilDKErSmSDmYZSSdtM7fSbsTqOvhOhcuXJSi9LiyfOOnpRMeqm7eZ08S7LzH67jlFsGfu18pDwHBFeUJkwwU9WMeWEYyGQ+LCuBNw99sL5A1JuoaJLyjjSnhuQpGmtXUf9DQFtvV8iQulj3ajnvh3V7/X4+tqUzDjIRgx0dseEc3v9iaI9Jk16XujLUHuwG7fbwADFjz7QQYGiqzsk7X+2PYZgZpzoUQzk+Q=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1715654746

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

