%FILENAME%
kconfigwidgets-6.24.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.24.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
328300

%ISIZE%
1550571

%MD5SUM%
188c87fb9637353b49739b07670dad56

%SHA256SUM%
3b92596fd5e811a4901498016d4553b67f4bf98ced5bd9b82bb0b9a3ad3f3cef

%PGPSIG%
iQIzBAABCgAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmm4eVAACgkQdxk/FSvb5qap1g/+PbDvLZu3sAYhjh33yui7yN3lZROs8IcsrVPNHPx6xc1Gb8ZRrBL7m1aVpBBCmbXUlmupXpgxi9+bRlh+aiFc5HDgKdSm2Q+jiy6ztifv4Zm1jicNOWT//LwjDjYDjgDOlNGIPkCbijjdLnHMAH5ty0y6xM8Ut/+v5tHmCBEfvJucRHH83d5xk9Bv/r0vdntveyK6lZDaP9gzM5QyDdOodj/JMXMAwtILIxLGbqnz1TqEzMhd8LxzfhSD+bXeg48Zb1Mb2j5Fd+DWjmXSosH2HKn+aq19uxyHJE53j7YCfuZsRW2XwnHupJ2ETRcZwFZca+bKyMgJzCKRkWVaJoLTRNeUvLBZVrI+vVReKT2CIO0XKd9d/gkUzzfPFiWKh2QD3KYR5hMYlDKv883VUga4kAhluJw1LNbil/5XoLQybe0WYhedRcTqIY81ix880qk+4Ge2Q5ar58SNNN+51UfZB0Q64KDX/xfWSNEu5cSGR5BpHLcFQkcwhLDiuJKhUYMSCTbGX3F8wGANlj1igSLP6U0LazvCgXsE7iJyDCGCDDywNqjtV3V/xA6nXtKJS9h4AkBpLuAUXioiwwZCSc0exm1zXUFopHO9IFWw3wC3TXLQju1MIeAQJn6nKINmLg0jMiRuMZdA8r3UmnFb79Yq8IWnPPIUmVQjUoPWtIjOzkQ=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1773697305

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

