%FILENAME%
kconfigwidgets-6.20.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.20.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
327836

%ISIZE%
1550292

%MD5SUM%
d387ef0ac21da88929d567f63b2a581c

%SHA256SUM%
6125d6b70d829f6ee5f923008ce80e81f13a8d51080a138f055ce0d8709bc485

%PGPSIG%
iQIzBAABCgAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmkbp2cACgkQdxk/FSvb5qb6ZQ/8DgVFiLP4YXzUWabgljpMrJcsthOATZxj18yNqyThstS9l/qiEsStHHmZbBUS/dtPqAgXed2ZMnl36ZE24u3G/TAsdOmGkUfYdmePa0XZKKW3tzgxVSipe3YH6dYHwnbJkGAlcaDLPtdFEse6yS5nKOo5irOP99Kf692O6iCcunbscVaDGfWV//zcpSDz7CEX3E3nGgvElpWAJpzXVJHYKwceTP+k8Jl7TfkMymnBhEpZm5AffZ0+SfKCqdxK/ubj1kKd5bL2eDCbFIDR40oLFdfHr9LII8a0ub88fDJsqr+zttDfhBWqAnO0x09wto46q5ShJd8Cy99aDT+r5Qb/RLy20/HIN5oaydZuyb6GYepcw0V1GI4V2RI6jQJyqQmNh1D5Y4+pmXf0kOdfgyMmNqTf6tTJR0FiXoDFqGqZ/CkPdtzt4CSrD9rrYWNv8fNj/WWNTqNv7z3SJks9Q4Qf3VO8rOzHSA8bAtGuPmf3h7K6Ui126Ig3ZbcSRkT5evpKLiuBxpypmHD3cuTQ9SeiJXjodZWwphUP7BV/6SZC/tDjxx5hzd1pEHul0RUT/pycJ+Iqob0OF0QBPCH9bW3Wiw6xrOFpaMlQWkAm2sBnIwYtMaxbj5Fcu6ZxUpIbnvFFKn9moIv8m+GV1xw+OLWbWIO8l7Ei8YYOYiKhOh1CwaM=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1763419953

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

