%FILENAME%
kconfigwidgets-6.18.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.18.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
328456

%ISIZE%
1550175

%MD5SUM%
eccc349e03a73083e5e955120a9039ea

%SHA256SUM%
57e62d507b6e867a5cf4d4afd2142619be5950cd1e5b04e8b6f61b6c2af5cdba

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmjF/2kACgkQdxk/FSvb5qZ/dA/+LJ3H2RBx5fJiYuAybUnkHlmurQ2MEq/UYa+2u5omK6SzFnoTBi7NWcpWhxibuqYRubvDa2si1cisRh99U1wcIq7t96Xay0O+wEtPvetZd3n1tSO9g1W/wlJweJVwXjH6YaM/cYC9wEK4RA66esc379w/YonXK7h4gmM0pHMoO9GBAEj9jRbVTd5rztk5jiPS6DBKxLtRZ9VZ9bqlmd4sNWDr/3BP4Gin8CReIIVLGu1m19LZLJuR2doBgYb2kdriYcq9NpxnGsnqLInxKThwOy3nYYWaQzLz3xMd7POZ2L02/uMvtrPFGXKwSjyb4K4oNOTBrBX//YFAxUQ+zIOWo9vaS1BQW/l94bFho9wZV5YqzeRAjdNpUqA2h6cf4X9Fwje98UFiV79louDmh+qSvb4KnVXxOKiztZgxXBm5Gy2w92HwXNaBQgSiRP25Ij4uEEpP3767oejw9EK08EuvsIQA56sjBdJWShMRU/9zh0DnXtc3JKWtuq5qS1jFNEiTlf+gC0z9XZHzAe9UhFu6m9ogAxj76fc9zxf7OG74sFrV8WVPqkoH604qB+lpjNq4Iq+ngEA5a7fol2sX6T9CKWIX6P53mnU3OUcZS5AnHKY4wf+rZe+C0xrBIOvohYjeq8rvIrZH2KSeFdP1+YvRyaNyrj5aVmtvF0Kxthla6J8=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1757806367

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

