%FILENAME%
kconfigwidgets-6.28.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.28.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
332940

%ISIZE%
1577187

%MD5SUM%
b0ed06b1ed14a95b86cd148239c0e212

%SHA256SUM%
7252745b70ad3f4b2147de5dcc177adc95b7fc68d29b5e907705cb12eda14b99

%PGPSIG%
iQIzBAABCgAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmpWgWoACgkQdxk/FSvb5qaaTxAAl1QlUpplkSRrghoyLB60Mw7XJfxBZ0NILHTPWx82xHHLNhfZBw+ZCpF4UZ2LlqTTF84p4IP/D7ChIV2K7pOl1H3ajGfJQIifGON4mOGjTnQc75DuCkax12J3V9LHiec/2usLtfgVoevTCN/bTXLQf4WwdAJhF73RfK+psWsM4fBFBRhFqkTTWnxDHTNa/YFgb3k7/2YA4IH5GUeMhqJVV8s8hNsg2jy6xRdjIs5w0+XAUdgYuoMkVo0l/Ib5/vYuWgQgXI2D9BwQUNe2pqRBKeY6vfOHHepkouqXoLXZ5TrYch3cpkPvCG+PDXgWpR0+UFcwkwr0Tf/y/RFKin5pRcTYf6e8UixXrD5lNLBljtEEsZDYLmyKxVcM6qYxKl1jQ0puYj1LoWnYI4JUDQD707Lhuj40WRNTzrOX3LrjNx1MBF4W0nycCryAEfKge6HilBPvG75re0RffQp2CqcZH/xBJuy4vSjCRAcCMIdcSGgHTkQBnXzpcza9KTYM651Cg2B85wqRj4KqDBTELk7/Pw5qRMsZLxyS3WRsRPckf+oe5c5+a2Ko9250iwjc0OBBsncRSe3Nz8BAJV9rqMaLtNq5BNztoeIlp4SVwsKPLZ8mKdYNOoyry4VBHfjOXjqgiN3ky4pPFaSD9SwjwH59iPyiZOixkx1QE6NEpOZPe+E=

%URL%
https://develop.kde.org/products/frameworks/

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1784054042

%PACKAGER%
Arch Linux ARM Build System <builder+n1@archlinuxarm.org>

