%FILENAME%
kconfig-6.22.0-1-aarch64.pkg.tar.xz

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.22.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
467120

%ISIZE%
2699822

%MD5SUM%
97b19f0cac28cb662ba8d33619c1f1d6

%SHA256SUM%
02511ad1914d47cf19bc3af16a94baa741e6dd280189e51b117640bdde92fbb0

%PGPSIG%
iQIzBAABCgAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmlk9NIACgkQdxk/FSvb5qYBdRAAqbokoyKp4sUTEJcqPt6/kiFNPdiVS1zMxWXzeGDXBaXQ1ytihxVBGoniN0Lsn+ur2MclGBNzqHkMIwVmOYboVOkdlk1aWVZlcCygOU8MOtRd5f5scgHtd1i/0rjWkYp1pNQIRd418yz9vvCs5NmijnIm6syWfBeUewkC+zO9a93dBIoI4Cx2A1yxEFTcjC7+LWDYKzm4YftDf1j9xJcVWuU6tUoef2AlnY8r4WilykpJRoRC35AT6nGy+reJCsbVSx7I4Y1zZv2ImdGWVJ23MER69QSdpIY7nlkYjEMRKjHRQgyoq/lpWvXfYDu0Ok36bVSXACtWzPwyYjqr0DBDZn3/etZ6CILw9gu4tuDlm5spV7r/oOM9CnlGxkF710xmKNlK0fvk+IdShRNT+Z7GluLhq6thwINDS7NZMUjYW4nmWgFAeS4R/NZkDE90xi8DO02RSGrlZ3SA2yfDTRthtI79KU1+StOYLArmJdtKc78d6hjwF+aEu/mAHVXgoLTa7X5Q+Dnejggefhv+mPh9SpouBx2jn2neFgm8yACImMGofyGhS8Y2lxALB+aFPGZMxC8AUMZOMqdEFXeEm5TrQdCpFh5hr+XVj3YcqxMGlebGK6LHUDQUnhEslIA5HVxp/J46O79WgvYO1OsOGCQwRjWLFsUekrWYGrMASeeYvVc=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1768223853

%PACKAGER%
Arch Linux ARM Build System <builder+n0@archlinuxarm.org>

