%FILENAME%
kconfig-6.30.0-1-aarch64.pkg.tar.xz

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.30.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
487460

%ISIZE%
2863856

%MD5SUM%
7c4ae6980967da6bb0b4e34b89fffea3

%SHA256SUM%
4a4d57cd8a9c2a201e77eda09e62226522837d82995605b788e5ec252e94eb4a

%PGPSIG%
iQIzBAABCgAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmqhxF0ACgkQdxk/FSvb5qbNkw/8Ck+OdWi6taijqNxyO7uawrNMOof9GvGsY4Ju1vDxYCnXASUTzaFPAqaIoz3jpZp+kRliNz7jBDUxpNlEunZ6z1ecGOGwPU02BLbqqQnOSYQijgcKBuJCa9SBomPSLFgf1UTZr7kz19b6LQmvEbz+q/gZvmTehVtZ0z1egy8zVNxUZ32LaWnfoC349Q30exIiF6U+7lWxRR+9Y1nSIn61tNCdnDi8UmcGtydLemYI+IIV27vg6esfgSZapJsSWSl2xrJc8DpX3AYIoVfqqIFVkeNkwEcJnRozEygdZzhcD8WsNW8zoqbnMk3Ntnd4Hn6BpVDePB9K+U8NwppgCeQT8bID9i1UJ4mxDMJRdigXtaifsUbu7JHuDPfBXmMJu3jyPtlkRutDsDoIErxBWKOTCMHhoUYmus2ZnXpU6BTJVahHSYdVpfZzhPUDEiWj23LbWIAzsGt/K4VSQzxFHFzS2KYPDa50h32u8aYbxGEHZgHG9DbQe+GhgXat5z+yR2OtYaHOE+tuH4Z3/5WhSnHXfv/7uixV3Vo3zxWYfD3FJC/KMyPWDy6ULXocspSL5CUDVOCOS/X7w3mWYnNs8uevIVsPrUIv4rUjPkZx44dUgUFr1ZisrQo7TVDLw0IczjzmIseP8oRJZBJMM7MqkUIeiReUW9+jqt3gfIHF9Ko5M50=

%URL%
https://develop.kde.org/products/frameworks/

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1788986354

%PACKAGER%
Arch Linux ARM Build System <builder+n0@archlinuxarm.org>

