%FILENAME%
kconfigwidgets-6.24.0-2-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.24.0-2

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
328400

%ISIZE%
1550571

%MD5SUM%
a1ee3111e830b05e32a93b9557f07b45

%SHA256SUM%
38020c71bd76acd2e5460bd2f8dc8f80af9dc3ac2c96a0909320079b0ae1db95

%PGPSIG%
iQIzBAABCgAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmnATaQACgkQdxk/FSvb5qblXhAAl1MUj48+6s7V+hTzgwZCzUAJUyDbPBxqCrnkpsR87l18KdZT0p2C/tiI0MllrJh5QkU1EsoTzU7BLQ+3ysIF2VsjX3BVgCcgqBksj+PH2d7nsFckRegQHEkt1GJz8nII9S+VOzM+nXbHzbyW/qyttfawxjluQ3LlTwpACMHaS07J/zfsO/16b0rkuNVmWccRkwOKzqEc/42T2vWfpsmU/STxQAqh4+IcQLDcN9Qqy9V4Ny/ttmflh3B3knfNuvlISrC93TO/EiWM7p367sXl4SIaveXe3PzKz6pj91v1JatY7k/4askQ6/qBY3GMCTLvMp6dA6OQ07xttxoPvsyicSrD3+rN93gNLvlmpVyf7eW45SrfKFznYhxJhTzbzh74E3SS1/xXJe56YnrtBSKnx81kYu+eGEK9pkZvHAWQ08h+Px8/Oh2E8jeV7NelIrZ7UZH6sZzKk6D2Qy9tvzF0aicMzLp63EWovNLIgkrh6MDPdA/xZIZG6kDz+DFCY/znTdgWUf1lx6YGsqtj+jl9oFRtr11mC1nLa+7uNGUyI+0yS3NapPCtmpIyoRF1TUoEe58/OrCGRqIYhO48W8LL3TTRrQT0SOQYrUUBVEaKLGCTJhIKw+UYXeZSYhDjAEQvWAfrgcOVTwMrQN46Q6HteWmj1Y4O35o4ZXI2S8/1zA8=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1774210391

%PACKAGER%
Arch Linux ARM Build System <builder+n1@archlinuxarm.org>

