%FILENAME%
kconfigwidgets-6.22.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.22.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
328116

%ISIZE%
1550310

%MD5SUM%
63ca9f234c56fcfd47e4501ee0b69e98

%SHA256SUM%
701d0c922ce6d2e0d1aca5e50b3abdcd64c6df2289657a1186ba710cb54fafb2

%PGPSIG%
iQIzBAABCgAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmlldZMACgkQdxk/FSvb5qb9kw//RiO3I4PETRmCDl1FFfD4EoW/hdTDxOagNe08KcZ23d8hmRaPYjjX5Z2BzaQgvnpZuuccKpHhH79zBTNmU3h6NcL+WAgtvsoAloXlEJXiQLmgyJONDxQwiKIKAfnKwA8GMJhGk+fnMxL96XqmVfJJnUCAPH8N4X1IFsfc/YSD8ZdILuVlkj/to0FLgzK+tfRf5RXLqL7VrSg2tSGD25h0h+7OEUMCD1I/8Jra4DLiwgOXXWhrMdi5NBkv6eBGg6HkA2N9yVo5mHiKUya4ct6/ysUwzO6lVTl7qpN5oZmb3zc20FKo5zk56dhNQvOc+msydTl5oLXOn5mm88SLpzSzE3Onp5wXwUcC32upi6YihQDrMcO3aIn5wbUtf2nfGNa4/ThRLhAGaK/hyu2hE1qPYJQzWj+pl+WPPS9PlCrhdNnJE3Kudhl6vNW0l4lCrFc2PJjQWyXsFDeo8Io6usS2hZdHne1kL6I3CPsrcNOqJr4NXhH0qNzdCWZeCAnrZs3QSdVV3SuUrUoNwO4IijEaaQADSoi7I+d9rCRgG11TwXkChQiv3E2ovEJ7S8rgqS7mvVis4x4OpphZk7zEBDRYwGVt0FtHr/i7MgypIVMFfcQhCI3pNi8TspgPnVLUVOFszUdQoe611DxCDeJpPH53+fFJFclxLkzx5fnLzR4J2aQ=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1768256839

%PACKAGER%
Arch Linux ARM Build System <builder+n1@archlinuxarm.org>

