%FILENAME%
kconfigwidgets5-5.116.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets5

%BASE%
kconfigwidgets5

%VERSION%
5.116.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1136064

%ISIZE%
2937345

%MD5SUM%
9ae4bc306feb3403817ad1fa8cdabfbf

%SHA256SUM%
ca04c9dd9fddbc5b57984b13475ebe79dd51871abe27fb91e7a0b418505da61a

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmZL1hsACgkQdxk/FSvb5qakBQ//aSSXFZzz8kSFhzhFEQhg+IQfWdE6iqmT8K0PTRurbyIOh/573H5EbUINuu5J6l+l+xF+C5rlbvE76eSmvCG/mh5erIAskCGvyB6xlIbA77gBwhOmnFyLM9zTidOjIptWgLOz7htr6mYD3W+5L1TL5fkEWeZE2jrD1wZsm/FBY8BjfKu0eF5IZXqrM50nq+fo9Ikd4nRIEAk79V/DA48WAGZUTjXvnCfeIUkGk1hr6y4gFN3y25n8gdlxZdu3StSJNweY7kR3IKwCjEYr+hWnIZQi4/LKk+trflOx32OVWw3YGd6ckx2od4dCdN/ESsyHusyDscYDOGbbxNvgpeoQiRSMXPIi2dvWGXXHP74Elivze07vxmVxtVYkpIXgmeTmnEViUATkHYtr/rJfbJZtDycqPAIZoUODC2mxDtJavKnjLDZAmTND7JNZjUECBdcMr46VsigRxBcsdCh39Jt0CQtdDiRNLExAn6nNMbTEQ6UHs9fb28nzbv/MRvfBTErcmuWGtIlfTt1t8yob5tfSYt05YQICyQ1EJ6Svcg3vIff8DW0UBb8gwl1gFwJ+CCtt89NsbQOOHFqzyVEDAg9zMbghkR2DRqwpnGXV0QYpsuSVq1IzvKJN3upFhJW0IcgASbuNpLWclMl2IMkElcLwf98hyv84EfS5knWpohJ8mbI=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1716245943

%PACKAGER%
Arch Linux ARM Build System <builder+n1@archlinuxarm.org>

%REPLACES%
kconfigwidgets<5.111

