%FILENAME%
kconfig-6.19.0-1-aarch64.pkg.tar.xz

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.19.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
472084

%ISIZE%
2686650

%MD5SUM%
e0f39e9997ebe82f05953783a4c11050

%SHA256SUM%
48a9ff5ff356924770564dbf11dd3783f0fe0640c278feca21dcff94d02bae6f

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmjr8yoACgkQdxk/FSvb5qYk3Q/+KPDx8iib4BUuUlqu7Wrqi5rV0D44SK3lzumUvK0W8pIL3nCZYJz3fkBzSQPEYADC9sMOe6FZyroP6DA0P4t6Lxv3a+ZYpvx5ad4nPk4PqzTAn9tc1zYdRScaLYx9E/9LvVDWE8kPQX+KrKTt/LfMBGYjOgxGUOy85fOXwf4DypBKaWuA5gsLNmmVcMroMr3/hfbLo7PyaWIDDVS1hYZXNqK1jq77kxKIumsxXr9f//r0JcmCxZw1yYgWHUolDzxfKfq7wwlx/1TQzqdJ3DUrkezAAj0A9waI6ym6UdPyO+jGRF2Idebc0h7jJQbzPDcdSn6pUg1fXPfbSGUpmH276gYXi/TBmfotBEFNX86Gg3CH2h+9OwYY98xu+dsY85/ytZFVfgD0T2q2nfDv8ZYb1Bo8LnOmHDye1rwbPzW3nQ2MoCJR/0j+wnsHow824NiYARf8q4XfFBSj7EGpKrU+zezP0MmT/a8H+h/j00hcUL4oHfQi2zndo7KYdiyJuQIXqQVJIlUCYhy2yOWGeloZHbRUe/o36ea0TuOq3DDBxWsDD15vOL5oEzALIV2FhktnrjMQY2+sUJC1lnHfITGFpDmQjePvFIuviVmE4NIFsXaBCgZxJgesC7sDhq06L/g6gsNrvVbctFgv8Z2PHOElfWF0vM5SgmeloJ52rmskGMI=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1760293513

%PACKAGER%
Arch Linux ARM Build System <builder+n1@archlinuxarm.org>

