%FILENAME%
kconfigwidgets-6.27.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.27.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
331748

%ISIZE%
1554324

%MD5SUM%
1dc8971c89b2b2f4042688236f5f810f

%SHA256SUM%
2ab8c74d71156de99455b0802c08e86a48903ab5b747df9f5e725b56be0eb839

%PGPSIG%
iQIzBAABCgAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmotuNwACgkQdxk/FSvb5qY67RAAr4i1k7bjG/N31YG4z5W6LZIQSvtkO4oJ1p8DYL2G6ETguRbDMqasuXiqbkKkqqnAxofbbEXTh3ZA7NLFcs9PqZyOy9W7l4/9z+Kub3OAGvboPyzaR4TrLWL3U9/OrYIchNJKj+aC3/DmRzrFuVl0Sz28ibrHusBISV0R4wy6VpvNVkQGpfsD8CtHehGrGYYlPXl8ODl5N4zDrFETb83hPeM5fqxMpTjeB88YoElerHaARDN6ZadaGrboeBLBoSBnKWDEA37C9fzg8yH4LOEN8IAg03h3g+Wwn6aJZ+GdibXZ1HQbv67Ue4QA92nYtRpF5Sl2WadSCH8LgoI/MKCLdNvWxmS8jGPvZrtYrgk9NRT8Vxyu+y5/v+gZPsx98CcoLmvnBUjgolB7HjyaBfrBE6mDjpldWvDz7w8YirLCp8DxGCsuXMdtPpXkc2QqUu6dLoyJbW5fx1r1PA+M2hBnKCFTLoKgetXCd77XVrOIRfWwCyG56Syqppb9HZRg32QWL4QCeAjXSblR+twnfapKmQQzZU13ncvqIa1QIfLthXWAKbyiC4E7qYJz9rd3uTfM5Dy5pK8r9N0HaWthhvpNPxuLqZ2Rs6ilCbKJQugI/uVY3An9PtHW4t5U5aoStNamiIm+OmJXxo3/s4yOpByF8gdJSXr6k40iRxM6iqZgeAo=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1781381260

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

