%FILENAME%
kconfig5-5.116.0-2-aarch64.pkg.tar.xz

%NAME%
kconfig5

%BASE%
kconfig5

%VERSION%
5.116.0-2

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
374428

%ISIZE%
2103356

%MD5SUM%
007816bd1e6974fdc11089b3dbc8c210

%SHA256SUM%
e79c02c9082d2757c58dc3171b2b4ebe004647a6554e54ae9102156f3e126a58

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmkHY30ACgkQdxk/FSvb5qbzwQ//WaKjqA7fwHBGWMK5ptWHIC1zKbcwXmwE6W3PBTnXAzU+JT+gHIdHF0LHXtxBidfkwoGiITa/VlX/nkaysWokpMjNHovVBk1IKLXXXmb8CPSiVzE1I3KMAAcXfEL4Zxvc+HCdDtO9GUyFaO+b5SKGqoaoFqc+zQS9ogtXjBHJppZb24gttbLPlgLM+uiINDvsSQi+0jnFkU+Te3uuW9Wk7q5HJw8yqE7VtqInq5spqvXVwh0T5/bKWx96Hcsr6VQaf2novCeJQ86YI6GAzBMD5ol+iYvGOMIAJ8beS196QIvS8w4OQvQQ/IaRGNo1ABj330YH1g7CZBtB42fgKS6oRtVCyjBnGxhYz6RdfOENi8wXAwjtkmCdEpE23U2km45c3BrFD0QCOxqm8QRtg+QPMIDVMCHgNKzYF9Pk3hlFPpc9JJ8jJSqgd/nVcjauK4N4UqJqJ65MFqNDP/qYj/Vse3VVorg4CwkQ16LysFEBboDPeO+ylLlQPjxVt7eX2Tr8RqrXdzEKPr/KxGxVJcocR6KqVm4VO7+6fh0HxucGACaI70F1zqgKW0xKiTd+3qHcavOkgH0dSMANewxYAw3xzjdRsGJ2QVSn7JZ9A9mFb1ap9sH0t5HVY2kXU4RJ71qtCzNyB1ADH77cbOmzWnlziYD5o8Kyi1jM/Rlrbzu7wco=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1762091847

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

%REPLACES%
kconfig<5.111

