%FILENAME%
kconfig-6.27.0-1-aarch64.pkg.tar.xz

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.27.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
479948

%ISIZE%
2816404

%MD5SUM%
9677a8d62584e3e3dcf9a8e26d20134e

%SHA256SUM%
286a672bdc368c4f7ecf6eb528e4030df55fb8d4cb5b16420463fe9caf198603

%PGPSIG%
iQIzBAABCgAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmotsJ8ACgkQdxk/FSvb5qaFexAAgymrtaS4/Sf38xLMx/ElzW9170hP5Mq4WlXvAwN7ELB/5kG4JM1wI355KUaSKcw+VGYOxh9v80N06jLl838sQ5au4wm1OyTTeYnOofjsUhnWddObw50cySxJac8zByDWO53oGWbKqLUpOt5X3/rJyxYE/PQiONjCozvxG/oudxb/zsD3JIjL/Gh/NGfEDVpzpHUVV4SmSw4B2rIozOm3eQWqWbA1ywVmQAHBrF37ro9r3UqvVG1nci7m3BPxEED+72IxS4+Zx79d20AwXKXjlm6tsdQXRQVIh/b85hbocwdsi/87YgV34ZASv80miZddQ2chwvwUrRGaFiQIA2ZwiMPu6S2JKURY7GVgBLG79P/0Y9o+SG0ECrG2zYxCwdXjfnUklMrFB8K6OLpwCMyJKkQV8N4iiJAamB93bM6QaTj2Gw2A9a9ceOkhJ19QhYK43gjkCOc0vtyWPYu7BGJJknwYMMeCqBkn+Lz7GZ+Jql0pFSCD7TuEgJeAjLBC4ErIBzMauUbWj5bBNAXf/nxtenQpJjnDHUDHDGlm29qRCYE4c7DXBT6bOq2LNmn+tJ9ZaGNr2EECbEZGBQXU5SRBeKpJQbV5ZVQa65kQPwwMBXgKmKTSSWs1O5zsjpdfHdRoVY0rqEG/zXrONo4kk0FGFie4AOoQyac7VRyDuLe7ax4=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1781379125

%PACKAGER%
Arch Linux ARM Build System <builder+n0@archlinuxarm.org>

