%FILENAME%
kconfig-6.23.0-1-aarch64.pkg.tar.xz

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.23.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
470848

%ISIZE%
2703384

%MD5SUM%
a00e5f8aeb84b2173bdb15b0f73467eb

%SHA256SUM%
ecfe305356597fe50c9eed88d20ce972a71992f4388ceee7974318016ba40c59

%PGPSIG%
iQIzBAABCgAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmmSq8cACgkQdxk/FSvb5qaltA/9HH8yMZugYw3CcIDG4wuNagW7uP5DF/M03ILbemf/5qdmAWuKywqo8h+/ziN3Z8k9Xt5347r/TNvBy2wtuBCnJP5Rqjp1LSAzRvziX0GlDdAZscucXpKXbu/n2b/dgyXHzxLrvyjDwPdPGiGamzldWnrFHZXlqj7O7sIXt1KS++yxbPgFalF4B9+seLp5VW0Mm8nYYY+fqWDxSjONW2pCEpT52LwOlmvjSWDk5bOirT+79EXcEqY9R5f6wquua/wJ3Qp7Xp9vvdKbWPt+tfHyNzPvrGvt7gzgG3c9FqNlvuH8/rHeka/urFg3tl5wrOkNnFGdBna+WE7W5eLOfTZhrUNwGbIda7SU3eBX3QjNpSyIpzasb3KAtfuoa6FWpJCHJiUGGX1sT8xja4m8PK1Yu8MbrSFBBbXoSEW8uSXS+/Kq/jwmWlikUHwGM3wg9HtjNuSvukcXALl4pBeD3cxYvKpkirUibTyasB93BLkEQNJBi9zf6tfffk/cnUArEVS3PDI+wbl5zVAMj/qTu6eIC1q3BiKzNpulWhzrGWZ/XdYSuQKonfEEP66mvYf30Z83FE+GoFMmc0Pyz6IX0fH0AThmMp7xt/ckZrYaOKdjkVfYTE46MQ05K5COmn9r5O/J0WxMuKDS0jh/k13wacsWIYZ4pIopIFOVNFD69aKUKaU=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1771219812

%PACKAGER%
Arch Linux ARM Build System <builder+n1@archlinuxarm.org>

