%FILENAME%
kconfig-6.24.0-1-aarch64.pkg.tar.xz

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.24.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
470780

%ISIZE%
2703394

%MD5SUM%
3d6a056756c4ef647cdd4a3e4a05fe5f

%SHA256SUM%
c85f14b1e5be82785520442d446c91aadbe545bfbfb53d04b42829251a54af45

%PGPSIG%
iQIzBAABCgAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmm4ahsACgkQdxk/FSvb5qaQqw//aV5drOEcm4XQZbBljcGndsjzGpkojPErmmrVF9RDmdbbs762tjSoCRfJYcNi9xFuKdPleFJcRSqGF25P4+DLZM63rQoE6o+v0wSeagCr8GexnWfYUO4wAVVNw9MpOk4o6XhDS+S5jwMcBZuKm0LhSelJJQmv+YItsy8WVQCT4Oiv2ew60SRDKuq6dke/VIx0zJ2rtKvlZbUD9iSfa39rn5yPd26w6wabQvatcFjeEIz40sVRDhukuu37qo+oFtTgYVx2nzhePz/yRxkNrh1ach66bwWVaTuU53SObYLSVaf+iEjB05EjsGqBtLzmpqOn5GrKiB1jQNtCGCu3tQIJaed6cdy8LvyzCmif5enXki1Og3DR4AEl16VeVAO4JXMSlbxZoyvhHx3G8gZhrlhCCJW/A8yu0UbTKtE0drSvONnVoKBkir4oncwXB/A7Li3L6fIi3Ju6sn6We4G9rxQVwf+C9LU/YYHzflEWf6XJcnKg/KyO9SxL0Biou9Nbej7T5+Psb08mW+OeuXb7kTPN92fMkeBNuviKesi+QrKA4h+EPn9ltvjoml5PEXzJ5+wZN+Vcrw5/Z++UqvPtVp85gCo4rVxyit0L50YI9caK7SSBh1gZqsDvjndCDXNKIoD1/GXvN/f8kRbNGrNdpbxZWSbGkSzyLd7NPPLZPkqzgNc=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1773693367

%PACKAGER%
Arch Linux ARM Build System <builder+n1@archlinuxarm.org>

