%FILENAME%
kconfig-6.6.0-1-aarch64.pkg.tar.xz

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.6.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
1369864

%ISIZE%
4258707

%MD5SUM%
e29727a773f8c85ed597a333e94462de

%SHA256SUM%
1500993f891bb0e4ddb3501c70c653447373bddd4cb964bd0eaa5e54c5ad4962

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmboq4IACgkQdxk/FSvb5qbjdQ/+IEJUn/VFOQObqCxMpoo43PLfnhrOBphbKcWtH/f9QUMR0ybfb31l+qGc27jbVbpEb65/Nl+SOCCqxMSS/48f7CgpN3qYqNT3Yqe7EBq/ZtbLvutZMddee5t55iyk34jXl+1r1b3WgTv0izPleEOwjadS2TFdpl0F91lrm9+ynHNBZYg27PbdB70j1PS/umr0m2/YOKR/EldFj75agpYgshoasMn6kOJ+vjsfuojckqF73PiTYF0WlOt79Ej7cn0lm0diCZiUgOkEQJnz091+4+55qVlZ3bNI891GkLFa6HGYWM52ArikwswWm/4gisB2LAx8Kir+gmxP9JXLdxX0mxxZXt1RprQ2YicegmvWaOIbj8gtBb9zFA6QU3gcfc8/ySUWyjJ5Ft33muKZ/zCML/2v/EOxWDywXjHL00i9kYulEhRvwAGDe5iEvIKNwSJHMEtbPwixkK+RKqmjh+U8Z3Kg1rRssoT+sRPRP4CyfAYJdOIwxfMv5dVmPjlwX5Mn7Q0HOMo4oyg0QUpXoTHJwJ1h6PRY1Dlj7X95gS5dcG6gk6pccymNP6Fz8nvp3ganDFL3O5CttMN2FQK5nUvx/xV7K3t545LHDdIRj9IW1fOwzTjYmYIqdKjtgOkoCUKBxjkgNE+RZ+N9p7Ov/QW7HcBFxC/jncfiQ2+ihe2fHoM=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1726524161

%PACKAGER%
Arch Linux ARM Build System <builder+n1@archlinuxarm.org>

