%FILENAME%
kconfigwidgets-6.1.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.1.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
759836

%ISIZE%
2118066

%MD5SUM%
d91dab98b6b2a2bc03a4314bc76dba2e

%SHA256SUM%
d48cebfe238b947405caeab81c5e10171660197dc46ec422e4138b44ce66a21f

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmYbtOYACgkQdxk/FSvb5qbW2w/+KuT8gexgQkJuJ8n38n3ckqJnn1fZ2jNvjOEwuDok0W++ZdU2xCG7OW67ZrzO8KxnpXeMDIl+AarZzjHAyIRUP/e2rPBTTyBtoURpBInY07G4MG6VCIBInQEAdO2ALjBtzhTizVhU9787333dXEXisRZkz4+fMliCl1ys7p0DFFbvxyxuAGXUVuJoHYmAkqxVWUiEOG0LuAqkIUltVbYwZxYHWgzFQoQ4FojzOaIN22UJhA3We2QhkSfo7wlZ3RtQYsf0cQV9bLXM4XOff9us5OjLEIkY6C7cDHU7qnYI/OZM06+UbdELMormswiSrmEAuhEnx/9V1/mrXVWHK1YRB6g3KfzR96o6YkwP9TKwjhXn5d2x9LtCFdimirnM/NTxbjMrus2HZzSbSkwrx1w8T8aAk44H1zlvexDmBM7rNpuyAwKJjjwlnjbCCTnrQbY1EnEOvcush6iNa8IWFfvvtaedXaCZTY/xGzsHzRUzWhHfJExru3hwKIZrNWWvt+ECMDfXE9fbccOx7Vzw1wHQTKJgwpeK95vAMM0gdohmKDkiuxtzwyO1XiTPjflk0/Ldt9iroJuc3P6qjswfzQO+9ng4E4kphZpWQW5V2T7r/GeidC8HZRZxhEjMUoYuFe+U4gQI8jpM850WlmLTIPzBwCgX+BK4/eCQDQJs/m6iyVQ=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1713091714

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

