%FILENAME%
kconfig-6.24.0-2-aarch64.pkg.tar.xz

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.24.0-2

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
470776

%ISIZE%
2703394

%MD5SUM%
400b9af3ef9139993126685d7ec16d65

%SHA256SUM%
2be19dc524e2fc03a30926cc1fe484907b6eb015d6ff7d827aac56a6798e8754

%PGPSIG%
iQIzBAABCgAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmnASKoACgkQdxk/FSvb5qYgnRAAipnvOKlNBuqyNY9BXgiFHHmAEnzAAAv3fqfuVGlCkKnRFLwdGDE5YZFH+UzIiAhau+B8xbp+B8bsjQ+qCAv94g8dgG2Em3KhkhwgW7/wxz+kvscpEEMJjf7iw/ZYq8scYZcn2lBugWrMgnLnoN8tfeHlHvLS4+jiLpB9OYg8JomtHLbMb8/vzDsYgSWu+3acAoyLp2sJEabcxLT0qBbFA12mAilFjP2yLGswgzQ7sDsivXE6eKektU655o9xohFQ4L3nUOKRA77bYoPBGkOD1Ja0yKWoEvAvco8ri6uRcVEr+c2UMKAOKICG3B0Tdnovr0my4Nceb886yEHG1M7QAI4AvXqnhU99+Y6cdHleZVv0aUbx2U1xc9S7JIo7V14kLIjdhH3hO6UXGKaG/x+Dz0+MxFVHahyR7iu1SS50ltydmfW+2JT+SKiPlKwQdfiOvkHYCyOaSmAumtrUP9PlGN6SnG/PZjJVhAQNpGr577Wxu5WUAG+txnn5hcjvZpH+bbyXJ6L/MRUWP9J4tTWE5F7Mt2H6KRC2UntKJR6u6MU6Yi6AT2ZMXKKC2VpdHpcWVCIQv6Ljo8ULyOrxWrbC3IKde04RsAvmcSXCacQyidhkeR8YAGA/x9lmXaI285LXPQiBcC+8k49GIJGY7WzdaERGxd51WiyCaI97fUHxMLA=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1774209117

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

