%FILENAME%
kconfig-6.10.0-1-aarch64.pkg.tar.xz

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.10.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
1424036

%ISIZE%
4378710

%MD5SUM%
68a6e1b5276b3b314434efc3c34a0440

%SHA256SUM%
2c1641e4de6e7c0321303d6df5b13dcbedcdcc4e922b4661d3417f1e319ae61a

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmeCitsACgkQdxk/FSvb5qY/SA/+ImnuPH8k2jWXkbva0ek2/mJphyJpV2p7gSgVYu6Nxqr1o0bFlBe+gQrlBmq2SAJtD+oyQpX92LIyXY4B5B91kwG4qD4XrLnyggbx/qS0DD83iTD3OR58fAtbNTF9Wwh9vaHww3l8yfq6VxZvQI1wBLoLZt/7ibddSrAB0/rMBDJw8ApjWRweFU4WgadvLWYnbAUrxqXDC5vv5L5VeSmzlwyz6QlZFo0K3QovoMhrUJG4dQaLd8MGBkMjrHIDftnTAVeFtVZqiwW4CV0WgGEOKMFn4ohUN4pSz7Sftkf/42IhNRof7C14sdYEsCCB7C5UkDLur3FtiBsya2VqcYRnFDCTzbknT1YX2WF1yuJzaBmAin/NBDPnXhPr9Mw34f+mWKexzLfjTcmIoTFUhA6q6vxAOCpTXJP4TIe2xRcIezgqsO0kp9RpX9z23+pjdo/AYnwEVu5gp7rBRnu5Fkyhc0qvszkzF3YATgw1rovnkxOITeRRfJ7fo63VY29mBgBRFAUjcv5LpkqalGxOIXU/OqUgnx/1rMgQqZRguvpJvbo2pUKGTzgQQ3DtbhspTyPohC61SRpAO1Usl2t2kEMQSZQnvzOUiHJAfHTSWQL73+VCTstC3xILqQ6n6eKCLD29bWqWhCzDcNx8FoWZsfIbzCXM6fjPI5w6sUkY/5GRGfM=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
aarch64

%BUILDDATE%
1736608358

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

