%FILENAME%
kconfig-hardened-check-0.6.1-1-any.pkg.tar.zst

%NAME%
kconfig-hardened-check

%BASE%
kconfig-hardened-check

%VERSION%
0.6.1-1

%DESC%
Tool for checking the security hardening options of the Linux kernel

%CSIZE%
337328

%ISIZE%
11818777

%MD5SUM%
117127e4274451e9ce45cdbd2004e49c

%SHA256SUM%
5d98369bea2c9f9b5d2fa665cba4e39dbb86214bf837ee8a914d71efffbb6cfa

%PGPSIG%
iHUEABYKAB0WIQRUwf0nM2HqUUojd5Pylr3lA2jGzgUCY9cQOgAKCRDylr3lA2jGzv/pAP9ukyBYgmGNuEo1BVmxCdYFH9W7Ad26edFW6MGSI5iY8AEA6KKulT6rMQVzL1WlTQDLyOg3vR5oD0ZSd/fZoPJ7CQg=

%URL%
https://github.com/a13xp0p0v/kconfig-hardened-check

%LICENSE%
GPL3

%ARCH%
any

%BUILDDATE%
1675038706

%PACKAGER%
T.J. Townsend <blakkheim@archlinux.org>

%DEPENDS%
python

%MAKEDEPENDS%
python-setuptools
python-build
python-installer
python-wheel

