%FILENAME%
kconfig5-5.113.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig5

%BASE%
kconfig5

%VERSION%
5.113.0-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1211549

%ISIZE%
3074664

%MD5SUM%
5cc89912009a0d4ef62ff231b03d55eb

%SHA256SUM%
988444bd566da4de0164848529a4192d74dd90b12368389749d57df7e84d07aa

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmV7cqwACgkQek52CV2KUuQoMgf+Je3fzDT+/PGrX/eBlo512pDKT+8/XwXyCVpq03C3LEQTs+e3NNgkFGUxXOx5ua+vE5upzi/MVn4wsYJ4VHqi9aNyVL9vLy7gdZ0RExnQlzoc0gpCLWw0y2LdVPvUL7ko3x/Sudkij3czdlcxskqUSa3vP9DlgZ1Ark0fC1HqhVBvzE1wdRRU1CIxVhXHW4XBxi6KTSDBccelL3RJ8LF3nbl9IVgJoTsoElZOqsueezmepV3ysRVsYIF/b8qLDC+wmrVDS0NB5aUJUroieuk8Bdq/xDyN5zVfQjgKB7OZvMdDekmJ2LF4/l6vzAn6xCL+j9acH6q6V9fuCLSu0s0yhg==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1701557749

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%REPLACES%
kconfig<5.111

%CONFLICTS%
kconfig<5.111

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
extra-cmake-modules
qt5-declarative
qt5-tools
qt5-doc
doxygen

