{"filename": "kconfig-6.16.0-1-x86_64.pkg.tar.zst", "name": "kconfig", "base": "kconfig", "version": "6.16.0-1", "desc": "Configuration system", "groups": "kf6", "csize": "512955", "isize": "2289627", "md5sum": "c5f09a60b72204384b6013f530e32c59", "sha256sum": "7a5c7a6a854b6c9cb7c1b0f2368e3b4abcfc5dd1fa1690689b1c61ae04b3c295", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaHFRvwAKCRAtoqzD7OTc5iQoAQCoOvwfw/egSpHLcx4dofQFcTINdDjMTPURXqissYMRvAD9GfERRme+8wOszQ5G2UKf65QHQn88yI2qx4VkoYacUQQ=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1752253153", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "qt6-base", "qt6-declarative"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-tools"]}