%FILENAME%
kconfigwidgets-6.28.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.28.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
371116

%ISIZE%
1446491

%MD5SUM%
18df94d8044089763ea584e68aabed4d

%SHA256SUM%
fc8696e3921865266e26338c64e17f9a5764b8ccf28bd3938a802278ea71cb02

%PGPSIG%
iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCalZRewAKCRAtoqzD7OTc5h3fAP9K3SSiEAF1GeSgQbHp1SwiftYEongx6cYeIKCovxYArQD/VDZyX8dgMci1/ILQlXynEw1n/oNFOCwydtMEkAXcRA8=

%URL%
https://develop.kde.org/products/frameworks/

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1784031592

%PACKAGER%
Tomaz Canabrava <tcanabrava@archlinux.org>

%DEPENDS%
libstdc++
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-tools

