%FILENAME%
kconfigwidgets5-5.114.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets5

%BASE%
kconfigwidgets5

%VERSION%
5.114.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1177422

%ISIZE%
2799757

%MD5SUM%
14d1e2c5cc38f405f2c93603f4b5c4d9

%SHA256SUM%
bb48b859c7a9f2c185dc9a0c03b50ddbc9081147838d2963e7788eebd7879da3

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmWiXnsACgkQek52CV2KUuSe9gf/Ri2QjcE9pgnBCrilPaONQHPuI7yQvGLtBE1qhI3Ijt5qLjsTJETP5iajvb2E9I0LBSbjiw5A0RnJne6NNbXICViN5W920vZPZctbigWqbGqO4alc8wxhTaUFTxoo+q1okDpfbEuSB7Nyj3Z2gu4EpWzhQ5tLdDr+/uj6XyTPfN6Xkroeo/RKiw682C3xslv/JCraiTVSrQpgDaPpKnoSmm7orWowO0avNENNbwBHXDplFhyyv2usAv7RPtO/7J+uvegm32Z5p7HwqWpCQkQTIdsPfx7bCXp4TQXhWl4+KwrOgClfCVqngcR7wWq8kTlEI6is/8KUjYfeimrNpotMmQ==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1704548304

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%REPLACES%
kconfigwidgets<5.111

%CONFLICTS%
kconfigwidgets<5.111

%DEPENDS%
kauth5
kcodecs5
kconfig5
kguiaddons5
ki18n5
kwidgetsaddons5

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
extra-cmake-modules
kdoctools5
doxygen
qt5-tools
qt5-doc

