%FILENAME%
kconfig-6.4.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.4.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
1402924

%ISIZE%
3747853

%MD5SUM%
06af9bcf9d49ca0e8818c00dd7719bec

%SHA256SUM%
f848253326a927cce2fce2d86d996b62db39feaa4f2d037deeec057faf463059

%PGPSIG%
iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCZpF8RAAKCRAtoqzD7OTc5uUCAQCuCkMS46Zw4heo5g+62VHWk1esiNMbtcMb5my7bU3xMgEAwEP/ybY8+bsLnKTYaYNeKPcm2R52N98QgXXrNwqaMAw=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1720806681

%PACKAGER%
Tomaz Canabrava <tcanabrava@archlinux.org>

%DEPENDS%
gcc-libs
glibc
qt6-base
qt6-declarative

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

