%FILENAME%
kconfig-5.107.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.107.0-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1220192

%ISIZE%
3172635

%MD5SUM%
509d988a441747c36c032185df110b87

%SHA256SUM%
0552f9be9a127ae470c8a76df483ea8122a6c7fb621093e95b203ccda79e9cad

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmSEUzsACgkQek52CV2KUuRtZQf+NophIXTaEaATsAn4VxTf9GzYv1/3jbd2o/XZgSCGAMXl5tmAIVUwt4Xtio3Bqk/4WjvIRfZRmM82Jbm+MTOlnEf/zSarjwehPb0lYKCJHi1bZ6A1NrdwXu5EHZUZryJiQNIc0FX5+rnTi7t1kxAT7OYfHGo7KPgyYf+gEHgpy1CLEVExSfS3ySqb1/MZ2MZVsc0/1sbwahVJNOjABJuRKsU3LT5PUbuwo0RlkY8LGrgwwqyXpSuqShz0TVaw8ZUZQvNpUSbHq2erGF1SwMZzOR4XLRik+EB7g0l1XTChjV7dLUMnfQjXigmpHsjhAwouIq7soim8EUHvdEdPC/icxw==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1685829211

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
extra-cmake-modules
qt5-declarative
qt5-tools
qt5-doc
clang
doxygen

