%FILENAME%
kconfigwidgets-5.104.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.104.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1193522

%ISIZE%
2977367

%MD5SUM%
18c1103e39c39b75dcb145a8ea97e1be

%SHA256SUM%
9822e27eb46d15a1d81b0116d5affb3e40291734b7e8d7c584f240c6fba6b025

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmQMqcEACgkQek52CV2KUuT/aQf/Y/54L77L1hI/sPeS+VitAq3vGV/cDbrbvKJPxSZsD8DeFsbBZA8ZuiKRsXeTk4x5Ns1LVzunHA8VAS9n2AtwVqOdp/CSpCQIq5/CWSvTmKxQXhM0NMTWKTG8zU34BckKSufHN1Mo1uJ/LwlIAjcealX72P93Lyl9oi2hdOCb6Rt1lR1FfrjKvvYEypaoLGOMrxmNOsKLJfiugGJb0C4fbJR/Q1Ib96qaESsndjTBQ9KRhldhzUzqSS2DecThH3GYfYaUWwYNXfAvBacchX5a59CG8/d5z5X7g6IXWgmFf/4E8Uld2BGaV4huJKWgcZ92+q7lFyQzDbx9XgLPgpI0/A==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1677931184

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

