{"filename": "kconfig-6.25.0-1-x86_64.pkg.tar.zst", "name": "kconfig", "base": "kconfig", "version": "6.25.0-1", "desc": "Configuration system", "groups": "kf6", "csize": "524621", "isize": "2346256", "md5sum": "8ee9bab8d7986920215439f92af46ba1", "sha256sum": "18ee8517dd0fd5aad4108c46d1d7cf724d29d6bd0b19cbbf1b8e41c088f3b035", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCadkaagAKCRAtoqzD7OTc5tKRAP4/MWbVYoVJzmVDhqxCHlUkfn8DLDaI0x07q9BX4AzJtgEA3i1pb9VbsiMGg3Gm42EOXYHawD4Y2x8Or/7mcwaqrwk=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1775831971", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["libstdc++", "glibc", "qt6-base", "qt6-declarative"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-tools"]}