%FILENAME%
kconfigwidgets-5.106.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.106.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1196549

%ISIZE%
2981764

%MD5SUM%
9f7d4452d0ee263cd5d2f1b5ccb4d76a

%SHA256SUM%
c79f6b7eaeefb0777b4c491e3697c652e303a7a035efc4e6da6dc1316ef28ae5

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmRf+hgACgkQek52CV2KUuTP5wf8CHU9nvhDBTr4qNQ9B9SLfKQcDZEjayOdFDuAzj/N1FqhL2FjXKTkEvUNXJTO9I6z6xq0lPeRNNNCeh7Ul1Y3hBenxL/QvWRNUsq9QEqKT0xMM6xxDI/JAyL0EdlogM5vublhHPpF6nY5DBFgLRE1+O8Wh8TRPw/jKukUz073L+lu1P8V48R61y42WaiYidt+9eSa3yESzzeszddHwGtl2380GfhwvL+gbyg15mwGoredM1Mw3bnTl5NnZbKDTpdz4jzl3aSAEp5/FOwhZuZm3YcC8mOLLnraqHGONhgo4yi/WSLrVEVZ4L5mcIAxs7jsBrsFYa3eQ2KCayOp6gRmdw==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1683374094

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

