%FILENAME%
kconfigwidgets-6.23.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.23.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
361513

%ISIZE%
1411662

%MD5SUM%
f062f4f876492eb31eaff8c6c48e7e06

%SHA256SUM%
0e0d0499a7ec39bc9f3f74a70d4db8037c7af02502003ec9d34c411ea0944735

%PGPSIG%
iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaZC7hAAKCRAtoqzD7OTc5jo4AP9aaqz1hSaeK2G/ikOL9PVTHgEAxU3VJiOybYpCCgarrAEA2oFVeq5lRj5aujm47hRq4XJtkHpQRgjoLTz8Ue9tzQM=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1771081154

%PACKAGER%
Tomaz Canabrava <tcanabrava@archlinux.org>

%DEPENDS%
gcc-libs
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-tools

