%FILENAME%
kconfigwidgets-5.108.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.108.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1179952

%ISIZE%
2966729

%MD5SUM%
5b7f3c7653489146054d80887ff6699d

%SHA256SUM%
942c473c8bc9f5f5065aca8a8c4ca3bf1732697fc2da9e1a0065f2f724a036c8

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmSp4GIACgkQek52CV2KUuTdCwf9Fn6tgbPefc3V0RBKEOG5mExUkFOaNAqVDddrn714NBBjN1ZwKQCEvayne4elWhWS/SLPIaiKGJu4UMdtxB/I0runyEreyo6wlvEEnKmXZ/NsjKDNNR12LqN9YTEQwTYgDrt20KRPkaltmfcoNa9UdIS3tY2UpTrIwAua84zu5WXe3D/UUdyYGRM/xNhrFQazPBJ5Ol3m4Q7t2+T0ilYKjfh0nBV95n3oNVUiXnMhdYZWgenVME2dyxlvzwc+MUDYkmfnOPzFf4Qj2oRVbpeIyiZf7WD1bwWeMujy0knSB0GqPJw4H3zlTVbhg4MyViz2QsAHi+88oeoFoBKdyddCmQ==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1688850962

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

