%FILENAME%
kconfig-6.3.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.3.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
1391164

%ISIZE%
3673440

%MD5SUM%
ef791799e7d1268e26bff0995ef591c9

%SHA256SUM%
c910d3d73f4f5ccc8937f1b2f76cb9ca1c6ecef1d8dc4efc58a1291d5f7b001c

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmZlUikACgkQek52CV2KUuQCvwf9Ex4lMMDpyOuFdJRj3ZuPB8EkMzm7IgojOCzI+SYnpMJ7lWRqJ/Sb0rOOKAr3GM6YnlYi9AbFtfAUpnC9uGyrclJ1OJC2mbfDd4Nf7DT3OsQR77TixU6D8rxp52DeQHTG81U4Wzt9B1VtHrhT9fTttXfGhiZdwS7zgjDNtXXwK8sg54EbzuVANCVXF98e+4A+D7KWIYsLpAC829eH6ODdWZZp8lgN3jMO8VxBtWE0QESmupTqg6DHvDub3tKDC/XFI7eBZqEed58IHdx/Dtt1Re5G9ibrda8iBkbqdDNcI6sOfrVAlWK20yszwLnnOF8d5kpA/eUJZuzWNs1eU4dMYw==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1717179256

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
gcc-libs
glibc
qt6-base
qt6-declarative

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

