{"filename": "kconfig-6.19.0-1-x86_64.pkg.tar.zst", "name": "kconfig", "base": "kconfig", "version": "6.19.0-1", "desc": "Configuration system", "groups": "kf6", "csize": "513828", "isize": "2290210", "md5sum": "bee0ed3567b942697643a144d883bd36", "sha256sum": "416a2457f181fd8493c6fb5f29378329128a6bee2bc998380975a160169a143b", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaOvVwwAKCRAtoqzD7OTc5uv6AP9siCOAP6x+PuaRy+19und7hkGhJSYz9I0rQzOlJxbXTgD/fa3OSW6j4EFpZ0N4FNjzDAeFS2aIkP848BHgCCJYawc=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1760282525", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "qt6-base", "qt6-declarative"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-tools"]}