%FILENAME%
kconfigwidgets-5.109.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.109.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1180046

%ISIZE%
2966538

%MD5SUM%
b597920bcf1a97c24e6215dd7e2d5e73

%SHA256SUM%
431a4c477d329ab4d53da940bd207865c75eb7e99b7c304ca2017d28a59d96d1

%PGPSIG%
iQIzBAABCAAdFiEEtZcfLFwQqaCMYAMPeGxj8zDXy5IFAmTgMfcACgkQeGxj8zDXy5Lg1g//XRlq7IHXrYHvJ3OLSKEkczQw61g3OvesMpvxW5nrwRdBEVs1ca1wTZgRVGrQqv77N48qDyD1zO7BHzJA10HSdHaH2v6TpmV9Pdh1nCUwyfWXOh4I3m0hcalnvqAoEcaoyus9RXyE+BhXRjnua9Qhx4Sez4sznzScZwMBhn90o7yYN9Pv/+nhTvy6P1OH+KxRXAt9kNG5XN7MND8BcbSnJvapMHTwVkXbP9u/1KNrNxoBAxURus7Ofjy744/AKsucdVfSyvQmYltPAlvG22zrVR+j6RlhLTmmtipAj9QBLsHSgoNFr+eKvKjmQNq4MirnVtNWStHUhrnwQxbG+UVLRkT/sNy5kieAdd7eHWdyNALWi2352xrGyjhu0ryiazjJg5nR34KexTMijaH85L3q21m5mIid+R4/aCJfc/ueWpLfIvfSnypNxCvuM5X0rh+qFgUho1ky9N/U/EsQJ1rYyVaOSYtUq9Mz+pyUCsOCX2xGhePSL5c5mvFO+vS40ZnYWUeevH6efuqrk+mLkBjiJrSNXKYiX4pPwOnQCfZ4kfTwHsJB943MOgzLAVyHMMHSA8r1LEUxnkJcMnwWCbOja58Q4k88koMMyLjfC3Ru/2iWpuAVtTQ/RVxcl0oxlm2Kyhq5DlRy/r3WAJgeJsRmsrY7FQH5mQJ1cKQSjrRz9Xs=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1692414405

%PACKAGER%
Felix Yan <felixonmars@archlinux.org>

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

