%FILENAME%
kconfigwidgets5-5.113.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets5

%BASE%
kconfigwidgets5

%VERSION%
5.113.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1172660

%ISIZE%
2791409

%MD5SUM%
1cafc811e5b62c7d27702e9b03360f2c

%SHA256SUM%
747c60ab09d6e15151cdbd74911240491dbe56b466f089f0ca182e44157b3714

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmV7csAACgkQek52CV2KUuRhLQgAjWHOfVhFBE727aVwJWbFSe8/RSFVQA0iHwFsKRhFd8CoJRUFXFrjn4jOv/mIgv5aMd3c2JVJMVJi7syhKlzefqIPs9Ik/tdCQ6M7oMOTdSKClMB+ljcWEc0LAdiHffTkzE3u9sTi/9a2QzAdNGP0UQtQJsJxQk5SS0vj/oBYZ9JFhyUSf9r6avml6d0untjX7sGfAbde7Di6CNnvkZZHhbMcJreOK4gAXV52gQoWJXyczsub2AFrz0eAv+F0IslbdA2qEM6i46ruBf/ilval4i5SA5q95UqkVTwysQXIBNC2IrkT3TLyfx49zNVDtVHd3p+qvTBEkfAelHyn8qtL5A==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1701557951

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%REPLACES%
kconfigwidgets<5.111

%CONFLICTS%
kconfigwidgets<5.111

%DEPENDS%
kauth5
kcodecs5
kconfig5
kguiaddons5
ki18n5
kwidgetsaddons5

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
extra-cmake-modules
kdoctools5
doxygen
qt5-tools
qt5-doc

