%FILENAME%
kconfig-hardened-check-0.6.1-2-any.pkg.tar.zst

%NAME%
kconfig-hardened-check

%BASE%
kconfig-hardened-check

%VERSION%
0.6.1-2

%DESC%
Tool for checking the security hardening options of the Linux kernel

%CSIZE%
348182

%ISIZE%
11889826

%MD5SUM%
fa11344e97e06ffcbb148fbbf8b128d2

%SHA256SUM%
ddb90e285a3de7e27a412410f0048c776c3f37c3440b52906e196eaf46afb6ea

%PGPSIG%
iQIzBAABCAAdFiEEtZcfLFwQqaCMYAMPeGxj8zDXy5IFAmQu7Q4ACgkQeGxj8zDXy5LmPA/7BuPhMKKW7rUdP6aLQoTLEefn4RMCxeFlQMckBcc0tYyKlOmU4ALCj0wqqwuusQ6yeWvkKs6eZcPp3aKfwz1Z9ohRlaFhOXxVGLwRGYnxSwoGCWF5ccDh7hhypDMyFkLH9hGEV0Ism9/TFuwkNcwo0NfGoELQS+k5Xe0B+Nk1nPCeW97zgxBPAtWKP0SVJjVV/1lVQLeyLDqH3ax0oHwXaPCui5vvM8lWtWoU27N0OA3JGIpZ/SjDS07Ex/EHqy2gadEG5CeMkJzREqxHGL6VMFMk6x3+eM6kGrufOR8oFAZAgu9DTTEX9CVVK0pLccjzvzzeaSXbDcSJncPRSl/MQB7dJjZgNLSjqETrCEY7kv4JmDPBPN/RfOuHHckpidPzfn+taTaQbm5gW9Bfsn5tm/AtJmptkksYnfeVp6xKePiOfWuJXMslGFEUyvEtCAOOPpNrtLsyAKN+47Z7ODulcJZhCcIh5JHmNxXgWlIDXGgND0/XWWyhYlWkSRpigUGNSgC/KGKu0mkIpyYb062VJN7o9uIRccIJzb95Tf32Zmo97eIEHZcWW+W9YqeS16AFRXjyk2J3o5Lo5tmZ9bf72NFlNfnDqdUwXXOqpk+C+fdm2ZxQ4rWCird6OjnPa/EhrKpW0yWWCOOBFQIq01kbzeF0TA+OSc24xZrfqDVSHDE=

%URL%
https://github.com/a13xp0p0v/kconfig-hardened-check

%LICENSE%
GPL3

%ARCH%
any

%BUILDDATE%
1680796903

%PACKAGER%
Felix Yan <felixonmars@archlinux.org>

%DEPENDS%
python

%MAKEDEPENDS%
python-setuptools
python-build
python-installer
python-wheel

