%FILENAME%
kconfig-5.108.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.108.0-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1220112

%ISIZE%
3172613

%MD5SUM%
4257679a9be9212ce58772da200e1948

%SHA256SUM%
fa998f82d46b2c8ffa8c5c0225c0b71ef2180fd441428fbe6b6b61fd2112203f

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmSp4EwACgkQek52CV2KUuQ+kAf/UTxNdBgSwCY14iTFfM8Bba7RtCPYZ3c7KIpGqH0sjscECt8zG95QHf053ZBg7E0U56dU6vUDYTT9hNxo3v6DN1UiCizuZH5TgWBmnsl+oCNiwr/zQLMaiNHvG8gm4/gSbYJ7iV+smIfhnQyCq7AVPYXb1uLhTiEce53eDgNv0xPEOvAT0O3eO2IqpJbsJO5gtxEAZ/7VCtCyd3jA1c1DWfu0B0RKB+PwS4pt3nfEctF0PKyDageF8uTzincwqHHTXF5UEwrke5/TjwWKyMdm9nRT7RMNgO8/3lTddwTb1QfAyxGt2aRs/JLTHHUrR61QiYMhi3phx42vXid10KTLCQ==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1688850788

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
extra-cmake-modules
qt5-declarative
qt5-tools
qt5-doc
clang
doxygen

