{"filename": "kconfigwidgets-6.8.0-1-x86_64.pkg.tar.zst", "name": "kconfigwidgets", "base": "kconfigwidgets", "version": "6.8.0-1", "desc": "Widgets for KConfig", "groups": "kf6", "csize": "684129", "isize": "1983475", "md5sum": "c5570e25b25e84598187c86d982bfb60", "sha256sum": "f30038b21cb368c06989d6422880840a397cc8bd5a322baf275b8bcadafcbd46", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCZy8WIwAKCRAtoqzD7OTc5n/qAP9GoZWNE0U7oxsjtqxfSWFsAtRhdX+vMLD7wGyOzDhvYQD+OUmjZNL78WJNObr9u+Vw6tCl+gl3WuWIV5Rsfo3chAo=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1731079099", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "kcodecs", "kcolorscheme", "kconfig", "kcoreaddons", "ki18n", "kwidgetsaddons", "qt6-base"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-doc", "qt6-tools"]}