%FILENAME%
kconfigwidgets-6.24.0-2-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.24.0-2

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
361869

%ISIZE%
1411675

%MD5SUM%
59b69d8bf5fb333dde76ad67f1dd992f

%SHA256SUM%
9a57f3fff1477a194815523a1023bd95d4325f3e695846628bef2697f4f58ecb

%PGPSIG%
iQIzBAABCgAdFiEEtZcfLFwQqaCMYAMPeGxj8zDXy5IFAmnAQWgACgkQeGxj8zDXy5JmIBAAhD+cXnDmD2n1PpHaqg+yUnoET+mB0VmK9pId4zSISIzHDVUWHLPFlcy1niqUJI1LmvWoerRR7sO1DXSeHR+JN/gETVfswuq9G1xpVPNJuICoAfbQ/maaOOpBMpRH8omSkgGYC380NL0q0jbdtA3LsHCqBlKyRJy2zevtawpp5O+4A1feJLUt7sjzZzsfrDVUeC/ReckVkr98bgAlS3wVPPIVTubbBOc1CHJdTTppMjZRZycGBa/WXDY7AIBBUt9t0gcPiSpMHYLm8vdnkH0gn5q7NYps26+Y3wJBAFArw5yPAn0bmHBv3v519VSoQWfJdfT3+aFs/ze3l7sZMfR7OoL3nUJOH2QBtY8ohfk8ak3hcO/FG+EJw4KFoCweAjlho6+EVpNZK6dWtziXxPcHPPKVlZojFN9ZNRTbZwmQoh37B7LBjfdj41djiTg+qV46hpADvos6ijmih9j0x1vC7/55xklr3awvubsSvqM0mTC+Y9VzYolAg/bn4sG4E39V2I7Ix/p5CCIBlOYQsibu1tLFJPXMa1z2pfx46SFbaKlO0FeKOtUnmgKTtTFlsQa2x2Ihuv8l6fF/v4IZEaCshUSUQl/u8iE75yZbGuOWmKtSD8mHMsoxqlpjupbTcS/GTWSjhsHWDwB5JAyLR8LCs+Ja9Xl7cSHL8trlDMqQ474=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1774207310

%PACKAGER%
Felix Yan <felixonmars@archlinux.org>

%DEPENDS%
libstdc++
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-tools

