%FILENAME%
kconfigwidgets-6.20.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.20.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
361296

%ISIZE%
1411644

%MD5SUM%
b42e038da8b91887eece27bf4bde385c

%SHA256SUM%
48059159dc4525caaf49ac8265f26ab1f139f69472de4222dc693167d6b2c410

%PGPSIG%
iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaRtuowAKCRAtoqzD7OTc5qqOAQDE0Dl5ibfV7Np4t/cXuqIzo2b3OXNQKDcTmHGrjouysAEAhHcR7PmJhldrw98/uVWiFB6CUXW1BTLuwNYLLvQUPwY=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1763400255

%PACKAGER%
Tomaz Canabrava <tcanabrava@archlinux.org>

%DEPENDS%
gcc-libs
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-tools

