{"filename": "kconfig-6.20.0-1-x86_64.pkg.tar.zst", "name": "kconfig", "base": "kconfig", "version": "6.20.0-1", "desc": "Configuration system", "groups": "kf6", "csize": "514587", "isize": "2300416", "md5sum": "b5a2ed81b2167c8c8609fa314f8a18a6", "sha256sum": "665e132b544b5e069591cddf22b0d3cc676889144dbea0c193411eb3bddf210c", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaRtugwAKCRAtoqzD7OTc5pG/AP90PFNqdWLxt4m/OFAKXTehA9yvy0CIcv7RUEXdFWqa/gEAz/RoApAEiT4ohOQrItH4SpfvS3Tw8R+n6HDpDlcGYwE=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1763400030", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "qt6-base", "qt6-declarative"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-tools"]}