%FILENAME%
kconfigwidgets-6.21.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.21.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
360728

%ISIZE%
1411665

%MD5SUM%
4a1c870558e9bc5ff0041481164d38ba

%SHA256SUM%
23096eacb7690bed025ec3a7d912fea0835dfd7309541148af57e962c2a9670a

%PGPSIG%
iQEzBAABCgAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmk8ORcACgkQek52CV2KUuRgfgf+O2zH5Egx2FWPg4DIhSOxi9DkA+tL6hhOHVa3l/AR5O9dH/LS/wDMPYRiJGt7IglLPbO8aBK2Q+jRpzPOzOVpftSc7evxpUxQ+Zc4nTrYYR/w4DFupLLE23dR03WiVTfR+VuAP91noK0jik3muIM7mCDguKBjA5ey+r3FhDbeZ4/ctiRQbmIIPywCBxx5f4dIjGJFXdBxVR8hmidb1dUlZNwT0aPPztLRQo+h9TP5/3mWxulBI33CSU1rfJbXzkULR0SoJlxbW7miJOMSbjjZtunuD01z47xuj3c7AD3NfPEfwNFsLenXR+bVqTimRHjK0g4+FCccPcDe8jzH2BE3Fg==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1765487483

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
gcc-libs
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-tools

