%FILENAME%
kconfig-5.105.0.r1072.g51dd2e5e-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.105.0.r1072.g51dd2e5e-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1411386

%ISIZE%
3387876

%MD5SUM%
c5ddcdb2d758ce8660e770bdb445c0c5

%SHA256SUM%
6a29728eb2240825ac3a84e845284106776fb6ad8f2c112697a7a3bcaa51a43d

%PGPSIG%
iQGzBAABCgAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmRGoWcACgkQJ5589djVbsjkNwv/d1I2/eMqWLlMOMYJwRVFQmx27LJGkMv9fKDV285zMbpkO/ELPWwtpWPNZYt3WWIlPMdPYKMH07hF3TivMpEY9HNUptUNhdiWXX1K27ucRmvrVYoahZBSWGfu9os2M/TlEN9fuTlEFU5Raz4LrYMqh+7sDw9+ibdr9zQ5+oN8FNOQLPWifV/r0Uo73GaWBW6ejLCazdfFIhkydYCYscw5NdlWHU0JqEGENZSaeyjyVR6vR+zta0LLyHcLMyExM+hu3RH+Qzl7koF+5Eskq4PjClazSZlc06giwXvPhnNlKIv4yaakJRIn02nS0lo++ZDN1SgVNIv+T2nIIoJoXosUeDR7PyIlFzL+HQ42NozU4EKFFszWv5ecWBoBmLexuqwROmaUCgYO1RLavnvF/Jl0zhNlNbNEpMYjbdv4scNYXfdQ7+PYNX0vmju5HOAG66/8utrhcPNUTgvko6PRC2ytgrzim1cCrS5hcPMbApglK5UyGcBm3xPnIJGQT4R4k6Af

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1682348949

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfig-git

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
git
extra-cmake-modules
qt5-tools
qt5-declarative
qt5-doc
clang
doxygen

