%FILENAME%
kconfig-5.102.0.r1042.g107b9754-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.102.0.r1042.g107b9754-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
1471699

%ISIZE%
3575061

%MD5SUM%
4e75cb7b3b04cee5fdeeb1a4a819830c

%SHA256SUM%
5e0bc16dbb9f098874e65653dba02d22be878698b10e65bc7d9dfdfa630a6a26

%PGPSIG%
iQEzBAABCAAdFiEEOfDsGuULN+XzGW8J2tOyEWY8omgFAmPTAbUACgkQ2tOyEWY8omi5qAgAsfvYQB4JxqUZp421VL6nA0+xGbQ7Q0s4fOH8o3XGzOVuIsLfWxTEBpfLOq+KxKk4FL5AcOss17gAEQR4o2Wy1OtYvuzeGx+buiNzCaiVaRcejpjZamWeYPaVCRe6p1A9zcvqDfhiLvXC2TjTS6b/fKqlwfJfDlfIrVaTrhaAJhxvI1GkfY++85Ml0Douvgk/iyRxIvLUSyTWtIeaWz36HtYgVsxUMOQxtXaft6enSxtFW8C/3Mn8DQKMYZb0Rp2xbepu5AZ1gLoXngwYc0aPN7FkHVOBFmKJXLEefhcLODm7MgjXeDxK18kPav9fj+sVOQhDPBcpHtaYdIy9P9i70A==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1674762258

%PACKAGER%
Bernhard Landauer <oberon@manjaro.org>

%REPLACES%
kconfig-git

%DEPENDS%
qt6-base

%OPTDEPENDS%
qt6-declarative: QML bindings

%MAKEDEPENDS%
git
extra-cmake-modules
qt6-tools
qt6-declarative
qt6-doc
clang
doxygen

