%FILENAME%
kconfigwidgets-5.105.0.r893.g042b47d2-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.105.0.r893.g042b47d2-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1317072

%ISIZE%
3029524

%MD5SUM%
59bf6f88211ffbaad3e5d1825321a76e

%SHA256SUM%
9a0e17bbf2e85e079917e60787eafceb5a2db0865cee245d22dc369df97f7807

%PGPSIG%
iQGzBAABCgAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmRFP+sACgkQJ5589djVbsj0TQwAzPYPk3vz7H0F/+sB54rLVt+ryobC4AoySGfDftv30pnaUnLG6fOMYl7ztC+nCn3PjUQz/gZW7iT+EgQhjBm42aCZci7Wz68rZ9ADi4W1SByFh+DTclCY0Gq23W567El4RVxnTokoUnsjr9LOlS8XaKkN+NLdPx5izi5SAGKxiUAv9jr30Jcpe9KU1Cao5ekw/a1xwDpzRH3CVBFPyv4SC3UuLFNe8xnj1XlI8hJbH3qIj5tysMzNrV+TRNuSnz/+q89SErUZbpujZQiVm61z9DYiImzB0G3HJAvJeUeYkLo1BJhCA96yrN5LPg2rFwpgy2hO9784Dm8APDjMfsWyd8kNc1ZWmvFLFiiT9JZNPs2AWzcax2Jrq9rY89r16AuCiBQ51HUZgDf3sC2Mmb8hUOQHjP1TKQ6WRBjQGrS3WPK64sH/msZr7DGg7zaYrKDrxpWMrNtLn26wdaq3rX+kHpSwFl8P5dV2RhNy36xw4ffQUemoYlaIPcVEoy0YB2os

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1682255841

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfigwidgets-git

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
git
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

