%FILENAME%
kconfig-5.106.0.r1083.g3c6d59de-1-aarch64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.106.0.r1083.g3c6d59de-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1424728

%ISIZE%
3446063

%MD5SUM%
6d83de8b10113ca007dddaf90b93863d

%SHA256SUM%
bb992d91b60ad8899a7f341af538089d1235d253626b34b57f6b1d9024b1c222

%PGPSIG%
iQGzBAABCAAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmR/m8YACgkQJ5589djVbsiOhAv/fUITT5Xr/NB7E1FtDpJjrG9KYdJAFSjEhDi+HuPD1O2lkJTpFa7ProVgCz9v25+yKMwaqjN74EKAo+gMUSapFXO6g6FERhw7gnSSWQkJZO15ghxbGGZxl7TAxE3gLhY711BkkeATYyDDH1qplmQSGO3BduUf3Jhy5KuVoN2nExenUmDwIQsSVaerDlJFROlmb0e13v3Lqt9fUJG0cS5mNbG6T+qSLOntYLsEb+WG57S6C7Bm16y1pvkEp1FWshUCmIJOZCogUxdGtknjJkqEg5QVP8xenZ+aHEOAZ0DAVmYXt5H9spYD019W0Oe2bUHRRIqwoPFf0wAIJtmxdy89j9oF6ausAAn4QibY+/9ZtWyd4dXZkItz0/HeKyZ7D4JE+3tseWk2Mru/IhMVHZ4RPviX+epxtrT3tqIJM4gEL0gx9vnVgrF6RhwBnaO1c3/iSVCUNP64c/vhxC4l3VHsf9JlYBIUa4OXlHAQaO7YoR4UTtivU2aSn49N+XxnjWMl

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1686070943

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfig-git

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
git
extra-cmake-modules
qt5-tools
qt5-declarative
qt5-doc
clang
doxygen

