%FILENAME%
kconfig-5.102.0.r1042.g107b9754-1-aarch64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.102.0.r1042.g107b9754-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
1464311

%ISIZE%
3591357

%MD5SUM%
f7ea0d0438469034d8979bdac1d2bc0a

%SHA256SUM%
98d06284bb954f767c16beee2463cdb191b39e2a4897d3e3cbe70927a5b290ef

%PGPSIG%
iQGzBAABCAAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmPUCT4ACgkQJ5589djVbshXvQv/c3VmmBfLCPeJyO2XI1BKGSTdcgDuADJUQTTYpu1RzVAFmG4CQ4a2LPxej8Mp/0XSNXKSv3C43V+I8z3hVhesokTzp0NvaNEvS4Lq3nj5M2eVHcsVnQs5e/SZpXCfFAUfqLKdzJ2AYlqgaMUl37G0yO4e7zwu4MHV/ctEtPR0lKBoqMNOlziwOV7p0Z0U4Y240JYzvwa/BaG96upx2eqKWQoZVqdK4CqgokqPVeTNhNd095Iv5de51JwYKgErH9zu+M0RKxpgQ0f4F4skA8E3VWZ0TMlGbVc/gcEYetgzp1qeY74k0HXjtwPpaHJhIbh9FBzR9hPHpXCK4V+Zj6Ynka1RAuBPASguF35FDWMfwPd/tp9WgmqRYzrL9tq9v4s4K7hMd248M+g2bpZqiaYKrMG0oRfKGisTXjIETMnzaH0SiSajTH3gkVB8/KoYyySbNfFiatIJLiqyDjv81ErZU3NkLKDiGOyY92znXyiHh6MJoRrSitZX5kTIkWXDjIZf

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1674831952

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfig-git

%DEPENDS%
qt6-base

%OPTDEPENDS%
qt6-declarative: QML bindings

%MAKEDEPENDS%
git
extra-cmake-modules
qt6-tools
qt6-declarative
qt6-doc
clang
doxygen

