%FILENAME%
kconfigwidgets-5.103.0.r867.g09cb5c18-1-aarch64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.103.0.r867.g09cb5c18-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1322798

%ISIZE%
3075351

%MD5SUM%
ad57d2859f8c8cfac3b117d3e3dd747c

%SHA256SUM%
b3c9100194f59ea99b52d1ca8a766d1c48df0acc733f81747f9a4158bc632819

%PGPSIG%
iQGzBAABCAAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmP6qAkACgkQJ5589djVbsjV5wv8CpcN0+ES/VDw3IGbCYEigITuRhCi3jNjzUcrSSuw//59zcIbnYWmY2PMaOHEU5XMPyZvNKbqELnTS07IjVA8dpRiBrjFA3Ud11upml7c9zG+KFRvERl+Egu5g44VM6vyg3FihRIFwShxxWye4cE+J0Bd9aFw8lOXsdEs7NwD3ZSkyY+dNwTf7NO77RISwejhufv5ULDDZkconnXEMJLoOXC4Ub4KFuuOSsRtIEVhoFD26tvd2U4IMu/bonsk7gY71LhQ368vWJviGCxx3XdQWEeeC+1qCXIeJXtE5H5dTWBQ2TOgQ/gcbbk9VhWvOeK4BkVIhbXrep2HMPRXjMwrDGWhNVnFiImU06uCAx47tIUQbnp5wpEXbcJ1b+HjoGSwctANobcUceze8i803Oi/cW3ZDtNuvpFxt01GAgCRb6ElfnGiOYkGkEzo356l9HmGSS3UeF2qpDqVf62SDdDyyAGMLPuEGnhJ5/hbKRJgEfqEXmVTzHwUPevlBrUkUBM9

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1677341281

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfigwidgets-git

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
git
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

