%FILENAME%
kconfig-5.102.0.r1022.g40ff273f-1-aarch64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.102.0.r1022.g40ff273f-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1418227

%ISIZE%
3447177

%MD5SUM%
31ecc87ecbef1a3b3eb0a651fa3a38a5

%SHA256SUM%
18aed11864aa38d05e642c8caf9c78bd757c574690433541b3246f9e86141e70

%PGPSIG%
iQGzBAABCAAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmPGA1UACgkQJ5589djVbsiF1QwAutIoQnnsqmKGRVNCqv22+Ju1Oo3pyegUbuVS7enVNDLmkTHfumRk0W2UTlt+dCl7K9FKMGVcavuxXEui9D00wxTZgKIhFyK1UxR42blajKlGhwdBoRk/ZqOOZikOEfcHhvlH6jl8Y/7+CoccVBuazuD/vN8ntNmkz3a2LwieEyixdeYCa48K6h+GVO8yXN10V0pHgcOsiCurY8DJS32//c0kx2GFr58ClE27VRlMMVRZGSeH/OMosZRqs1tUMgk3EK5bczxYqypxrpu/skoDN72QjS/z9h/2pfEa9l+X0+7zQ6TIphapMymnHazVtffiwj04pDszLM6NsmnDxnyoaTI5ddKoSnXMVncpHp719Wr9KduYYaCZmrGCZ3KD+dDccwhlOmjh5hH9jRi6q5tyNzjCYaYVOXeZ90RquUWxsnAH1dVLY0nO830n3vu4US/m4vPz94YiK04xXmIA04pudXkQZ1JwT2MamLzbOhQB8zti25cHHVtgmfa8/ZgGfjyL

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1673909069

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfig-git

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
git
extra-cmake-modules
qt5-tools
qt5-declarative
qt5-doc
clang
doxygen

