%FILENAME%
kconfigwidgets-5.102.0.r846.g2f5d6a41-1-aarch64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.102.0.r846.g2f5d6a41-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1318337

%ISIZE%
3066948

%MD5SUM%
abcbe1acfc20008d6f29ace1a43707b4

%SHA256SUM%
97348d5db044f1b9c22d9ab96502b6e0f399f93fe4f4d9e6c1253b4d2e6bda47

%PGPSIG%
iQGzBAABCAAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmPGA1QACgkQJ5589djVbsjfjAv+JUjzusMXazs3JMvMu3nnLZsLObSYpOElS8Iw02l3JklHj7Rf7MdDwCpLfkhTmECH8Ose8ME/+UiqFpFUnxk48rrHQbvbOywAh3JzWX1ceGxzXqSGwg9n+/dE25Ep2NEnKBUrSIV07RXCHkorU3e6EFCoXUpHq19tptxavRhoO5MjivHEr8uyxZHwveqepE9uKyWS6/NZN9yCd2VA1gKAo3CNqg45wLBY1vrdPEEPQmUkk9XWYlSd7hz6LjZxQmJElTaqMSa28zhKUk3n2mGD1e9nuHt124Na4qP3cpwjcWVrWpyDUZ2I3Q1Tu9roO7njS0r8ImfGk8zvQW4l2Xk0hgRoLLab8ivK378kd95Y1w+5KQI4mILVjblsjoLSeQJYCPpwtLpZkKHYuS53e5NO5KKmYIQgYAP4hc6UsNk+ltPw4FtufHzSaaBAoH8jtxK5KVV3TQNlTk1eB35JnvO4ljIKrpROSNOCUL0jPGFLiuRXyNvYOugCBqfZchzdVfQy

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1673909332

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfigwidgets-git

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
git
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

