%FILENAME%
kconfigwidgets-5.103.0.r871.g527cf1a2-1-aarch64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.103.0.r871.g527cf1a2-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1322592

%ISIZE%
3072265

%MD5SUM%
fde81bfad7d6ed609bcc4e4bd98ef4c7

%SHA256SUM%
ea30adba6685ee2290ad076a59e5dc92738fd8a771c2e81332568dd3decb366b

%PGPSIG%
iQGyBAABCAAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmQI3osACgkQJ5589djVbshCcAv4nN+9vT5dy0nKn+YS6uBxJPnK8pW9KjvM6oT9XN1/PVMDebF7q4bwGy7Wki//UsylbA60GuoEr1IAKVzHMXJdjrdhjddS2cLipmpIatTLTDyk9ILvNMUApRVOCDeSG6npzeINpjXzt5PmMhXctHd2I+MHHDaHJErbaL6Jn1GbXhMJFosRcMsHaYvpgiiR+yPN3ZuamPzw4ITCpVbUm/RZkHXxNkYFq1d/KTs6llBrRRfMRQjRbh+tL1NLrLxgXQJRLEeX/j562zHy4SjdhCyHuCTxjSf8vhRPg+dNmoXDEAcBefmUkh5FhmqrwmbauWR6qg9NDtyPuy3dJWTtMQHNwAWTDklawLA8Nc7/K8YVPM8k/vbHDGNdo/ear1quuRDY09sEXKOwgPUM+uiEwXNFJyw6huW3MZkydHxPSpMx1984RTmxJpaROKNkzwhN/JzraVSdSgiK82CajwLTtcx3DzPmlponVG0jSkZGS73PnMoUb+WnaeyhYPz6g0JijZ4=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1678301758

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfigwidgets-git

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
git
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

