%FILENAME%
kconfig-5.106.0.r1082.g1b47e6c3-1-aarch64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.106.0.r1082.g1b47e6c3-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1425143

%ISIZE%
3446075

%MD5SUM%
0e70fc246166362f25b02f25a3c3ae69

%SHA256SUM%
829928210f4ed974e5baa4e4b9671a36ad048847cc12abfe193fe6b5d4f7e65c

%PGPSIG%
iQGzBAABCAAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmR79l8ACgkQJ5589djVbshtBgv+LwwzOSA3ykkW4bqudwxaBcC/vYO9n2jOaOfd0qN8ae6694nW9LYomNXfm3lLsiI+mN8ZeNFduJoT03LTigXioKmMHusB32I+nSn5GmPKt5jT+/G2HpcRoyGjhibdKcmNYLHH8aO0VJSC5dZWWi/fa289KQypVOKKtRiBCDiJCJr0l9kBqB5KceT4uUYA4rcWHcuQM9D2fM/keKSSA4L4e3Sxt60P8co7C6y3OiJTv7fCcsQNcZbpNMQ+ePkS+w+nv8jA13yPs0ip+xYgE5+8tgMeuDuXewSgQndTB43P1ACNYMiCmrvknGLUAeUXB5dYiZr2mQMVK0BA+DvurS/6NUFaaDwR/DYro5ybyN2XJ1Y6WgXpy0IIn3bV16Ym+N/rrcyhHtIq+4zlsNNQ5mY/9qhwXk5yu8lXKz5kp3hhNq9R+MxDzcssHwG2d289tYWlOrjf4DmsNeFc3zhI/UWELAYLAw3rixCiSkPeMZq2bfz/OVAbigRUvVlQuXnL30hx

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1685812147

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfig-git

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
git
extra-cmake-modules
qt5-tools
qt5-declarative
qt5-doc
clang
doxygen

