%FILENAME%
kconfig-5.103.0.r1050.g3f84ef82-1-aarch64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.103.0.r1050.g3f84ef82-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
1463200

%ISIZE%
3579531

%MD5SUM%
d2b5a12cda2b083a10c8e98bd6ad2dde

%SHA256SUM%
7eb68b5c642819b6b2ab683fa84acd769d5ac23523560f79728c3947e00fdb03

%PGPSIG%
iQGzBAABCAAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmPtIMMACgkQJ5589djVbsh7Bwv9E2BneoECelrHokzcv0HPebJAf2s9gS8THLfvOIxs+nlZMM3iQrrfUDICTldMKOZe9xjFO0wLVWNg9gm4fiEcXNrvRx+7rIsHpqpHom5Rpjf5h0NM80kI3U6c7d0aQq0gdvwSP5i/nxdVryuYQ63LwblvaX6XyG3yZRVJKjdWAKqLJstcOxtFvAmDcjQhLnIlzElIZw6qupVsWm2khunOf49dtmjkRL9Tt/xw/iOfEoPOatB/6QFzIyiiAR92N+NJSqJM4HNGvJ81XRFqYHsz6bsBEf2emS/2f0cN91pcXb9pMrQbiUxjUbZYRdvcXTc8L83JMPBCd+oWcIsnSoojymBP06sJFqLm8i6FOgXyP5PNf/LoShNqPVBftBO2jyyEDzR6CifGdeDWPCq8tcEDNqX8cyIt1V792RROfzIYqSTkgp2MSpRkwC8sAwOo/xH3XkO9qJ20H3ofsnJFKR4WUz72eLCF++9Iuqj2UkDT6BTbewdd7FhVq41N2aUPnqQ0

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1676481143

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfig-git

%DEPENDS%
qt6-base

%OPTDEPENDS%
qt6-declarative: QML bindings

%MAKEDEPENDS%
git
extra-cmake-modules
qt6-tools
qt6-declarative
qt6-doc
clang
doxygen

