%FILENAME%
kconfigwidgets-6.24.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.24.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
361964

%ISIZE%
1411675

%MD5SUM%
98983848a8436f77519dbaf0fe704404

%SHA256SUM%
d7a381b0b60f086e6a00d1c7e6fe3fc81fabff3a8f39a3babe06762b86753751

%PGPSIG%
iQEzBAABCgAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmm3NkwACgkQek52CV2KUuQhKQgAniwevTP7iULyAwdg5jr8XATQ+pKHtLii07jqoI2/oHXhmfxzL4UYBWa5Rgxzxt7YwcOrFD/VLBK1Kl2wjXbfkCixidpUoeh5uJLg/hoiieTbxg2R1kFecM1MWypkL9buA1IYePXgiK/sARE53v2a0jX1o7c1oA6VlTK7v8uqh3W0odaNYtRjJr+E+iIJPFxJrkvRclsnhISuNrUQbboM9xSPWZHf2zNMhYCYWQ/wv6jnC8wE+sMPCtyALKmVecupueFQBTb0E/zclrb7fV3RJuNOuU2FJoJZRHJC0Vo6jhzfWZN3PjKSzdM6pm4fZ7FYl0ZgWER4JE3s4D8MC3f4sw==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1773611160

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
gcc-libs
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-tools

