{"filename": "kconfig-6.2.0-1-x86_64.pkg.tar.zst", "name": "kconfig", "base": "kconfig", "version": "6.2.0-1", "desc": "Configuration system", "groups": "kf6", "csize": "1284407", "isize": "3289908", "md5sum": "4d969d8c6de06a3689b5e2cde0bbb913", "sha256sum": "9189accad7d473f3216326b79effaf4d2235ce8a75ae9d6a86e4a6f08b5e4115", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCZkDFpQAKCRAtoqzD7OTc5qzPAQDNbQlJgruH3oFoo55hEkzQxPOtqxWgbQ97FLkqlu1qjwEAsZVt+/Tvfe/K531am9WRPg7eTowmK7XjCRDpXZUzNQc=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1715519652", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "qt6-base", "qt6-declarative"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-doc", "qt6-tools"]}