{"filename": "kconfig-6.5.0-1-x86_64.pkg.tar.zst", "name": "kconfig", "base": "kconfig", "version": "6.5.0-1", "desc": "Configuration system", "groups": "kf6", "csize": "1410560", "isize": "3789179", "md5sum": "005063777e6e5e7fe9030b557163d6e1", "sha256sum": "d1dfb3824e26ac899f336551fe8b9e5c7b4504c0dc4f2e378b36a31ff093516d", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCZrY/sQAKCRAtoqzD7OTc5o1hAP9NrobxZF/F/pUiK58wFXU0KCrfWoIpy7oqbwEva/+c6gD9EWPpYh3oLuSiM/3EuA/zDBBUXLe2DKlesU0r+r205QA=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1723212515", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "qt6-base", "qt6-declarative"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-doc", "qt6-tools"]}