{"filename": "kconfigwidgets-6.17.0-1-x86_64.pkg.tar.zst", "name": "kconfigwidgets", "base": "kconfigwidgets", "version": "6.17.0-1", "desc": "Widgets for KConfig", "groups": "kf6", "csize": "361612", "isize": "1414232", "md5sum": "3678bb4041e0a95b328422e9e1ae782f", "sha256sum": "89072e769b870ac733b2bcff994d79bd384d3435873690a5e9d7a43f49bb9af8", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaJawPQAKCRAtoqzD7OTc5lGHAQD7cQWmmC0VnwdWuVrEBTxXjpwXcN2Fbyhnqly5VfoJzgD/bYcolpbtncDWSQOtK5gSi6z0kbgyeXVl1wU5GSksiQ4=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1754686634", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "kcodecs", "kcolorscheme", "kconfig", "kcoreaddons", "ki18n", "kwidgetsaddons", "qt6-base"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-tools"]}