{"filename": "kconfig-6.18.0-1-x86_64.pkg.tar.zst", "name": "kconfig", "base": "kconfig", "version": "6.18.0-1", "desc": "Configuration system", "groups": "kf6", "csize": "513113", "isize": "2290499", "md5sum": "6398a019fdcc7810006a8fd4699417b6", "sha256sum": "fe2ed79250d2c5383442aeaf726281520dc9c907c20a001777cf9fb81248d1ce", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaMWEPwAKCRAtoqzD7OTc5p//AQCUL/Ii3VQmbLWXlCrQtibtWvL6QmVc77n4TZ+jSGQ3FAD+M6EBCocjLjvBe3ApiEDcrQSIcOSg2daQmLeGK59Ujgk=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1757768952", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "qt6-base", "qt6-declarative"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-tools"]}