%FILENAME%
kconfig-6.27.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.27.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
536710

%ISIZE%
2398596

%MD5SUM%
a3505a8f932d8fe9024e66afec6c913a

%SHA256SUM%
8d09f731d2749c00372ecee6956d569a315c5fba7b306ffec94347d581bfe956

%PGPSIG%
iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCai2B5wAKCRAtoqzD7OTc5ifLAQCh56tNJOj1U0XxWL+k7UNwhYGoRauW5Y/gvgsvsa5wFgD/VOlWVVVMx6qaTcxt/i62WX0FDN24tWgNg7qGC50G2wU=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1781351018

%PACKAGER%
Tomaz Canabrava <tcanabrava@archlinux.org>

%DEPENDS%
libstdc++
glibc
qt6-base
qt6-declarative

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-tools

