{"filename": "kconfigwidgets-6.2.0-1-x86_64.pkg.tar.zst", "name": "kconfigwidgets", "base": "kconfigwidgets", "version": "6.2.0-1", "desc": "Widgets for KConfig", "groups": "kf6", "csize": "793761", "isize": "2075687", "md5sum": "8a9a006d191f6c9529c464d4b6f3d1bf", "sha256sum": "8e1e1f83cb1221cfc1d82b193c3b5f3048e7088c674c2917492404768d513227", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCZkDXyAAKCRAtoqzD7OTc5nuNAQCelssCw5QAiI3YjgThu3Ad3C2hsledD6X18Js9MD9yQAEA36DgvLYSW+kSO9b61WxovzxnMS4b3B6j4Lr8v4F2HAQ=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1715525502", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "kcodecs", "kcolorscheme", "kconfig", "kcoreaddons", "ki18n", "kwidgetsaddons", "qt6-base"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-doc", "qt6-tools"]}