%FILENAME%
kconfig-6.15.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
6.15.0-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
510206

%ISIZE%
2276016

%MD5SUM%
6d574e8ac9468644537439065877162a

%SHA256SUM%
6a279d11ccfc6af674f2c877e7ca19fd7836653dc1019df4097c6d718a3f7f63

%PGPSIG%
iQEzBAABCgAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmhMZSkACgkQek52CV2KUuQoegf/b/z5Ub6NPSrlQsnhNkKmL4KBlTCdstnTV8bqXrxOATUP66S4skAVRBJGm5YswxfnyfaYzkV6Sh+7KtTYjacLaWztKBowjql3duXHrKV1lSH9kD/bAvGlvCYGkoBQnTbYFpSxSB30ODAk37ezL+Lfak5DRWdZm0xgFVCRSZf3sJiBwbf6NU3Z93AzUjdwmxCfHiukXNlz++0eKa3g/lCYQgVNrEj/wq5kXD2Coz1pdZJxvEkplJZFqrfgIxnkmX0tDpZFFL964v45oA3khwO+Kfuf6NIdwZpxTbEQzKfBxiReN5N5X/w+FM/5ZmFd/fhKndb1Fh5MMAd+xdnhOV4ulw==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1749825262

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
gcc-libs
glibc
qt6-base
qt6-declarative

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-tools

