%FILENAME%
kconfigwidgets-6.2.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
6.2.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
793761

%ISIZE%
2075687

%MD5SUM%
8a9a006d191f6c9529c464d4b6f3d1bf

%SHA256SUM%
8e1e1f83cb1221cfc1d82b193c3b5f3048e7088c674c2917492404768d513227

%PGPSIG%
iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCZkDXyAAKCRAtoqzD7OTc5nuNAQCelssCw5QAiI3YjgThu3Ad3C2hsledD6X18Js9MD9yQAEA36DgvLYSW+kSO9b61WxovzxnMS4b3B6j4Lr8v4F2HAQ=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL-2.0-only
LGPL-3.0-only

%ARCH%
x86_64

%BUILDDATE%
1715525502

%PACKAGER%
Tomaz Canabrava <tcanabrava@archlinux.org>

%DEPENDS%
gcc-libs
glibc
kcodecs
kcolorscheme
kconfig
kcoreaddons
ki18n
kwidgetsaddons
qt6-base

%MAKEDEPENDS%
doxygen
extra-cmake-modules
qt6-doc
qt6-tools

