{"filename": "kconfig-6.26.0-1-x86_64.pkg.tar.zst", "name": "kconfig", "base": "kconfig", "version": "6.26.0-1", "desc": "Configuration system", "groups": "kf6", "csize": "533503", "isize": "2377158", "md5sum": "c3f68cc25fcfc3b82d91552257687ed3", "sha256sum": "2f2f9f68607f94cfb586843e3d9bd6ad2522b9d93bf24b05952162ccfc86f619", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaf8EugAKCRAtoqzD7OTc5tuOAP49GiQjQDC1rYw4hMU3zsHyfjvOjct9BQY9M2z8sP/KvgD/fofnufBTF3UcQbk5mbjQmHzFegk8mJBK6fZdpoHgsQo=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1778312223", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["libstdc++", "glibc", "qt6-base", "qt6-declarative"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-tools"]}