%FILENAME%
kconfig-5.103.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.103.0-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1221716

%ISIZE%
3178763

%MD5SUM%
6f9193ff25736e43f4c7f6e10931de12

%SHA256SUM%
8fd771f4e81f36d789e6efd02c83c9e33aaf8baca03fd565256e41a31da63bb0

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmPovoYACgkQek52CV2KUuQOAwf/ZGPGlFNDeVB0c67h0cp5tGsWVq3K1f15Eqh1PPHz1B3iVyGTdRQFW6QIHrroi/7tKzwfTn+nFp6f3/BawQKTAi9WzxZe9cD1Zz6mkQIvLYmR8ZTluiFsVGCQF9sTzFEUebUWR8P7PHKb7wSv3J4gcMd0JBtYQJFIkGYzRdDigz35yRqZ3sGCKAZNaufvYftov+lGw5DzqDBeKeLGy7V9uq7+6+vvI2Iw/QKldQ3REuTMCdUAUqIpEL80V0saIuy7KFc7NydeMd+4LhkKfty1lXbtsqcuTxGKYTlrBQvwGilGoAQSrLV25tilSMpQCRJp7KiYcV6/UFcl6gVgG7vQWw==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1675611336

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
extra-cmake-modules
qt5-declarative
qt5-tools
qt5-doc
clang
doxygen

