%FILENAME%
kconfig5-5.111.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig5

%BASE%
kconfig5

%VERSION%
5.111.0-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1208251

%ISIZE%
3070100

%MD5SUM%
90b082e948d8b5f29b4353bad2325a60

%SHA256SUM%
2bdf03ce76cc74fa195abbedd0ee650933b7f64ad8876de5dc489b765f97c712

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmUwxuoACgkQek52CV2KUuSH3gf8CJ33+ixLfi/8kFAVXnG3E75lBlX/mQXxqOL7N3F6JqnuEQhe3rJ9p1rhFhSUXK2nlE66TLios8ubLIymQ6wR8JebfPazoRXYVCvhmwFB9G/XkkoIBWtEwDb/qkvf2Q4NiGch6otzW/xsLCRkclLtd2ao4OWmSgs0xNPDYBKfNhCtBlAO5oPNipu8x9hKsS069u4mViHnvy4Qu/gR8OZFxAo7AnEfzMcSHs0RM7S/k9efKqVbNu2B+qg37UY4rTpI5UylwcRQSuwwOfNdqhQsZnI3+05g0ZrdMUZkmCvn/oqLQpjuKY4i4VE2IqU09R0Qs0O1H13B20QU+DSW2v4rHA==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1697114500

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%REPLACES%
kconfig<5.111

%CONFLICTS%
kconfig<5.111

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
extra-cmake-modules
qt5-declarative
qt5-tools
qt5-doc
doxygen

