%FILENAME%
kconfig5-5.110.0-1-x86_64.pkg.tar.zst

%NAME%
kconfig5

%BASE%
kconfig5

%VERSION%
5.110.0-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1209167

%ISIZE%
3066004

%MD5SUM%
70d09fa295f49bf48924b1b4501a863b

%SHA256SUM%
c04086cb967aa1c4ba3779b26eda23a37786fa6b2aab725cc7c67d72e88748f6

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmUX2wsACgkQek52CV2KUuSYrQf/dfr/nzH5om0iYN7jNOfejxGAec/naWWFjdaW47ELdLALvd2++YAn5pMbIaaAojm1EzqBs2IYdk5+wIESKS5JS7ymb91bQ4BeRpad+6uSLjp4eCFDA0SLgdH45VB/zA9N7vFafC+oj/mDlsWfBMURHMejdaXZR/lDt2je+mbUDBjxFFAlfWU1+b9WkBARrSgQ34rEQr0cEABEXQIUZ2kJJIuI2MLC3S26fmaMTFLANzQEabM94BeTd6i2xVO5XltjlJZUQPa2YFadt/5LYKD9UK3ysx63CPU9oEjvStRFkYwXTOXKR7kLAFnoRCikd6EoG0w7ZFaqCcBcruaUt8uN0Q==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1696062143

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%REPLACES%
kconfig<5.111

%CONFLICTS%
kconfig<5.111

%PROVIDES%
kconfig=5.110.0

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
extra-cmake-modules
qt5-declarative
qt5-tools
qt5-doc
clang
doxygen

