%FILENAME%
kconfigwidgets-5.107.0-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.107.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1180174

%ISIZE%
2966641

%MD5SUM%
449533383ba36e142b403966ec1035a8

%SHA256SUM%
c3101fb1791f133584e9a6b680f54977f73ebad98c98deb8cd83e941e5a7afb7

%PGPSIG%
iQEzBAABCAAdFiEEFRnVq6Zb9vwrc8dWek52CV2KUuQFAmSEU1EACgkQek52CV2KUuRMbgf/b0HdjQTEHmpon1PGfASAC57/HETpzzATomHfG8Jsy0s36V5gYZzfV3Yyug3QJpdsDrXH/Ap+XnLGvPIhwhQljA4/VXt0IrDucqxUBZUW/mmrsF0IAUGiCFavqVxvNf1nelGCjwm9b2OpZnrkfeOSml/GJNXkRdC9HCcg+R/cf6mQtmLN/mPM52SZzFLBIe1fZkDKHuxn08YvGQxcNVWdi6gDkWL2Lyc88e8e4KiBeeNFQsJiq57bZTMKy56RsK8tPvM42l9I+gXpB/GjzkFJK0xOwvV1zMdRSeWkupGMypHyfW4sEphd/hqGG9rf59NDKClRGX00jlP7jdUkF4lQDA==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1685829385

%PACKAGER%
Antonio Rojas <arojas@archlinux.org>

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

