{"filename": "kconfig-6.17.0-1-x86_64.pkg.tar.zst", "name": "kconfig", "base": "kconfig", "version": "6.17.0-1", "desc": "Configuration system", "groups": "kf6", "csize": "512766", "isize": "2289627", "md5sum": "02e573e8726e14985558a214ce3113e4", "sha256sum": "be42de1758efc39ead868283ab1aea468f94b5701476a913898be5ef23a1f306", "pgpsig": "iHUEABYKAB0WIQSP5qfUzELIPJvMqOMtoqzD7OTc5gUCaJav2gAKCRAtoqzD7OTc5vvXAQCmA3UglLlfLviQHlOlYwYJWIsdrjeZ/scmYQl95nj8fwEA/M2Wp5tqdmQ9HpEDn2Cyu5xNRK/F1iOWYjHN+TAWrgE=", "url": "https://community.kde.org/Frameworks", "license": ["LGPL-3.0-only", "LGPL-2.0-only"], "arch": "x86_64", "builddate": "1754686407", "packager": "Tomaz Canabrava <tcanabrava@archlinux.org>", "depends": ["gcc-libs", "glibc", "qt6-base", "qt6-declarative"], "makedepends": ["doxygen", "extra-cmake-modules", "qt6-tools"]}