%FILENAME%
kconfig-5.103.0.r1051.gfc46a221-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.103.0.r1051.gfc46a221-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
1467476

%ISIZE%
3567331

%MD5SUM%
a472203d8253c89df90601349583f522

%SHA256SUM%
a6d8ba0a937298ec5c9a8599d5cf0a82f87edf4f5cdd82589af962112713fd17

%PGPSIG%
iQGzBAABCgAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmPuo9kACgkQJ5589djVbshBtwwAi0Ri21a0sLYrsFctT31QYrk8ZKrtGGWZifWwhUmCiFFrwZ3uUQBTnlhiBJo9g86OGmXXtio9WVQG8YSopR6VC0O/odAfZ725XsqYHuosv2sVYrTjMlIA2/Wn2LCIbiEp9hMyv0GH5tWBILqT19tGSVLmthO+mUku63lw/oga75bVtuWPn7WBXCDq0619bEwT6+xghOzFzk8s4YeCPP+bTsJV/67HTNjPsEq0UPkSmHcH79CvBeMxxiMpAwbfNMtbe9I/ql6c7oweSQnWm/D1OQGP7mGnarWVQYj+nxzB8G5tJiSUg6D5Zr067KL61PSOHOVlj7OE+6B1Inn46BHUn4p7VTpWXZ+K7LZqTyyvLWHks1sgfh/BfT2/n44Ya5e7OPTGGT9b0/jY1MKym+kTltIk856YaavK0OuaxqxKV6dPlGGdzZd+JZULZVBdwfbJ82+A9ZGJWU3OQ5okkpKjxaVd+deqrUdJKYW5QRgc7TL0ABzR7daY99RSf8HY/8BY

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1676571004

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfig-git

%DEPENDS%
qt6-base

%OPTDEPENDS%
qt6-declarative: QML bindings

%MAKEDEPENDS%
git
extra-cmake-modules
qt6-tools
qt6-declarative
qt6-doc
clang
doxygen

