%FILENAME%
kconfigwidgets-5.103.0.r865.gea3846a6-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.103.0.r865.gea3846a6-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
1132559

%ISIZE%
2794132

%MD5SUM%
8b1fbe93eaf842649fe3555723b61025

%SHA256SUM%
e65ed86299a5cc6bbc05dd554026167f74f3f8811de5930a03f18be5091ae6c6

%PGPSIG%
iQGzBAABCgAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmPyuKIACgkQJ5589djVbshiDgwAtmZ16CfSGVlPeTSzccDq6L5kmVGMVruJ0INc88iiYBDof33BRXu77dFc3GbHol/hvkhTtqikapD8yLaBE4k6hEpW2xXlLDb8UB9jcTNs/bYR/2qPow/x2jsJ0Y0rfln+OwRi2lV/bX8JW4CEztE0EPdArdEeuf3zGKaWBH5ObHq9/rj06EmZ40PqcLw43zfrL1aPzRSYbUg0jP6H/F/r92nz25xDSOoA8LZTZkMvP5yeifiOs5gqqmR6DHxA7mcNwtzmWX14FZ0XLDLTNw5N9DiyMf0bQPDZP+IXmXJLHbc4c7/shZ+fooBOj2HBrV5+g6X4Im7A1lUBCJtFlDZnbflZvSqrK1OJtFZujslQqK30zXtSIR7L/CjhKNkfEGeFk97oCxPotFLp6dVynSUVGhccXIwlw+jvwErADNd+7MBfnN6WJ5KNMtfvPUMasBKb8jjW4keCldpDRpy5wm+QREuVPMEZZy8c1ePwSrJnWLFVMxCU+LM/c1Zzc4La7YeV

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1676846703

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfigwidgets-git

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
git
extra-cmake-modules
kdoctools
clang
doxygen
qt6-tools
qt6-doc

