{"filename": "kconfigwidgets-5.103.0.r868.ga40403fe-1-x86_64.pkg.tar.zst", "name": "kconfigwidgets", "base": "kconfigwidgets", "version": "5.103.0.r868.ga40403fe-1", "desc": "Widgets for KConfig", "groups": "kf5", "csize": "1312743", "isize": "3026290", "md5sum": "7234e3422fbbb050cf28d6fad94b267a", "sha256sum": "64638d1f0efecda28cca4bda97d32580ab3a8492f42d6f46c138d9694fe004aa", "url": "https://community.kde.org/Frameworks", "license": "LGPL", "arch": "x86_64", "builddate": "1677910440", "packager": "Manjaro Build Server <build@manjaro.org>", "replaces": "kconfigwidgets-git", "depends": ["kauth", "kcodecs", "kconfig", "kguiaddons", "ki18n", "kwidgetsaddons"], "optdepends": "perl: for preparetips5", "makedepends": ["git", "extra-cmake-modules", "kdoctools", "clang", "doxygen", "qt5-tools", "qt5-doc"], "tokens": ["kconfigwidgets", "kconfigwidgets_x86_64", "kconfigwidgets_unstable", "kconfigwidgets_x86_64_unstable"]}