%FILENAME%
kconfigwidgets-5.103.0.r866.g0c2d684e-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.103.0.r866.g0c2d684e-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1313083

%ISIZE%
3026158

%MD5SUM%
77af10cc6216bcabe0679f1ddf809977

%SHA256SUM%
4f1d7c860492003b87bed6229eac0100da30db7ededeee845f915b4c0768f5c8

%PGPSIG%
iQEzBAABCAAdFiEEOfDsGuULN+XzGW8J2tOyEWY8omgFAmP4L0EACgkQ2tOyEWY8omg/ZQgApgZ3CMrtcx5bs4PSkZkKScJ1xHDsk6wvjz+rKRLKUIlVEjU3rdY0Kmc6pbiAB91nMsvQSQesZ3gwBfSxRuvKEUzL95UYtlwB+MkhzGwVeW//sgSJSnZ9r3rywLR/u9b5F4cvpPQTZzABHODhzUW/p/sve1oouD3Z3WcV+F41PuzOHq7uEw/HqMMlVe3vRRdB5hqvF50x5DGyu/UYN7ClF+8swL+eKZXTr9HkhV++gKkEopmp6Yk+iEkRZyWZuPz5yKPzVvJSb6nZeZoJ4IV8POWrkUF3KPBYfF3+dQDz6pc5IfAjUpDnM6C1QPzHVY7+sQhR3/57iCKQ9onY1C/Ijw==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1677204506

%PACKAGER%
Bernhard Landauer <oberon@manjaro.org>

%REPLACES%
kconfigwidgets-git

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
git
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

