%FILENAME%
kconfigwidgets-5.103.0.r877.g608ac63c-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.103.0.r877.g608ac63c-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1314310

%ISIZE%
3027372

%MD5SUM%
ebe284bc3ca747e0934bdb6f6e5d54e9

%SHA256SUM%
5b0b7dcdb447da8ad9cac0b9a928b78c73b5fe9f6fb65124f96c89cfc10076db

%PGPSIG%
iQGzBAABCgAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmQPKMQACgkQJ5589djVbshukQwAt/6Pb96xbPCZksHn4sqXxs7I6TmvZNCIX1ZUJqQKEo59S3SCIw5gFrCQfCDbMcqMVWe4BYMgQDIVigi351rC2wcL2FV6+W+CvCawE9JPXeLU0JUPjsE8CtATLmAUOt59a8FPKQljYKJty7g/f2lGIta44e2g8e7tX3QMO/a5QJXlM30dPnujMooJ+MUF++X0fO2IZCoo9qw6UDLx9dGwrsDmP49q1lVsLJmZto9DQx1DrDMufexb9L/CH7S3AP6OvMfEFQYkl8E6ziAetn23y2AlT5gHH4YXfmCFY5UvUv4nNwBQmVdJNMWLdli67SazuTmp/0VLXKGXVI+jIJgH83/mLqVWqRlh+J9Ox1CHj6ZORb+uJKwdzmL0E7HqcCCJCp9pcsjkgsw/ZyD2MMjcZei87lq9Xqi9vwGZ+KTTCKZDPMfb/sM0239E3UZ7i7LcS1cJFK1pDYrTZSpQYqAkK1EW36qE6QrT/NOkRLE6LyaFRH8C9kBgGcCo1lDd7yCQ

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1678680558

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfigwidgets-git

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
git
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

