%FILENAME%
kconfig-5.103.0.r1050.g3f84ef82-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.103.0.r1050.g3f84ef82-1

%DESC%
Configuration system

%GROUPS%
kf6

%CSIZE%
1467926

%ISIZE%
3567331

%MD5SUM%
650f7744e3b42121f974aadd97dccba2

%SHA256SUM%
7f4d8ee1b060149294ec949f0ff46d2a0663d8cbc77e5a39089673fd6836ac48

%PGPSIG%
iQGzBAABCgAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmPtECwACgkQJ5589djVbsgodgv+PDbjR4I1kEUX8wF4RNy9IyEVYTOTxbqo64do4JnW0BL0h6nbC4nIiT3OG/9S3R8agRgd9D0pN7jUYPOuIqiiCxe7qYOl5NIliMed3Itad8cKi5WAHlHT24h0hVOvUgBsOezQ8ZCldTetyQsl5l4ZFs9meHbrlWLtk7doy15Vi/TqnQe5YkXKts91hreg067J68UeJLRDL0h6k2wPcNd31/aws7lhCJsLFqiCX9ZLsQUulT0bpZWlJn5eLmId6fBjAs6bHDgHTuHyir5vvzksQ6NKB6l7ZRCtbjk5qJRpHA0GethylJeWfWt35lpIjR1RcGaaEbpHBqxeN+8VTKpgzUIbz3/gjGjLkzuqQun866EVEC03WgaDsTkaR3ACRiMjdWa9L/fD9x8ZmNj9/PQ3m+pZx4uk/uYyNU799AHLJ/HbHVr/W6DUdZ5LalMI3BURdc0DjKlSJN9pCnd1AzSJZawgN+xQjxIuCreejPmRBvn0RDZtHsOkdET4daGk+Sxh

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1676477999

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfig-git

%DEPENDS%
qt6-base

%OPTDEPENDS%
qt6-declarative: QML bindings

%MAKEDEPENDS%
git
extra-cmake-modules
qt6-tools
qt6-declarative
qt6-doc
clang
doxygen

