%FILENAME%
kconfigwidgets-5.103.0.r868.ga40403fe-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.103.0.r868.ga40403fe-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1312743

%ISIZE%
3026290

%MD5SUM%
7234e3422fbbb050cf28d6fad94b267a

%SHA256SUM%
64638d1f0efecda28cca4bda97d32580ab3a8492f42d6f46c138d9694fe004aa

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1677910440

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfigwidgets-git

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
git
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

