%FILENAME%
kconfig-5.106.0.r1084.g4c3cd07d-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.106.0.r1084.g4c3cd07d-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1404642

%ISIZE%
3380740

%MD5SUM%
dfa0c30bdd5dc87329c29194b621cf40

%SHA256SUM%
4122837247e1256edbaa4d96e5bf9dfb84a0fd5e0cfca6383a54f306b840b254

%PGPSIG%
iQGzBAABCgAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmSFnV4ACgkQJ5589djVbsjz/wwAnkhYFCQQhHZFd7AOHm0o8hUHKF7iAPynLjs+kJWaOLQi3VQZ7gWVUELZMWDm2KCjep/3ooqb59TGtzzXsJfCDnDJuZevvtJ30xO0TAwAignJuPsTkF6S5guYbgu9u1PL2v3hRebHOvj5l+eX9kpZH7UpGZettBtTbGy6lw/wNY04WPX1quiEGiiv5dz77HPS80vc34CXnM5W81Bai+RC+yXUnaj/LKVZmQZbMn+2OO/vpbAHD3D7p+1YzA83JELFOwuPyzgP3T7hdHJxFHy8cHlqiROc+AAq7MmFeOYrglIUXmOYTsUXUADfLdstsGCPM/ocItAxI1J3lbpd4JYxGqS6tqm452OgDNYv7EEboGgUKf2p2qIAfUqKc8YGrLhbUZ4GbHZw/6uv9SB7KC5FYCj8CVGLcdtv2FI5EgifGgKLXXAGOxJVqn1ie5jDGQ1iMbQiU0m1W/+sYUH4nDLCX3CnFEms6hDwPRiFAeGZy6Xi0tJs9I+aok5uwYJpR0a8

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1686446169

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfig-git

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
git
extra-cmake-modules
qt5-tools
qt5-declarative
qt5-doc
clang
doxygen

