%FILENAME%
kconfig-5.103.0.r1045.g239bb9c4-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.103.0.r1045.g239bb9c4-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1406233

%ISIZE%
3384056

%MD5SUM%
b7f6aa74b9f0e1661fc9d1d778b53d53

%SHA256SUM%
97917f529222a2ced13707435cd9f6dcfc7a7809f5e358c99203a980f76404dd

%PGPSIG%
iQGzBAABCgAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmP7vPEACgkQJ5589djVbshofQv9GNz9+OEDSPCZafrpMhe3qVCqW2J0B1HvTKDBtNFwD21R50BvDl4ifCJhLOb1uBWM7Gqwt4FN4C8+T/QaD2LLBMW2uCaAP32GygiMlOQc/hUw/cr2bakiOllrIe2ksCAVeQpH3vVPtA0FEua/STN1zYAZ7rr1bg/xfsfBg1dh7hwGBT9r6hXK01gMwutsTWwK/O5I5RGOnNvOEKYON7Vb5TayTCQytnJeZ1iGAp2DrUw0A4xHO+76P6htgfvf8NsfNWqavhNapM6OouACSsAGPcAXa72QqMV1bFQ+jPsWD00Llbd7WVPF6cSbK0fIRJe+UfqM4VHLxE5dDF1sKG5mlTE4/ZxzCEx8XRLWTvgUwAIoWCD6sqQP0Q0g8/825D6S432tb4EKYZ62APmn4ABXVHSwHMRPCYFOUSEtv9RLcqy2Q4sitoIjHrZPOnlsAGYspcbU5wcCpmaCCfArNA3LNkJwhOdny92Uz6npo0wtSFt0TSkPLz9o2UzJBpl4oCM8

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1677391741

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfig-git

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
git
extra-cmake-modules
qt5-tools
qt5-declarative
qt5-doc
clang
doxygen

