%FILENAME%
kconfigwidgets-5.103.0.r872.gb093cd13-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.103.0.r872.gb093cd13-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1314080

%ISIZE%
3027265

%MD5SUM%
db03ccd0124d6cc84d3846bfdfe6cb4b

%SHA256SUM%
89b84064ffd02c28f1f44e85ce7b183f18f9f57e6d66a3492e30cb24a1239dbb

%PGPSIG%
iQGzBAABCgAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmQKvpsACgkQJ5589djVbsgQWgv+M/RwO8YJ6Bt3XUSJMFtQdOp/myddvEjETzBAagHObwJ1WcCFrlmveP/pkjWVvP+7G4gRJfGOIX205294Ps320wHdEPT2aj8qc7tCPCzLNBFO6s0Vrx3uaABCegrYbrRjJ5YNMOC5fqenBSRsVw/2MbFUKv2JSwyEdcM2Eyj03sIXTiK0iw6ecd02DCvW+p2qLWY4d+cE0+0VDkfVTob5hgpXYuU1fzM+iYcc5LWYoBfjnOQ010j2vC3nyWK+NzUkyJBaz7bg1BRhNH6CshB0J70I1f0HOScxl9h86oxKFiu64hNByjJN0KbdE290ATn7GkBnDrRLuCh91cV476i6hrPdMEcKYeZvwhzMb0kMbvMML9oKjO3xc+embgiKljT28OmIZPiMdjhjgoYH96VFX5uBlg8oEGYduoWvfQ4+PsoMd2LgcWKNGWG0IX01Z9fUtueVibzKKX1a5zd/QaIT+uWT/c/8uhHQGw1md7QAMQIVofv043e8PTUMgMOWWnxB

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1678406623

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfigwidgets-git

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
git
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

