%FILENAME%
kconfig-5.103.0.r1050.gebc81930-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.103.0.r1050.gebc81930-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1407609

%ISIZE%
3387495

%MD5SUM%
8d11536c8e4ff640bae4bf8d51ce166b

%SHA256SUM%
0415f8f39070a1794ae9caddefc9d15f8ccb75c843bf3f490d4bb940a2e958af

%PGPSIG%
iQGzBAABCgAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmQOe4kACgkQJ5589djVbshH0wv/dOJY4fULRVGd5nTsxQ8k96a6G6+f5SOWMO33zhfbHiOSHDaOpfF8zN1W7NkwM/GDjd7hReuf15dDiaqwX5/3etIW4/vsFewV8extf9bedBRfyIa+sAiXK8Hf+BzjfbYYrFeDKG4F9iVHmDrJf8Mn9t8IoQfeiTTcfDyGHG79QJR7k5cdYh62N3AfAt/G2tLjokHtFuPNJneVwD3r6aHIcD+7oYeWFtjAMbW0MQV0U4lVCiOsgyyUNYeU+tvzQk9H1uNAF1GKf6W3yw5/fpFYwabyXSXkWQ5FoBIuXXLx7Z5rCeDbtyislfotp7DLsgUgh3UAc4fWjrFwp2LPbGl6/9LWtfdCsfRyDQgxXLd0PzVQJKbWUdtgDPVyMDSCu1I2gdRu1yJ2VaSCO/OZBUXezLNPjmKEteKVIloYwmbm6jA3nkj2q8o+NHsgxJ27ZTJ+fTIpSEQIMtg40MA4EYUkSKJJb3+wwHuh5A6pW98V2t9wjs7ItIY+EbtevnjXnCqv

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1678644872

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfig-git

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
git
extra-cmake-modules
qt5-tools
qt5-declarative
qt5-doc
clang
doxygen

