%FILENAME%
kconfigwidgets-5.103.0.r875.g2886a187-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.103.0.r875.g2886a187-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1314789

%ISIZE%
3027286

%MD5SUM%
9a11cea14fc8af6740a94021ff756eb8

%SHA256SUM%
aed0cbafba53b823fab2bd6dcfa6b7a12a6a20423bfa733da021d2df1ed694d4

%PGPSIG%
iQGzBAABCgAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmQNgkUACgkQJ5589djVbsj0HQv/aUCY+ycSXuP7CP9FsYbQS4N1iRuxIXnEx0TkZGQjvWNoONuUPjseJAq9F58zTgXYqgMUI87zoK5yn6oUL7cKdomGVtnXTETB6gVKK3B6bT5+K3+5/JDuUtz6jPyZf9K1IDTwOjdjiD92WReD1GIV3lWhuWi5ILokQWU0AupSAkzjT9LcFlA+XN00PmlAev5ON63Wx7DLBm04SmhsP7LYX+ZEd4AT3zq7jssQmaxcqC9YIxivHIS+L3oAeva2WM82uo/waV9guYKfR/1AEGxUCCqzZLyphIVum8ZnVjGB4ctKY/TKzuA7+e2DL5eZ8hnekfEfK9VIZJfZzGCaMDEJzMlxMrszpbDrLGYGbFhz7cdJEbIwq1DJfO944oY9htQIoq1PU27nRAB6zt858r/XPVZ7rL3kokMhh5piMYIiefFCQDVyGUcItfVBH0KlQx1VCKX+PCut3NJD9zgfM5WjmInob8lPhe1QpZEc3YcNsrvDhksc8h9CjZ9BrHi0d0Mq

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1678580502

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfigwidgets-git

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
git
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

