%FILENAME%
kconfigwidgets-5.103.0.r874.g1c4d3e5f-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.103.0.r874.g1c4d3e5f-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1314142

%ISIZE%
3027286

%MD5SUM%
82ad769757f0fbc647b507374a047942

%SHA256SUM%
3e3bcf6165692e4710be3b229b3e145c0357b5de048f09ddedcbf45435a27e77

%PGPSIG%
iQGzBAABCgAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmQM9c0ACgkQJ5589djVbsji/wwAiumRICOpg+NohvGvqcLv8Phl3eKK61lfWH0v3g8o6e4+LVcZM3Uq91GtvqOzVPuJPGwQi9oav5CqP2dBOJ07NLQtmq1VP7EpbWXWpMsOzuZRFu22mOGSrqt5NXMzCeKluN6hwD2YnVAgzNy9IQgiLWGgmFazDQivXa4O8F7vcGWsrE3UNOv/PSdpIiYRIqEZ11/gcADWWJl5ZAEhbJl6qkzVKnfChcIm6pIA9dOpeVgXDyu7py6/dGPUUEqRiyeBbglyc8K4c6blT9g4BjelbWSYbcc8mvYB/Jx3aGXj7zb1PQq3SAkvS+V1OVlnrZGAP+Y5w0RbIsFo8iFPhB5NaEzKmNh4ZcjlmHegBuvdKwYEyj5dwTCuScQTD0QgtNHwYua+CAtZSXhQAhOoIlOx/fbUY5OfuNhlaIx5Cpil69oFCXwYg7Jx6GLzh1qozTXtHdRPP55+IXrJlKid+GBtjNH5PiLTjGoh7ngkeb0aIHmza3O93cv9qwpylikcoYSx

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1678543977

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfigwidgets-git

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
git
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

