%FILENAME%
kconfigwidgets-5.103.0.r871.g527cf1a2-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.103.0.r871.g527cf1a2-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1314130

%ISIZE%
3027265

%MD5SUM%
2d5472b00dc4ebd44adf1cc860c6825c

%SHA256SUM%
0b76dc0bb2bed4b636644880962839eca5d6f96bff777d0863a2a9dceb0170ac

%PGPSIG%
iQGzBAABCgAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmQI3sAACgkQJ5589djVbsh1FwwAk4qvRw5pTrS63iDiU2b/a0pArW+fhIQgsjPo7BzR+tw+guTn1QW58qukhK2RaEwAzlstIpJ2439b5pWBU9UOsGe4/YGB8LV+yuYnxusUATQ+1DGqm/QTS+UPv3EYI6J4MiXUdKxU9Qp1H05NGwdHE1wQY2DDwDvaS7iZFJuE3P1/DJjPBHfDfE8Ii2DQRoo1Eo7xL4CBCrs59MWSBiYZ10K523frO4leIUWCVz7BdZHMTjl6wQO3gToh+5AWfmxeLpdL/ZLBnl87QfXKln1CWGXYxzr3/NqBgv7XdKUvdGTlLv1+TzBdXq9jTOwPjAiG4wHi3DuaswBDGp3nlYtX2MFYGuWnVFPZ1LulpoyjPlyOYX2kdxpm0GsFf/HhR0VgF4YffbQQc5oHQToTQQKzA7os4XKsSUiscRl9zwtOdAGjkKSydmM0nBFc2u2XBEDoeUq/uHraLIjIAe2LYYzmrJzzE4XcUz02UxJ5Nh0fZgp83DgY/mtOBq6ClrzJue0S

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1678301745

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfigwidgets-git

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
git
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

