%FILENAME%
kconfig-5.103.0.r1043.g5a0c60cc-1-x86_64.pkg.tar.zst

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.103.0.r1043.g5a0c60cc-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1406889

%ISIZE%
3384026

%MD5SUM%
bdfc8913ddb11e2304468be4a12aaeb6

%SHA256SUM%
2f6ffb4e9bdcb83ebe2857411b9968a9c008692c9affccc54b91a5af10cebebe

%PGPSIG%
iQEzBAABCAAdFiEEOfDsGuULN+XzGW8J2tOyEWY8omgFAmP4kLAACgkQ2tOyEWY8omgFKwf/W6jWLjMl7L6Ovc6eBrRHPwPzeOIStPUs7quSQJONyKuisY9SlRBlUmHs4qcaQ9c6Ncui0ZLMcf9mWrNm+ykQiolxd0PcKuFXlYZ+MfhNplhS/1EzyGfNAzRv3mzaluYzZUV1EBi1J1/ZTCeoWkZen9OUxRzyo7cxqKtUM/E4aHTX7CopOXkiGkfpalfz8ar7ZplF1UyM2fnsFDnzOc6zFfFrZBhtqLYUhlitLQpbiqPezsB/rZDneNzpZLDLna3jtF8WmLngq7aTPMa0rKXoV+UM3KNwPXXxPuzuNYex5RLuzaVi1AXn053X6G7GRbMRW+b5D5hydB2ZUrTQJllGNg==

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1677204372

%PACKAGER%
Bernhard Landauer <oberon@manjaro.org>

%REPLACES%
kconfig-git

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
git
extra-cmake-modules
qt5-tools
qt5-declarative
qt5-doc
clang
doxygen

