%FILENAME%
kconfigwidgets-5.103.0.r876.ge6d135fc-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.103.0.r876.ge6d135fc-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1314239

%ISIZE%
3027286

%MD5SUM%
b77cd98949d2b69709497d32a1131560

%SHA256SUM%
7a48af7d68788fac0c67a7cf6a186a01290501fb704160c492e177941811c163

%PGPSIG%
iQGzBAABCgAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmQOe4gACgkQJ5589djVbsgIugv/Tl47uY0GsnZCnpyMvn2LkkV/F4wUxLim9p4v2De1KhtcF3CswFpqwYktHFqoEEXuyRGGsRs45lWuYqSmVPZJnQjnkGcm4TeHiyw7rBcQxaiwVkYYLFFAPT8goPgUPl8hwYpfMoP5AeBLIVDa8GD1QCVmk5ClUVK5bHaMT5fXmpiGRsfbkfcrttXW7OdJsH/SJnYeWatcp3/ojGEJm0NQWAxLom4MUnf40eLLZqLocXIxUSkCVOeUmJ9DLI+eTVOcRygKpm8uuKgPzAnREe4mId894jmBnZYyX8/RsyJGMxuK0yg1IcqA8JnVx4ay3FfD8/yjIiLokUBt4DhUbWWhv1w3qADZmk5i2BQREjBGPT4LajHqoF/HpOKY6CWEK/NGSGK5t4GxFZHVRxDHL+Q9kraDTiXYFOiYFIddZucfLTGRb1N02lc7z8cfcTNaBKRbc7SjwCWZsPBw3Yi/zIvfLeczuWaYu2/eG19Ljn3WoLQPY4+EizBds6qy5lUt8i4n

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1678645277

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfigwidgets-git

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
git
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

