%FILENAME%
kconfigwidgets-5.103.0.r864.ge908c257-1-x86_64.pkg.tar.zst

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.103.0.r864.ge908c257-1

%DESC%
Widgets for KConfig

%GROUPS%
kf6

%CSIZE%
1133266

%ISIZE%
2794132

%MD5SUM%
76ef6288bc081bcf43dc7fc2b7c9466c

%SHA256SUM%
c01126751e555b37604d0364d9c32a38dee3253465223bb50316194b2c21a275

%PGPSIG%
iQGzBAABCgAdFiEEO3lN5tQyD85ZT0FxJ5589djVbsgFAmPtEDcACgkQJ5589djVbsjtNQv+JfSK89Xa5G1Vw9j9nmrJyRDTVfuZbI/kCZzX045M6LANKzkY1n0/JO2WBpu5DbYZ+j/ZiGmDQf+oWdwQzMRzkFMmHgnlSsU47Z1IaTijVMZ01iQOuh+wKW2+HLftd2X3ZH8ekBN0w8CJN4yZoVWlbnIv770l+/bQXoBB8wQkKqHHttVyLn2nHwVQVTDCXrvhBmC31HXG+Epwyseg6BT3WSKAqbrbczndj3H7xxK00qTIHEvoKVRt8lg+vlqCXa4eIJYvuLSIkc+FtlpBJbrlksdUoT/plCWepXcegfvALrJJmHb3rVXkpWzymhYq6WDMXJxafdoKHE7ZSmYj0xTIy/TmfqZjFrW419kupolyOU65YgiD99nnLw0rpiP5V1G2v9Cy2u7ZUnahIScS4OqE/t+fE1Vqe75Ro+sViumQMARqM6/MFrJ6FiWICw8NNmZrC3lxbsY9NXU3dOnX4SCmAI7dD6uJK4Ow68vFx1LN7FUWxyxGcOLyuw0YLC1KT46o

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
x86_64

%BUILDDATE%
1676478564

%PACKAGER%
Manjaro Build Server <build@manjaro.org>

%REPLACES%
kconfigwidgets-git

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
git
extra-cmake-modules
kdoctools
clang
doxygen
qt6-tools
qt6-doc

