%FILENAME%
kconfigwidgets5-5.115.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets5

%BASE%
kconfigwidgets5

%VERSION%
5.115.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1146296

%ISIZE%
2869180

%MD5SUM%
efdfdc8e958b8922af7707500cc7b579

%SHA256SUM%
afd75228a8fadab106455bc158f40a03c751cf4f5d51ffb6a4abdaf4251c59f9

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmXH1f0ACgkQdxk/FSvb5qYz0hAAvDYJplFCwV0PW0mta6dEnl6yauvTro0nWXtPz7rR+mbbnpLgn3OZCztWadA1ilYBFJ36Iw3DO0UCiCXUxTkQ6mJLrkN3LnQeOMFS1dKbNlcEhSdXtFcBfK6U33m2UVt1XbbE84TIO4oxhNfGiwJWEsLy4Ca4DgPj9hugMUWqo3Eeqaj9hBWDsApp923scOhrAybCZEAgS3mzrS5XTn/ZKarDE8/e6D2dIbZKagmtVTAnlGCHS4gxzFa1p0g05s9jF9Acbevp5r0Zox6zofisdrAsWTxLVMatu+J5Y8V6q5JxCwcDtWc2fZeETU6QSQgrh5ntVzya1dfllD8toHSCIMs5mNfvmgLqAMjaV7jWuy7b2Rtknq5JfIInvVyd/xGo7yTTDkS4pd+Xfu7thaXWNFamSVtu4DHkYfxUhIWp0Xjsa6OpS4ITPVJF6d3cZBj4wofw5uH1lBxqI6MUyZrgs8xaovVKMBk3vDxK3QERXGDuV2zbR//p4KyCYGH12kiQtj7UN2zUVx2OqfHfMdHWcx+x2sO1NPKuwaLdyoGTOaSGHZznapaDBFG5UaiIm9YbsMzn8VsQG54CLh9xR/zuocKfRFlNAauTYWjOOm2D6m/5HkagO7vAVZflNUTHPezDNS2dk/yX08aMNVR6VYZNL8mns5MwrGZBtT1JjDjfqvU=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1707595183

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

%REPLACES%
kconfigwidgets<5.111

%CONFLICTS%
kconfigwidgets<5.111

%DEPENDS%
kauth5
kcodecs5
kconfig5
kguiaddons5
ki18n5
kwidgetsaddons5

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
extra-cmake-modules
kdoctools5
doxygen
qt5-tools
qt5-doc

