%FILENAME%
kconfigwidgets-5.110.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.110.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1142164

%ISIZE%
2859834

%MD5SUM%
62bf21d92b02f45a49a6aab5b9d74a49

%SHA256SUM%
2e4833b77ae76d28a4c2f9c18900d182eb97866a4b678985698ef961c8cdd8e1

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmT/aiAACgkQdxk/FSvb5qaGuw//cH9bMuecOGz+BcTk5pa/q2LK0GIJCHCLtDBNvhSSH1XBOy8Ofq6UsAvVRlZJDUebRNKpTFRurQQCVUv0WIwMQF+nRTjDAxDKlxQU8oIPOWlapsnBn/i8exvJtHhPBNvWjD7kqf8dM8jRzNR9YlgedryM4Srl2WBvx0+e7iVGd2L70qnZCFZ/a0g+2Nk/8raPGxs4xlYBJpyIEBpcfKbueTalKe7heva/RXn2SEE0zC7PDbs2lwA4HETI2LsZ2l+FHVdmU1mmiusxUVyho9P+dv5MUdFirJWeuqUxKTSrk9YARl6diePuB16Ai/nLkei6LSK5pOROl+h3BhVL2tETmd8sr3RAsqh+uU61+1WWMTShSYk+4/EE1ffzjTa4h2tLc6fU/lwq2IAV2EVnEXKsBdxkPYudmSCG8535aOOo3yPfVWOziz1muz3vIIcvJ5rAAUMpc/5th/pzAE0RkR4vn8V1JhFeTkdmIVdiYZTePV32mngPXsY72V5iKeGNCNhRo6yXqYOOwKBWrs6hphcpyf9PmAbHfXkFfWV2LHl9oigUGcSNO8tZhgHv193WMGOmxUFDNMQchmd/S1jPukwYGOMAjbvHe+rJSn5IvvxgnZvWidgYzPHXCEco6ZA1SPsHXiIBBHbwW7fwa67ZkVopf4nX2n55sARxx0KXppotu5Q=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1694460352

%PACKAGER%
Arch Linux ARM Build System <builder+n1@archlinuxarm.org>

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

