%FILENAME%
kconfigwidgets-5.106.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets

%BASE%
kconfigwidgets

%VERSION%
5.106.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1161172

%ISIZE%
3051188

%MD5SUM%
4d1a859f3ddf5996c99d467c7d402897

%SHA256SUM%
5597fd5d697e671a45405c367172430f082eebe5ae4f4884e7842d7cb9dd0ad4

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmRh+g0ACgkQdxk/FSvb5qZTYxAAhLifafQ1NxkxJLRnFYAEDVEDfDVK0BV3qgcuWem6AHu650zjx1RHLuK0bbJE+pCD58Zn6JY/E/OM4L1b3W7HBIg6IWfaUxvQ41lZwRNzpiE1aV/NbvKLphnabH9udwb4uu2YOfpPIQmKF4rsViX4yMm+UhfHg34u5lTyfyIhqL2wVRqnWuqxdvLfGiBXGP+JLscHIV1knOkHY5e594b1o/HlF2ZaKnZVo72ADbP4+XG+i7VY7pvhIjka37YbGzJyVcHPhhs8nPldAl21fWVKqVuAEUgv3v1iRQAnNCBF7HNUeVZjFDBaEoqyO897bq74UJKnUF8jl4iYvWjeUh/gXfrrFP0/a2vg/AKH58w0C5gOOhT7kKWdIFgSzvlQtSL6txJbHkcsIx52+v1vix5f2DzH5V1RqYqmpgA2P0QsbYVCr2BXWZw2cMCfeVXki2NOxPpIibeg32uqCkr850ae1a+rWvlnVEZuVsY9DDVHyWYQoF9YhWJWJPMstXTVRB8XJ41wqE506JQGSeDzwnTL5Qi3cF1ogwp82s0lmHvT1G+eeANUFBEli06Ukm3X5kivq0JDGqjpC0NVJZwmXzEjGUcXevA7Sc677mLyav4vhEm6QU/3PTGgg8YYYxnI6T8oY7i72lIb1T21m/WmDaMc6DVOen6pcLI0N7KpkBj0f4M=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1684142521

%PACKAGER%
Arch Linux ARM Build System <builder+seattle@archlinuxarm.org>

%DEPENDS%
kauth
kcodecs
kconfig
kguiaddons
ki18n
kwidgetsaddons

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
extra-cmake-modules
kdoctools
clang
doxygen
qt5-tools
qt5-doc

