%FILENAME%
kconfig-5.106.0-1-aarch64.pkg.tar.xz

%NAME%
kconfig

%BASE%
kconfig

%VERSION%
5.106.0-1

%DESC%
Configuration system

%GROUPS%
kf5

%CSIZE%
1215804

%ISIZE%
3372638

%MD5SUM%
1f90067c183a9350f0da201f44e69909

%SHA256SUM%
ea642f4411957c2174103741379e1e00ad1cd105b0dfd88de848f7d3e9a468f2

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmRh8IIACgkQdxk/FSvb5qaqpA/9EPt8egEks/vmvPyAOmxUpX65DgTeyQtZFUP2gwBQ6khFwBFF0GRLN4NpdeC636K8BziIskTVVo+PoKH8uuAu+Xv8imDZvG9qUFrbPlh/qvATIbJerm/47xIGVaCEJ4LDeOGYIAq/nb3CstZKawQx+PfuiIBfGqhwxMS3ZAnqE9+MEtkV/ty3TRaOR2liSUXpWFhcLZrNObRrLwPiTWTnm+UQXv6ri8OwE0WVyJAaKzF1qHyXc+LNw1Y0ckYNrbhIrecfxxVrN5Md1Ii3hi+6zqc+GpcdLyWfOZ6uL1Qn56m9Q7wRvoSjOpUm8/djx+uqqQcU6FhVWSlocufkLDlJXPJ83ZuMl2VtZG3AW9wLlUuD39fdDuxNHQA7XlI+hBxej+cocBOFPIeVibl8ZV2R/7WBtBDKxVMkOR4sk6PtZ1PLWt/P1nloO1v2pmSCHw7eGIFYqNTmJd/fILOnnpeb0YEYNL3dv6+AIXoVbM2ikqzhP6U35g/mjdZFJyNlwCFTG8Qo/tBg3G/1bR1ZeuvsSSE1EHViTMAF+DaXv36ALJEbhVCYA1+6wFjIw5gw5Qi+Yg3NjmRmB0HI/03wDwgLeQT82vAxeMsVTqo5mOf3c5Oeavgd1YFeMuCTvf45OOijqqmffL6DVCGSm43BgALAWq38s4kbBAVf+f4uX8sxk70=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1684140078

%PACKAGER%
Arch Linux ARM Build System <builder+n1@archlinuxarm.org>

%DEPENDS%
qt5-base

%OPTDEPENDS%
qt5-declarative: QML bindings

%MAKEDEPENDS%
extra-cmake-modules
qt5-declarative
qt5-tools
qt5-doc
clang
doxygen

