%FILENAME%
kconfigwidgets5-5.111.0-1-aarch64.pkg.tar.xz

%NAME%
kconfigwidgets5

%BASE%
kconfigwidgets5

%VERSION%
5.111.0-1

%DESC%
Widgets for KConfig

%GROUPS%
kf5

%CSIZE%
1141012

%ISIZE%
2859835

%MD5SUM%
689fa2193722e14c0bc46575219345ae

%SHA256SUM%
f0a2be3e31cf9f8d2cc29392716efcad9df92cb7b3bb6a7fbae9951ecc0649d5

%PGPSIG%
iQIzBAABCAAdFiEEaLNTfzmjE7PldNBndxk/FSvb5qYFAmUyNuwACgkQdxk/FSvb5qZMUw//bHdlfxzYT86x9PvG4P0U6QYpNLS9LnfxwWEhjlHDWBtVzK+XCOeaYeEuHwx8p9V70IlJGPN5nzXqh187NDEpcHUR5uxyQ0p2bxosTEMkXljo9CkDaumOoRNe3eXzDpqQA7SKl9QSozLgONp32LK/qRu8OV4IiDD1J2vIPTb2BEYwjLTNzzOlqH5m+ode4rzN92B54ObCMV99o0JFjWywm5fW6cAVueLpFjZObg5cGxOpChG2f1/1iqcZyoVulHHFwK4sA4gFl58ihCbd4IY8QWWNI9EDxI2XYXgUTGgRI1FQSB3VrW71Vnu4hP0+R5TmvbGj0vH/Ai54slediZbad/+LuCD7OBJ/INDuON9vYEWO17SR1CHYZDSw6fXLx88UX+bovJNI+gO3Wb8+NegJZAH0ps31DriQ9WNz0YgGD0tKmgerdgR6EHk8/Qqo6otFbFRv38nj6etumam6jJFcUDDQpmzX4mIzhsxzo80KgtvYvCxLinGgp4OHQOQ9qju/YAtdIvQ4yN9HIsU3QrTrix1x62S/vJFYUdcgBDp/2Ykhd/Zv8yYZQUASwBSwzmh4bT20od3eiy8ZD3O1tYJKEmtHoseROdwweZHqqzBiVSKu16BCT9ROdMC68tA1ALuazl4Wz37542/Z5RwEnqVGjshlV8RMa1CqGUVBED/KQvQ=

%URL%
https://community.kde.org/Frameworks

%LICENSE%
LGPL

%ARCH%
aarch64

%BUILDDATE%
1697789587

%PACKAGER%
Arch Linux ARM Build System <builder+n1@archlinuxarm.org>

%REPLACES%
kconfigwidgets<5.111

%CONFLICTS%
kconfigwidgets<5.111

%DEPENDS%
kauth5
kcodecs5
kconfig5
kguiaddons5
ki18n5
kwidgetsaddons5

%OPTDEPENDS%
perl: for preparetips5

%MAKEDEPENDS%
extra-cmake-modules
kdoctools5
doxygen
qt5-tools
qt5-doc

